<div class="contenedor_ticket">
  <div class="logo_ticket">
    <img src="../../../../assets/img/pozzo millonario.png" alt="">
  </div>
  <div>
    <hr size="2px" />
  </div>
  <div class="scroll">
    <div class="contenedor_informacion_ticket">
      <div class="contenedor_numeros">
        <div class="arriba">
          <h3>No se lee</h3>
          <div class="numeros">
            <p>01</p>
            <p>20</p>
            <p>03</p>
            <p>04</p>
            <p>05</p>
            <p>06</p>
            <p>07</p>
            <p>08</p>
            <p>90</p>
            <p>00</p>
            <p>80</p>
            <p>70</p>
            <p>60</p>
            <p>50</p>
          </div>
        </div>
        <div class="abajo">
          <div class="contenedor_logo">
            <img src="../../../../assets/img/pozzo millonario.png" alt="">
          </div>
          <div class="contenedor_info">
            <div class="contenido">
              1
            </div>
            <div class="contenido">
              2
            </div>
            <div class="contenido">
              <img src="../../../../assets/img/pozzo millonario.png" alt="">
            </div>
          </div>
        </div>
      </div>


      <div class="contenedor_codigo_barra">
        <img src="../../../../assets/img/codigo_barr.jpg" alt="">
      </div>
    </div>
  </div>
  <div>
    <hr size="2px" />
  </div>
  <div class="boton_comprar">
    <button>COMPRAR</button>
  </div>
</div>