<div class="contenedor_informacion_ticket">
  <div class="contenedor_numeros">
    <div class="arriba">
      <h3>{{sorteo.fecha}}</h3>
      <div class="numeros">
        <p *ngFor="let number of ticketNumbers">{{number}}</p>
      </div>
    </div>
    <div class="abajo">
      <div class="contenedor_logo">
        <img src="../../../../assets/img/pozzo millonario.png" alt="">
      </div>
      <div class="contenedor_info">
        <div class="contenido">
          <p>N° Sorteo</p>
          <p>{{numeroSorteo}}</p>
        </div>
        <div class="contenido">
          <p>N° Cartón</p>
          <p>{{ticket.codigo}}</p>
        </div>
        <div class="contenido">
          <img src="../../../../assets/img/pozzo millonario.png" alt="">
        </div>
      </div>
    </div>
  </div>

</div>