$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-pozo: #04b865;
//$color-pozo: #057333;

.contenedor_informacion_ticket {
  width: 100%;
  display: flex;
  margin: 10px auto;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;

  .contenedor_numeros {
    display: flex;
    flex-direction: row;

    .arriba {
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      background-color: #e2e2e2;
      border-radius: 5px 0 0 5px;
      padding: 10px;

      h3 {
        font-family: $fuente-subtitulo;
        font-size: 14px;
        width: 100%;
        text-align: center;
      }

      .numeros {
        width: 100%;
        padding: 2px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: flex-start;

        p {
          display: flex;
          margin: 2px;
          justify-content: center;
          align-items: center;
          padding: 4px;
          background-color: #fff;
          color: #444;
          width: 16px;
          height: 16px;
          font-family: $fuente-parrafo;
          font-size: 13px;
        }
      }
    }

    .abajo {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .contenedor_logo {
        img {
          width: 70px;
        }
      }
      .contenedor_info {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;

        .contenido {
          margin: auto;
          background-color: #fff;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 50%;
          p {
            margin: 0;
            font-family: $fuente-parrafo;
          }
          p:first-child {
            font-family: $fuente-subtitulo;
            font-size: 15px;
          }
          img {
            width: 100%;
            margin: auto;
          }
        }
      }
    }
  }
  .contenedor_codigo_barra {
    display: flex;
    width: 25%;

    img {
      width: 100%;
    }
  }
}
