<div class="floatingBox" (click)="toggleBox()">
  <img
    [ngClass]="carrito"
    class="carrito"
    src="assets/carrito-blanco.svg"
    alt=""
  />
  <img [ngClass]="cerrar" class="cerrar" src="assets/cerrar.svg" alt="" />
</div>
<div class="totalBox" [ngClass]="carrito">
  {{ total }}
</div>
<div *ngIf="isCart" class="blackBox"></div>

<app-carrito
  *ngIf="isCart"
  class="ticketScroller"
  (emitirCompra)="comprar()"
  (eliminarTodo)="deleteAllTickets()"
  (deleteLoteriaTicket)="deleteLoteria($event)"
  (deleteLottoTicket)="deleteLotto($event)"
  (deletePozoTicket)="deletePozo($event)"
  (deletePozoRevanchaTicket)="deletePozoRevancha($event)"
  (deleteLoteriaFraccion)="deleteFraccion($event)"
  (deleteBingazoTicket)="deleteBingazo($event)"
  [ticketsLoteria]="ticketsLoteria"
  [ticketsLotto]="ticketsLotto"
  [ticketsBingazo]="ticketsBingazo"
  [ticketsPozo]="ticketsPozo"
  [ticketsPozoRevancha]="ticketsPozoRevancha"
  [tipoLoteria]="tipoLoteria"
>
</app-carrito>
