<div class="selectionBox">
  <loteria-ultimo-resultado class="selectorBox"></loteria-ultimo-resultado>
  <lotto-ultimo-resultado class="selectorBox"></lotto-ultimo-resultado>
  <facilotto-ultimo-resultado class="selectorBox"></facilotto-ultimo-resultado>
  <pozo-ultimo-resultado class="selectorBox"></pozo-ultimo-resultado>
  <revancha-ultimo-resultado class="selectorBox"></revancha-ultimo-resultado>
  <millonaria-ultimo-resultado
    class="selectorBox"
  ></millonaria-ultimo-resultado>
  <bingazo-ultimo-resultado
    class="selectorBox"
  ></bingazo-ultimo-resultado>
  <pega3-ultimo-resultado
    class="selectorBox pega3"
  ></pega3-ultimo-resultado>
</div>
