<div class="selectionBox" *ngIf="dataReady">
  <loteria-ultimo-resultado class="selectorBox"></loteria-ultimo-resultado>
  <lotto-ultimo-resultado class="selectorBox"></lotto-ultimo-resultado>
  <millonaria-ultimo-resultado
    class="selectorBox"
  ></millonaria-ultimo-resultado>
  <pozo-ultimo-resultado class="selectorBox"></pozo-ultimo-resultado>
  <revancha-ultimo-resultado class="selectorBox"></revancha-ultimo-resultado>
  <bingazo-ultimo-resultado
    class="selectorBox especial"
  ></bingazo-ultimo-resultado>
  <pega3-ultimo-resultado class="selectorBox especial"></pega3-ultimo-resultado>
</div>
