<div class="menuBox">
  <div class="menuInfo">
    <div class="menuSorteo">
      <h1>ELIGE UN SORTEO</h1>
      <div class="menuItem">
        <select
          class="fechaItem"
          [(ngModel)]="seleccionado"
          (change)="onEmitir()"
        >
          <option [ngValue]="sorteoDefault" selected disabled>
            Seleccione un sorteo
          </option>

          <ng-container *ngFor="let objeto of sorteos">
            <option [ngValue]="objeto">
              <span>{{ objeto.dia }}</span> - {{ objeto.sorteo }} -
              {{ objeto.fecha.split(" ")[0] }}
            </option>
          </ng-container>
        </select>
      </div>
    </div>
    <div class="menuPremio">
      <div class="menuItem" *ngIf="!isLoteria">
        <h2 class="premioPrincipal">Premio</h2>
        <p class="montoPrincipal">{{ premio }}</p>
      </div>
      <div class="menuItem" *ngIf="!isLoteria && isPozo">
        <h2 class="premioPrincipal">Premio Revancha</h2>
        <p class="montoPrincipal">{{ premioRevancha }}</p>
      </div>
      <div class="menuItem" *ngIf="isLoteria">
        <h2 class="premioPrincipal">Premio al entero</h2>
        <p class="montoPrincipal">{{ premioLoteria }}</p>
      </div>
      <div class="menuItem" *ngIf="isLoteria">
        <h2 class="premioSecundario">Premio a la fracción</h2>
        <p class="montoSecundario">{{ premio }}</p>
      </div>
    </div>
    <div class="menuDetalles">
      <div class="menuItem fechaSorteo">
        <p>SORTEO EN {{ days }} y {{ hours }}</p>
      </div>

      <div class="menuItem" *ngIf="!isLoteria">
        <p class="precioSorteo">Precio por boleto {{ precio }}</p>
      </div>
      <div class="menuItem" *ngIf="!isLoteria && isPozo">
        <p class="precioSorteo">Precio Revancha {{ precioRevancha }}</p>
      </div>

      <div class="menuItem" *ngIf="isLoteria">
        <p class="precioSorteo">Precio por fracción {{ precio }}</p>
      </div>
    </div>
  </div>
  <div class="menuImage" *ngIf="!imgNotFound">
    <img [src]="boleto" alt="" (error)="handleImgError()" />
  </div>
</div>
