$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-botton: #28aae1;

.fondoLoteria {
  border-bottom: 1px solid #28aae1 !important;
  font-size: 30px !important;
  color: #28aae1;
  font-family: $fuente-titulo;
}
.fondoMillonaria {
  border-bottom: 1px solid #b51f20 !important;
  font-size: 30px !important;
  color: #b51f20;
  font-family: $fuente-titulo;
}

.fondoLotto {
  border-bottom: 1px solid #b51f20 !important;
  font-size: 30px !important;
  color: #b51f20;
  font-family: $fuente-titulo;
}

.fondoPozo {
  border-bottom: 1px solid #04b865 !important;
  font-size: 30px !important;
  color: #04b865;
  font-family: $fuente-titulo;
}

.menuBox {
  /* Rectangle 46 */

  width: 100%;

  padding: 0;
  margin: auto;
  .menuInfo {
    width: 60%;
    display: flex;
    background: #ffffff;
    box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 15px;
    .menuSorteo {
      width: 50%;
      padding: 10px;
      h1 {
        width: 100%;
        font-weight: bold;
        text-align: center;
        margin: 0;
      }

      .menuItem {
        height: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 5px;
        font-size: 20px;
        font-family: $fuente-subtitulo;
        background-color: transparent;
        margin: 0 0 4px 0;
        font-style: italic;

        select {
          cursor: pointer;
          font-size: 20px;
          option:first-child {
            visibility: hidden;
            display: none;
          }
          option span {
            text-shadow: 0px 0px 0px black;
          }
        }

        p {
          font-size: 20px;
          margin: 3px 3px 3px 10px;
          font-family: $fuente-parrafo;
        font-style: normal;
      }

        .fechaItem {
          width: 100%;
          min-width: 220px;
          max-width: 320px;
          display: block;
          font-size: 20px;
          font-family: $fuente-parrafo;
          font-weight: 400;
          color: #444;
          background-color: #f2f2f2;
          line-height: 1.3;
          padding: 4px;
          margin: 0 0 0 10px;
          box-sizing: border-box;
          border: 1px solid #aaa;
          box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.03);
          border-radius: 0.3em;
          text-align: center;
          &:hover {
            border-color: #888;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
    .menuPremio {
      width: 50%;
      padding: 10px;
      h1 {
        width: 100%;
        font-weight: bold;
        text-align: center;
        margin: 0;
      }
      .menuItem {
        height: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 5px;
        font-size: 20px;
        font-family: $fuente-subtitulo;
        background-color: transparent;
        margin: 0 0 4px 0;
        font-style: italic;

        p {
          font-size: 20px;
          margin: 3px 3px 3px 10px;
          font-family: $fuente-parrafo;
          font-style: normal;
        }
      }
    }
  }

  .menuImage {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 5px;
    background-color: transparent;
    img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 1000px) {
  .menuBox{
    .menuInfo{
      width: 100%;
      flex-direction: column;
      align-items: center;
      .menuSorteo, .menuPremio{
        width:100%;
      }
    }
  }
}