$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-botton: #28aae1;

.fondoLoteria {
  border-bottom: 1px solid #28aae1 !important;
  font-size: 30px !important;
  color: #28aae1;
  font-family: $fuente-titulo;
}

.fondoMillonaria {
  border-bottom: 1px solid #b51f20 !important;
  font-size: 30px !important;
  color: #b51f20;
  font-family: $fuente-titulo;
}

.fondoLotto {
  border-bottom: 1px solid #b51f20 !important;
  font-size: 30px !important;
  color: #b51f20;
  font-family: $fuente-titulo;
}

.fondoPozo {
  border-bottom: 1px solid #04b865 !important;
  font-size: 30px !important;
  color: #04b865;
  font-family: $fuente-titulo;
}

.menuBox {
  /* Rectangle 46 */
  background-image: url("/assets/fondoSorteo.png");
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: auto;

  .menuInfo {
    width: 100%;
    //min-width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 15px;

    .menuSorteo {
      width: 30%;
      padding: 10px;

      h1 {
        /* ELIGE UN SORTEO */

        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        text-transform: uppercase;

        color: #ffffff;
        text-align: center;
        text-shadow: 1px 1px 0px #000000;
      }

      .menuItem {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 5px;
        font-size: 20px;
        font-family: $fuente-subtitulo;
        background-color: transparent;
        margin: 0 0 4px 0;

        select {
          cursor: pointer;
          font-size: 20px;

          option:first-child {
            visibility: hidden;
            display: none;
          }

          option span {
            text-shadow: 0px 0px 0px black;
          }
        }

        p {
          font-size: 20px;
          margin: 3px 3px 3px 10px;
          font-family: $fuente-parrafo;
          font-style: normal;
        }

        .fechaItem {
          width: 100%;
          display: block;
          font-size: 20px;
          font-family: $fuente-parrafo;
          font-weight: 400;
          color: #444;
          background-color: #ffffff;
          line-height: 1.3;
          padding: 4px;
          margin: 0 0 0 10px;
          box-sizing: border-box;
          border: 3px solid #021151;
          box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.03);
          text-align: center;

          &:hover {
            border-color: #888;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    .menuPremio {
      width: 30%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .menuItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 5px;
        font-size: 20px;
        font-family: $fuente-subtitulo;
        background-color: transparent;
        margin: 0 0 4px 0;

        .premioPrincipal {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          text-transform: uppercase;

          color: #031252;
          margin: 0;
        }

        .montoPrincipal {
          font-weight: 700;
          font-size: 55px;
          line-height: 67px;
          /* identical to box height */
          text-align: center;
          text-transform: uppercase;

          color: #ffffff;

          text-shadow: 1px 1px 0px #000000;
          margin: 0;
        }

        .premioSecundario {
          /* PREMIO POR FRACCIÓN */

          font-weight: 700;
          font-size: 15px;
          line-height: 18px;
          text-align: center;
          text-transform: uppercase;

          color: #031252;
          margin: 0;
        }

        .montoSecundario {
          font-weight: 700;
          font-size: 30px;
          line-height: 37px;
          /* identical to box height */
          text-align: center;
          text-transform: uppercase;

          color: #ffffff;

          text-shadow: 1px 1px 0px #000000;
          margin: 0;
        }
      }
    }

    .menuDetalles {
      width: 30%;
      padding: 10px;

      .menuItem {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 5px;
        font-size: 20px;
        font-family: $fuente-subtitulo;
        background-color: transparent;

        &.fechaSorteo {
          margin: 0 0 4px 0;
          background: #d12a2a;
          border-radius: 30px;
        }

        p {
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          /* identical to box height */
          text-align: center;
          width: 100%;
          color: #ffffff;

          &.precioSorteo {
            /* PRECIO POR BOLETO $2.00 */

            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            /* identical to box height */
            text-transform: uppercase;

            color: #ffffff;

            text-shadow: 1px 1px 0px #000000;
          }
        }
      }
    }
  }

  .menuImage {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 5px;
    background-color: transparent;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .menuBox {
    .menuInfo {
      flex-direction: column;
      align-items: center;

      .menuSorteo,
      .menuPremio {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .menuBox {
    flex-direction: column;
    align-items: center;

    .menuInfo {
      width: 100%;
      flex-direction: column;
      align-items: center;

      .menuSorteo,
      .menuPremio,
      .menuDetalles {
        width: 100%;
      }
    }

    .menuImage {
      width: 80%;
      margin-top: 10px;
    }
  }
}