<ventas-menu-header></ventas-menu-header>

<div class="contenedor_loteria" *ngIf="showComponents">
  <app-detalle-sorteo
    titulo="Lotto"
    class="infoBox"
    color="lotto"
    [sorteos]="sorteo"
    [loteria]="2"
    (emitir)="procesaEmitir($event)"
  >
  </app-detalle-sorteo>
  <div class="ventasBox">
    <div class="contenedor_seleccion">
      <div class="selectBox">
        <div class="numeros_suerte">
          <h3>Ingresa tu número de la suerte:</h3>

          <div class="numeros">
            <input
              #input1
              [appAutoTab]="input2"
              type="text"
              name=""
              inputmode="numeric"
              pattern="[0-9]*"
              maxlength="1"
              onInput="this.value=this.value.replace(/[^0-9]/g,'');"
              [(ngModel)]="combinacionDeLaSuerte[0]"
            />
            <input
              #input2
              [appAutoTab]="input3"
              type="text"
              name=""
              inputmode="numeric"
              pattern="[0-9]*"
              maxlength="1"
              onInput="this.value=this.value.replace(/[^0-9]/g,'');"
              [(ngModel)]="combinacionDeLaSuerte[1]"
            />
            <input
              #input3
              [appAutoTab]="input4"
              type="text"
              name=""
              inputmode="numeric"
              pattern="[0-9]*"
              maxlength="1"
              onInput="this.value=this.value.replace(/[^0-9]/g,'');"
              [(ngModel)]="combinacionDeLaSuerte[2]"
            />
            <input
              #input4
              [appAutoTab]="input5"
              type="text"
              name=""
              inputmode="numeric"
              pattern="[0-9]*"
              maxlength="1"
              onInput="this.value=this.value.replace(/[^0-9]/g,'');"
              [(ngModel)]="combinacionDeLaSuerte[3]"
            />
            <input
              #input5
              [appAutoTab]="input6"
              type="text"
              name=""
              inputmode="numeric"
              pattern="[0-9]*"
              maxlength="1"
              onInput="this.value=this.value.replace(/[^0-9]/g,'');"
              [(ngModel)]="combinacionDeLaSuerte[4]"
            />
            <input
              #input6
              type="text"
              name=""
              inputmode="numeric"
              pattern="[0-9]*"
              maxlength="1"
              onInput="this.value=this.value.replace(/[^0-9]/g,'');"
              [(ngModel)]="combinacionDeLaSuerte[5]"
            />
          </div>
        </div>

        <button class="activado" (click)="buscarNumero()">BUSCAR NUMERO</button>
      </div>
      <p class="tagItem">
        Si quieres cambiar tu número, ingrésalo nuevamente y haz click en
        "Buscar número"
      </p>
      <div *ngIf="showNumeros" class="ticketsBox">
        <div
          class="ticketBox"
          *ngFor="
            let ticket of ticketsDisponibles
              | paginacion : page_size : page_number;
            let i = index
          "
        >
          <img [src]="boleto" alt="" />
          <div *ngIf="sorteoLunes" class="sorteoLunes">
            <p class="combinacion1">{{ ticket!.combinacion1 }}</p>
            <p class="combinacion3">{{ ticket!.combinacion3 }}</p>
            <p class="combinacion2">{{ ticket!.combinacion2 }}</p>
            <p class="combinacion4">{{ ticket!.combinacion4 }}</p>
          </div>
          <div *ngIf="sorteoJueves" class="sorteoJueves">
            <p class="combinacion1">{{ ticket!.combinacion1 }}</p>
            <p class="combinacion3">{{ ticket!.combinacion3 }}</p>
            <p class="combinacion2">{{ ticket!.combinacion2 }}</p>
            <p class="combinacion4">{{ ticket!.combinacion4 }}</p>

            <img
              class="combinacion5"
              [src]="obtenerAntojito(ticket!.combinacion5)"
              alt=""
            />
          </div>
          <div *ngIf="otrosSorteos" class="otrosSorteos">
            <p class="combinacion1">{{ ticket!.combinacion1 }}</p>
            <p class="combinacion2">{{ ticket!.combinacion2 }}</p>
          </div>
 

          <div class="buttonsBox">
            <button
              (click)="deleteLottoTicket(ticket.identificador)"
              [disabled]="!ticket.status"
            >
              LIMPIAR
            </button>
            <button
              [disabled]="ticket.status"
              (click)="seleccionarTicket(page_size! * (page_number! - 1) + i)"
            >
              AGREGAR AL CARRITO
            </button>
          </div>
        </div>

        <div class="contenedor_botones">
          <mat-paginator
            style-paginator
            [length]="ticketsDisponibles.length"
            [pageSize]="page_size"
            (page)="handlerPage($event)"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
    <app-carrito
      class="ticketScroller"
      (deleteLoteriaTicket)="deleteLoteriaTicket($event)"
      (deleteLottoTicket)="deleteLottoTicket($event)"
      (deletePozoTicket)="deletePozoTicket($event)"
      (deleteBingazoTicket)="deleteBingazoTicket($event)"
      (deleteLoteriaFraccion)="deleteLoteriaFraccion($event)"
      (deleteMillonariaTicket)="deleteMillonariaTicket($event)"
      (deletePozoRevanchaTicket)="deletePozoRevanchaTicket($event)"
      (emitirCompra)="comprar()"
      (eliminarTodo)="deleteAllTickets()"
      [ticketsLoteria]="ticketsLoteria"
      [ticketsPozoRevancha]="ticketsPozoRevancha"
      [ticketsLotto]="ticketsLotto"
      [ticketsMillonaria]="ticketsMillonaria"
      [ticketsBingazo]="ticketsBingazo"
      [ticketsPozo]="ticketsPozo"
      tipoLoteria="lotto"
    >
    </app-carrito>
  </div>
</div>
<app-floating-menu
  (deleteLoteriaTicket)="deleteLoteriaTicket($event)"
  (deleteBingazoTicket)="deleteBingazoTicket($event)"
  (deleteLottoTicket)="deleteLottoTicket($event)"
  (deletePozoTicket)="deletePozoTicket($event)"
  (deleteLoteriaFraccion)="deleteLoteriaFraccion($event)"
  (deleteMillonariaTicket)="deleteMillonariaTicket($event)"
  (emitirCompra)="comprar()"
  (eliminarTodo)="deleteAllTickets()"
  (deletePozoRevanchaTicket)="deletePozoRevanchaTicket($event)"
  [ticketsLoteria]="ticketsLoteria"
  [ticketsLotto]="ticketsLotto"
  [ticketsBingazo]="ticketsBingazo"
  [ticketsPozo]="ticketsPozo"
  [ticketsPozoRevancha]="ticketsPozoRevancha"
  [ticketsMillonaria]="ticketsMillonaria"
  tipoLoteria="lotto"
></app-floating-menu>
<app-loader
  loader="lotto"
  [message]="loadingMessage!"
  *ngIf="isLoading"
></app-loader>

<app-error
  [msg]="errorMessage!"
  (closeError)="closeError()"
  *ngIf="isError"
></app-error>
<app-error
  [msg]="validationErrorMessage!"
  (closeError)="closeValidationError()"
  *ngIf="isValidationError"
></app-error>

<app-saldo-insuficiente
  [message]="recargaDeSaldoMessage"
  (volver)="saldoInsuficiente = false"
  (recarga)="irARecarga()"
  class="paymentItem"
  *ngIf="saldoInsuficiente"
></app-saldo-insuficiente>