// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$loteriaNacionalWeb-primary: mat-palette($mat-indigo);
$loteriaNacionalWeb-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$loteriaNacionalWeb-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$loteriaNacionalWeb-theme: mat-light-theme(
  $loteriaNacionalWeb-primary,
  $loteriaNacionalWeb-accent,
  $loteriaNacionalWeb-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($loteriaNacionalWeb-theme);

/* You can add global styles to this file, and also import other style files */
/* @import url("./sass/_fonts.scss");
 */
$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Helvetica";
$fuente-botones: "Monstserrat SemiBold";

/*
* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
} */

button {
  outline: none;
}
a,p,button,div{
  font-family: $fuente-parrafo !important;
}

html,
body {
  background-color: #fff;
}
body {
  width: 100%;
  //background-image: url('assets/img/fondo-general.png');
  background-color: #f0f0f0;
  background-size: cover;
  background-repeat: repeat;
  padding: 0;
  margin: 0;
  font-family: $fuente-parrafo;
}
select {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
*,
::before,
::after {
  box-sizing: border-box;
}
.mat-paginator-page-size {
  display: none !important;
}

.contenedor_ticket {
  width: 90%;
  max-width: 400px;
  min-width: 320px;
  padding: 15px;
  margin: 20px auto;
  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  /* Rectangle 7 */
}

.container_consulta {
  width: 100%;
  height: max-content;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  border-radius: 20px;

  .boletin_oficial {
    width: 100%;
    height: 65px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px 15px 0 0;
  }

  .cuerpo_boletin {
    width: 100%;
    h1 {
      font-family: "Helvetica";
      font-style: italic;
      font-weight: 700;
      font-size: 30px;
      text-transform: uppercase;

      margin-left: 35px;
    }

    grid-template-rows: 30% 40% 30%;

    .explicacion {
      width: 100%;

      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .content_explicacion {
        display: flex;
        justify-content: center;
        align-items: center;

        .icono {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          padding: 10px;

          background-color: transparent;
          display: flex;
          justify-content: center;
          align-items: center;

          font-size: 30px;
          margin-right: 12px;
        }

        p:nth-child(2) {
          width: 60%;
          font-size: 16px;
          color: #000000;
        }
      }
    }

    .separador {
      width: 95%;
      margin: auto;
    }

    .consulta_boleto {
      width: 90%;
      margin: 30px auto;

      color: #1f1f1f;
      h3 {
        /* Consulta por Boleto y Sorteo */

        font-family: "Helvetica";
        font-style: italic;
        font-weight: 700;
        font-size: 25px;
        text-transform: uppercase;
      }
      .formulario {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 15px;

        .input {
          display: grid;
          grid-template-rows: repeat(2, 50%);

          gap: 10px;

          .input_content {
            display: flex;
            flex-direction: column;

            label {
              margin-bottom: 10px;
              font-size: 15px;
            }

            input[type="text"] {
              /* Rectangle 38 */

              height: 50px;

              background: #ffffff !important;
              box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
              border-radius: 10px;

              padding-top: 14px;
              outline: none;
            }

            input[type="date"] {
              padding-top: 14px;
              padding-right: 8px;
              outline: none;
            }

            select {
              color: #4d4d4d;
              outline: none;
              height: 50px;

              background: #ffffff !important;
              box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
              border-radius: 10px;

              -webkit-appearance: none;
              -moz-appearance: none;
              cursor: pointer;
              option:first-child {
                visibility: hidden;
                display: none;
              }
              option {
                cursor: pointer;
              }
            }
          }

          p {
            font-size: 16px;
            margin: 0;
            margin-top: 25px;
            color: #171717;
          }

          button {
            border-radius: 30px;
            max-height: 50px;
            color: #fff;
            font-family: $fuente-parrafo;
            margin-top: 25px;
            font-size: 13px;
            cursor: pointer;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            transition: background-color 0.5s ease;

            &:hover {
              background-color: #fff;
            }
          }
        }
        button {
          border-radius: 30px;
          max-height: 50px;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
          color: #fff;
          font-family: $fuente-parrafo;
          margin-top: 25px;
          font-size: 13px;
          cursor: pointer;
          transition: background-color 0.5s ease;

          &:hover {
            background-color: #fff;
          }
        }
      }
    }

    .espacio {
      margin-bottom: 100px;
    }

    .consulta_fecha {
      width: 100%;

      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(3, 1fr);
    }
  }

  .pie_boletin {
    width: 100%;
    height: 35px;
    border-radius: 0 0 15px 15px;
  }
}

.boletin_oficial {
  /* Boletín Oficial */

  width: 100%;
  height: 65px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px 15px 0 0;
  h1 {
    font-family: $fuente-parrafo;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 20px;
  }
}
.container_boletin {
  width: 100%;
  margin: 0 auto;
  display: grid;
  img {
    width: 100%;
  }

  .boletinNotFound {
    width: 100%;
    display: flex;
    justify-content: center;
    p {
      font-family: $fuente-parrafo;
      font-size: 16px;
      text-align: center;
      a {
        text-decoration: none;
        color: black;
        font-family: $fuente-titulo;
        cursor: pointer;
      }
    }
  }
}
.masResultados {
  display: none;
}

@media screen and (max-width: 1000px) {
  .masResultados {
    display: block;
    width: 90%;
    padding: 20px 30px;
    border-radius: 40px;
    margin: 10px auto;
    font-family: $fuente-botones;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: #fff;
    }
  }
  .consultaBox {
    .boletin_oficial {
      h1 {
        margin: 20px 0 !important;
        color: #021151 !important;
        text-align: center;
        width: 100%;
      }
    }
  }
  .container_consulta {
    .boletin_oficial {
      h1 {
        margin: 20px 0 !important;
        color: #021151 !important;
        text-align: center;
      }
    }

    .cuerpo_boletin {
      h1 {
        text-align: center;
        margin: 20px 0;
        color: #021151 !important;
      }
      .explicacion {
        grid-template-columns: repeat(1, 1fr);
        .content_explicacion {
          width: 100%;
          .icono {
            width: 40px;
            height: 40px;
            margin-right: 8px;
          }

          p:nth-child(2) {
            font-weight: 400;
            font-size: 16px;

            color: #171717;
          }
        }
      }

      .consulta_boleto {
        h3 {
          font-size: 18px;
        }
        .formulario {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .input {
            display: block;
            width: 90%;
            .tag {
              color: #878787;
              font-size: 10px;
            }
            .input_content {
              input,
              select {
                border: none !important;
              }
              button {
                margin: 25px 0;

                padding: 15px 35px;
              }
            }
            button {
              margin: 25px 0;
              padding: 15px 35px;
            }
          }
          button {
            margin: 25px 0;
            padding: 15px 35px;
          }
        }
      }
    }
  }
}
