<div class="floatingBox" (click)="toggleBox()">
  <img
    [ngClass]="carrito"
    class="carrito"
    src="assets/carrito-blanco.svg"
    alt=""
  />
  <img [ngClass]="cerrar" class="cerrar" src="assets/cerrar.svg" alt="" />
</div>
<div class="totalBox" [ngClass]="carrito">
  {{ total }}
</div>
<div class="toggleBox" *ngIf="isToggled && !isCart">
  <div class="itemBox" (click)="toggleCart()">
    <img src="assets/carrito-negro.svg" alt="" />
    <p>CARRITO DE COMPRA</p>
    <div class="totalCartBox">
      {{ total }}
    </div>
  </div>
  <a class="itemBox" href="https://loteria.com.ec/casino" target="_parent">
    <img src="assets/casino.svg" alt="" />
    <p>JUEGOS</p>
  </a>
  <a class="itemBox" href="https://loteria.com.ec/sport" target="_parent">
    <img src="assets/sport.svg" alt="" />
    <p>DEPORTES</p>
  </a>
</div>

<app-ticket-scroller
  *ngIf="isCart"
  class="ticketScroller"
  (emitirCompra)="comprar()"
  (eliminarTodo)="deleteAllTickets()"
  (deleteLoteriaTicket)="deleteLoteria($event)"
  (deleteLottoTicket)="deleteLotto($event)"
  (deletePozoTicket)="deletePozo($event)"
  (deleteLoteriaFraccion)="deleteFraccion($event)"
  [ticketsLoteria]="ticketsLoteria"
  [ticketsLotto]="ticketsLotto"
  [ticketsPozo]="ticketsPozo"
  [tipoLoteria]="tipoLoteria"
>
</app-ticket-scroller>
