<div class="container">
  <revancha-consulta
    class="consultaBox"
    (resultados)="toggleResultados($event)"
  >
  </revancha-consulta>
  <revancha-ultimo-resultado class="selectorBox"></revancha-ultimo-resultado>
  <ventas-menu-box class="menuBox" [miniBox]="true"></ventas-menu-box>

  <div class="modalBox" *ngIf="showResultados">
    <consultas-resultados
      tipoLoteria="17"
      (close)="closeBox()"
      *ngIf="showResultados"
      [resultados]="resultados"
    >
    </consultas-resultados>
  </div>
</div>
