<div class="headerBox">
<div class="sideBox">
    <p class="maintextBox"></p>
    <p class="tagTextBox"></p>
    <button class="headerButton"></button>
</div>
</div>
<div class="instructionsBox">
    <div class="instructionBox">
        <div class="upInstruction">

        </div>
        <div id="firstNumber">

        </div>
        <div class="downInstruction">

        </div>
        <div id="downNumber">

        </div>
    </div>
    <div class="instructionBox">
        <div class="upInstruction">

        </div>
        <div id="firstNumber">

        </div>
        <div class="downInstruction">

        </div>
        <div id="downNumber">

        </div>
    </div>
</div>