<div class="selectionBox">
  <app-lottery-type
    image="assets/img/loteria-sombra-2.png"
    [link]="linkLoteriaNacional"
    [token]="lotteryToken"
    name="loteria"
    (authError)="authError()"
  >
  </app-lottery-type>

  <app-lottery-type
    image="assets/img/lotto-sombra.png"
    [link]="linkLotto"
    [token]="lotteryToken"
    name="lotto"
    (authError)="authError()"
  >
  </app-lottery-type>

  <app-lot tery-type
    image="assets/img/pozo-sombra.png"
    [link]="linkPozoMillonario"
    [token]="lotteryToken"
    name="pozo"
    (authError)="authError()"
  >
  </app-lottery-type>
  <app-lottery-type
    image="assets/img/millonaria-sombra.png"
    [link]="linkMillonaria"
    [token]="lotteryToken"
    name="millonaria"
    (authError)="authError()"
  >
  </app-lottery-type>
</div>

<app-floating-menu
  (deleteLoteriaTicket)="deleteLoteriaTicket($event)"
  (deleteLottoTicket)="deleteLottoTicket($event)"
  (deletePozoTicket)="deletePozoTicket($event)"
  (deleteMillonariaTicket)="deleteMillonariaTicket($event)"
  (deleteLoteriaFraccion)="deleteLoteriaFraccion($event)"
  (emitirCompra)="comprar()"
  (eliminarTodo)="deleteAllTickets()"
  [ticketsLoteria]="ticketsLoteria"
  [ticketsLotto]="ticketsLotto"
  [ticketsPozo]="ticketsPozo"
  [ticketsMillonaria]="ticketsMillonaria"
  tipoLoteria="loteria"
></app-floating-menu>
<app-loader
  loader="loteria"
  [message]="loadingMessage"
  *ngIf="isLoading"
></app-loader>
<app-error
  [msg]="errorMessage"
  (closeError)="closeError()"
  [title]="errorTitle"
  *ngIf="isError"
></app-error>
<app-confirmacion-de-compra
  (compraConfirmada)="confirmarCompra()"
  (compraCancelada)="cancelarCompra($event)"
  (comprarDespues)="dismissCompras()"
  [compra]="detalleCompra"
  class="paymentItem"
  *ngIf="confirmacionDeCompra"
></app-confirmacion-de-compra>
<app-resultados-instantaneas
  (close)="abrirFinalizar()"
  [resultados]="instantaneas"
  tipoloteria="14"
  [isLoteriaNacional]="true"
  class="paymentItem"
  *ngIf="isInstantaneas"
></app-resultados-instantaneas>
<app-compra-finalizada
  (volver)="finalizarCompra()"
  [compra]="detalleCompra"
  [codigosPromocionales]="codigoPromocional"
  class="paymentItem"
  *ngIf="compraFinalizada"
></app-compra-finalizada>
<app-saldo-insuficiente
  [message]="recargaDeSaldoMessage"
  (volver)="dismissCompras()"
  (recarga)="irARecarga()"
  class="paymentItem"
  *ngIf="saldoInsuficiente"
></app-saldo-insuficiente>
<app-compra-cancelada
  class="paymentItem"
  [message]="cancelMessage"
  *ngIf="compraCancelada"
></app-compra-cancelada>
