<ventas-menu-header></ventas-menu-header>

<div class="contenedor_loteria" *ngIf="showComponents">
  <app-detalle-sorteo
    class="infoBox"
    titulo="Loteria Nacional"
    [sorteos]="sorteo"
    color="loteria"
    [loteria]="1"
    (emitir)="procesaEmitir($event)"
  >
  </app-detalle-sorteo>
  <div class="ventasBox">
    <div class="contenedor_seleccion">
      <div class="selectBox">
        <div class="numeros_suerte">
          <h3>Ingresa tu número de la suerte</h3>
          <div class="numeros">
            <input
              #input1
              [appAutoTab]="input2"
              type="text"
              maxlength="1"
              inputmode="numeric"
              pattern="[0-9]*"
              onInput="this.value=this.value.replace(/[^0-9]/g,'');"
              name="combinacionDeLaSuerte0"
              [(ngModel)]="combinacionDeLaSuerte[0]"
            />
            <input
              #input2
              [appAutoTab]="input3"
              type="text"
              maxlength="1"
              inputmode="numeric"
              pattern="[0-9]*"
              onInput="this.value=this.value.replace(/[^0-9]/g,'');"
              name="combinacionDeLaSuerte1"
              [(ngModel)]="combinacionDeLaSuerte[1]"
            />
            <input
              #input3
              [appAutoTab]="input4"
              type="text"
              maxlength="1"
              inputmode="numeric"
              pattern="[0-9]*"
              onInput="this.value=this.value.replace(/[^0-9]/g,'');"
              name="combinacionDeLaSuerte2"
              [(ngModel)]="combinacionDeLaSuerte[2]"
            />
            <input
              #input4
              [appAutoTab]="input5"
              type="text"
              maxlength="1"
              inputmode="numeric"
              pattern="[0-9]*"
              onInput="this.value=this.value.replace(/[^0-9]/g,'');"
              name="combinacionDeLaSuerte3"
              [(ngModel)]="combinacionDeLaSuerte[3]"
            />
            <input
              #input5
              type="text"
              maxlength="1"
              inputmode="numeric"
              pattern="[0-9]*"
              onInput="this.value=this.value.replace(/[^0-9]/g,'');"
              name="combinacionDeLaSuerte4"
              [(ngModel)]="combinacionDeLaSuerte[4]"
            />
          </div>
        </div>
        <button (click)="buscarNumero()">BUSCAR NUMERO</button>
      </div>
      <p class="tagItem">
        Si quieres cambiar tu número, ingrésalo nuevamente y haz click en
        "Buscar número"
      </p>
      <div *ngIf="showNumeros" class="ticketsBox">
        <div
          class="ticketBox"
          *ngFor="
            let ticket of ticketsDisponibles
              | paginacion : page_size : page_number;
            let i = index
          "
        >
          <div class="combinationBox">
            <img [src]="boleto" alt="" />
            <p>{{ ticket.combinacion }}</p>
          </div>
          <div class="fractionsBox">
            <div class="seleccionAll">
              <p>Seleccionar entero</p>
              <input
                (click)="seleccionarTodo(page_size * (page_number - 1) + i)"
                [(ngModel)]="allFractions![page_size! * (page_number! - 1) + i]"
                type="checkbox"
              />
            </div>
            <hr />
            <div class="contenedor_fracciones">
              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div
                        style="
                          width: 100%;
                          display: flex;
                          justify-content: space-between;
                          align-items: center;
                          padding: 0 10px;
                        "
                      >
                        Seleccionar fracciones:
                        <img
                          style="width: 32px"
                          src="assets/flecha.png"
                          alt=""
                        />
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div
                    class="fracciones"
                    *ngFor="
                      let item of ticket.fraccionesDisponibles;
                      let j = index
                    "
                  >
                    <input
                      (click)="
                        fraccionSeleccionada(
                          page_size * (page_number - 1) + i,
                          item
                        )
                      "
                      [checked]="
                        isSelected(page_size * (page_number - 1) + i, item)
                      "
                      class="checkbox"
                      type="checkbox"
                      id="{{ ticket.identificador }}-{{ item }}"
                    />
                    <label for="{{ ticket.identificador }}-{{ item }}">{{
                      item
                    }}</label>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <hr />
            <div class="buttonsBox">
              <button
                (click)="limpiarSeleccionado(page_size * (page_number - 1) + i)"
              >
                LIMPIAR
              </button>
              <button
                [disabled]="ticket.status"
                (click)="pushToSeleccionado(page_size * (page_number - 1) + i)"
              >
                AGREGAR AL CARRITO
              </button>
            </div>
          </div>
        </div>

        <div class="contenedor_botones">
          <mat-paginator
            style-paginator
            [length]="ticketsDisponibles.length"
            [pageSize]="page_size"
            (page)="handlerPage($event)"
          >
          </mat-paginator>
        </div>
      </div>
    </div>

    <app-carrito
      class="ticketScroller"
      (emitirCompra)="comprar()"
      (eliminarTodo)="deleteAllTickets()"
      (deleteLoteriaTicket)="deleteLoteriaTicket($event)"
      (deleteLottoTicket)="deleteLottoTicket($event)"
      (deletePozoTicket)="deletePozoTicket($event)"
      (deletePozoRevanchaTicket)="deletePozoRevanchaTicket($event)"
      (deleteBingazoTicket)="deleteBingazoTicket($event)"
      (deleteLoteriaFraccion)="deleteLoteriaFraccion($event)"
      [ticketsPozoRevancha]="ticketsPozoRevancha"
      [ticketsLoteria]="ticketsLoteria"
      [ticketsBingazo]="ticketsBingazo"
      [ticketsLotto]="ticketsLotto"
      [ticketsPozo]="ticketsPozo"
      tipoLoteria="loteria"
    >
    </app-carrito>
  </div>
</div>

<app-loader
  loader="loteria"
  [message]="loadingMessage!"
  *ngIf="isLoading"
></app-loader>

<app-floating-menu
  (emitirCompra)="comprar()"
  (eliminarTodo)="deleteAllTickets()"
  (deleteLoteriaTicket)="deleteLoteriaTicket($event)"
  (deleteLottoTicket)="deleteLottoTicket($event)"
  (deletePozoTicket)="deletePozoTicket($event)"
  (deleteBingazoTicket)="deleteBingazoTicket($event)"
  (deleteLoteriaFraccion)="deleteLoteriaFraccion($event)"
  (deletePozoRevanchaTicket)="deletePozoRevanchaTicket($event)"
  [ticketsLoteria]="ticketsLoteria"
  [ticketsLotto]="ticketsLotto"
  [ticketsPozoRevancha]="ticketsPozoRevancha"
  [ticketsBingazo]="ticketsBingazo"
  [ticketsPozo]="ticketsPozo"
  tipoLoteria="loteria"
></app-floating-menu>

<app-error
  [msg]="errorMessage!"
  (closeError)="closeError()"
  *ngIf="isError"
></app-error>
<app-error
  [msg]="validationErrorMessage!"
  (closeError)="closeValidationError()"
  *ngIf="isValidationError"
></app-error>

<app-saldo-insuficiente
  [message]="recargaDeSaldoMessage"
  (volver)="saldoInsuficiente = false"
  (recarga)="irARecarga()"
  class="paymentItem"
  *ngIf="saldoInsuficiente"
></app-saldo-insuficiente>
