<ventas-menu-header></ventas-menu-header>

<div class="contenedor_loteria" *ngIf="showComponents">
  <div class="ventasBox">
    <app-detalle-sorteo
      class="infoBox"
      titulo="Loteria Nacional"
      [sorteos]="sorteo"
      color="loteria"
      [loteria]="1"
      (emitir)="procesaEmitir($event)"
    >
    </app-detalle-sorteo>

    <div class="contenedor_seleccion">
      <div class="selectBox">
        <div class="contenedor_select">
          <h3>¿Cómo quieres comprar?</h3>
          <select
            class="select_option"
            name=""
            id=""
            [(ngModel)]="tipoSeleccion"
          >
            <option class="option" value="96">Selección individual</option>
            <option class="option" value="5">5 Boletos al azar</option>
            <option class="option" value="30">30 Boletos al azar</option>
            <option class="option" value="50">50 Boletos al azar</option>
          </select>
        </div>
        <div class="numeros_suerte">
          <h3>Ingresa tu número de la suerte</h3>
          <div class="numeros">
            <input
              #input1
              [appAutoTab]="input2"
              type="text"
              maxlength="1"
              inputmode="numeric"
              pattern="[0-9]*"
              onInput="this.value=this.value.replace(/[^0-9]/g,'');"
              name="combinacionDeLaSuerte0"
              [(ngModel)]="combinacionDeLaSuerte[0]"
            />
            <input
              #input2
              [appAutoTab]="input3"
              type="text"
              maxlength="1"
              inputmode="numeric"
              pattern="[0-9]*"
              onInput="this.value=this.value.replace(/[^0-9]/g,'');"
              name="combinacionDeLaSuerte1"
              [(ngModel)]="combinacionDeLaSuerte[1]"
            />
            <input
              #input3
              [appAutoTab]="input4"
              type="text"
              maxlength="1"
              inputmode="numeric"
              pattern="[0-9]*"
              onInput="this.value=this.value.replace(/[^0-9]/g,'');"
              name="combinacionDeLaSuerte2"
              [(ngModel)]="combinacionDeLaSuerte[2]"
            />
            <input
              #input4
              [appAutoTab]="input5"
              type="text"
              maxlength="1"
              inputmode="numeric"
              pattern="[0-9]*"
              onInput="this.value=this.value.replace(/[^0-9]/g,'');"
              name="combinacionDeLaSuerte3"
              [(ngModel)]="combinacionDeLaSuerte[3]"
            />
            <input
              #input5
              type="text"
              maxlength="1"
              inputmode="numeric"
              pattern="[0-9]*"
              onInput="this.value=this.value.replace(/[^0-9]/g,'');"
              name="combinacionDeLaSuerte4"
              [(ngModel)]="combinacionDeLaSuerte[4]"
            />
          </div>
        </div>
        <button class="activado" (click)="buscarNumero()">BUSCAR NUMERO</button>
      </div>
      <p class="tagItem">
        Si quieres cambiar tu número, ingrésalo nuevamente y haz click en
        "Buscar número"
      </p>
      <div *ngIf="showNumeros" class="contenedor_numeros_suerte">
        <table>
          <tbody>
            <tr
              *ngFor="
                let ticket of ticketsDisponibles
                  | paginacion : page_size : page_number;
                let i = index
              "
            >
              <!--   -->
              <td>
                <div class="contenedor_numeros">
                  <div class="combinationBox">
                    <!-- <p *ngFor="let numero of ticket.display">{{ numero }}</p> -->
                    <p *ngFor="let numero of ticket.combinacion.split('')">
                      {{ numero }}
                    </p>
                  </div>
                  <hr />

                  <div class="seleccionAll">
                    <p>Seleccionar todas las fracciones</p>
                    <input
                      (click)="
                        seleccionarTodo(page_size * (page_number - 1) + i)
                      "
                      [(ngModel)]="
                        allFractions![page_size! * (page_number! - 1) + i]
                      "
                      type="checkbox"
                    />
                  </div>
                  <hr />
                  <div class="contenedor_fracciones">
                    <div
                      class="fracciones"
                      *ngFor="
                        let item of ticket.fraccionesDisponibles;
                        let j = index
                      "
                    >
                      <input
                        (click)="
                          fraccionSeleccionada(
                            page_size * (page_number - 1) + i,
                            item
                          )
                        "
                        [checked]="
                          isSelected(page_size * (page_number - 1) + i, item)
                        "
                        class="checkbox"
                        type="checkbox"
                        id="{{ ticket.identificador }}-{{ item }}"
                      />
                      <label for="{{ ticket.identificador }}-{{ item }}">{{
                        item
                      }}</label>
                    </div>
                  </div>
                  <hr />
                </div>
              </td>
            </tr>
          </tbody>
          <hr size="2px" color="gray" style="width: 100%" />
        </table>
        <div class="contenedor_botones">
          <mat-paginator
            style-paginator
            [length]="ticketsDisponibles.length"
            [pageSize]="page_size"
            (page)="handlerPage($event)"
          >
          </mat-paginator>
        </div>
        <!-- {{ ticketsDisponibles | json }} -->
      </div>
      <!-- 
    <div class="boton_boleto">
      <button (click)="abrirResumen()">RESUMEN DE BOLETOS</button>
    </div> -->
    </div>
  </div>

  <app-carrito
    class="ticketScroller"
    (emitirCompra)="comprar()"
    (eliminarTodo)="deleteAllTickets()"
    (deleteLoteriaTicket)="deleteLoteriaTicket($event)"
    (deleteLottoTicket)="deleteLottoTicket($event)"
    (deleteMillonariaTicket)="deleteMillonariaTicket($event)"
    (deletePozoTicket)="deletePozoTicket($event)"
    (deletePozoRevanchaTicket)="deletePozoRevanchaTicket($event)"
    (deleteLoteriaFraccion)="deleteLoteriaFraccion($event)"
    [ticketsPozoRevancha]="ticketsPozoRevancha"
    [ticketsLoteria]="ticketsLoteria"
    [ticketsMillonaria]="ticketsMillonaria"
    [ticketsLotto]="ticketsLotto"
    [ticketsPozo]="ticketsPozo"
    tipoLoteria="loteria"
  >
  </app-carrito>
</div>

<app-loader
  loader="loteria"
  [message]="loadingMessage!"
  *ngIf="isLoading"
></app-loader>

<app-floating-menu
  (emitirCompra)="comprar()"
  (eliminarTodo)="deleteAllTickets()"
  (deleteLoteriaTicket)="deleteLoteriaTicket($event)"
  (deleteLottoTicket)="deleteLottoTicket($event)"
  (deletePozoTicket)="deletePozoTicket($event)"
  (deleteLoteriaFraccion)="deleteLoteriaFraccion($event)"
  (deleteMillonariaTicket)="deleteMillonariaTicket($event)"
  (deletePozoRevanchaTicket)="deletePozoRevanchaTicket($event)"
  [ticketsLoteria]="ticketsLoteria"
  [ticketsLotto]="ticketsLotto"
  [ticketsPozoRevancha]="ticketsPozoRevancha"
  [ticketsPozo]="ticketsPozo"
  [ticketsMillonaria]="ticketsMillonaria"
  tipoLoteria="loteria"
></app-floating-menu>

<app-error
  [msg]="errorMessage!"
  (closeError)="closeError()"
  *ngIf="isError"
></app-error>
<app-error
  [msg]="validationErrorMessage!"
  (closeError)="closeValidationError()"
  *ngIf="isValidationError"
></app-error>

<app-confirmacion-de-venta
  (compraConfirmada)="confirmarCompra()"
  (compraCancelada)="cancelarCompra()"
  (comprarDespues)="dismissCompras()"
  [compra]="detalleCompra"
  #purchase
  class="paymentItem"
  *ngIf="confirmacionDeCompra"
></app-confirmacion-de-venta>

<app-instantaneas
  (close)="abrirFinalizar()"
  [resultados]="instantaneas"
  tipoLoteria="1"
  [isLoteriaNacional]="true"
  class="paymentItem"
  *ngIf="isInstantaneas"
></app-instantaneas>
<app-venta-finalizada
  (volver)="finalizarCompra()"
  [compra]="detalleCompra"
  [codigosPromocionales]="codigoPromocional"
  class="paymentItem"
  *ngIf="compraFinalizada"
></app-venta-finalizada>
<app-saldo-insuficiente
  [message]="recargaDeSaldoMessage"
  (volver)="dismissCompras()"
  (recarga)="irARecarga()"
  class="paymentItem"
  *ngIf="saldoInsuficiente"
></app-saldo-insuficiente>
<app-venta-cancelada
  class="paymentItem"
  [message]="cancelMessage"
  *ngIf="compraCancelada"
></app-venta-cancelada>
