<app-seleccion-tipo></app-seleccion-tipo>

<div class="contenedor_loteria" *ngIf="showComponents">

  <app-info-loteria class="infoBox" titulo="Loteria Nacional" [sorteos]="sorteo" color="loteria" [loteria]=1
    (emitir)="procesaEmitir($event)">
  </app-info-loteria>

  <div class="contendor_seleccion">
    <h3>Ingresa tu numero de la suerte</h3>
    <div class="numeros_suerte">
      <input type="text" maxlength="1" onInput="this.value=this.value.replace(/[^0-9]/g,'');"
        name="combinacionDeLaSuerte0" [(ngModel)]="combinacionDeLaSuerte[0]">
      <input type="text" maxlength="1" onInput="this.value=this.value.replace(/[^0-9]/g,'');"
        name="combinacionDeLaSuerte1" [(ngModel)]="combinacionDeLaSuerte[1]">
      <input type="text" maxlength="1" onInput="this.value=this.value.replace(/[^0-9]/g,'');"
        name="combinacionDeLaSuerte2" [(ngModel)]="combinacionDeLaSuerte[2]">
      <input type="text" maxlength="1" onInput="this.value=this.value.replace(/[^0-9]/g,'');"
        name="combinacionDeLaSuerte3" [(ngModel)]="combinacionDeLaSuerte[3]">
      <input type="text" maxlength="1" onInput="this.value=this.value.replace(/[^0-9]/g,'');"
        name="combinacionDeLaSuerte4" [(ngModel)]="combinacionDeLaSuerte[4]">

      <select class="select_option" name="" id="">
        <option class="option" value="">Seleccion individual</option>
        <option class="option" value="">5 Boletos al azar</option>
        <option class="option" value="">30 Boletos al azar</option>
        <option class="option" value="">50 Boletos al azar</option>
      </select>
      <button class="activado" (click)="buscarNumero()">BUSCAR NUMERO</button>
    </div>
    <p>Si quieres cambiar tu numero, ingresalo nuevamente y clic en "Buscar numero"</p>
    <div *ngIf="showNumeros" class="contenedor_numeros_suerte">
      <table>
        <tbody>
          <tr *ngFor="let ticket of ticketsNacional | paginacion:page_size:page_number; let i = index">
            <!--   -->
            <td>
              <div class="tooltip">
                <input type="checkbox" [checked]="ticket.status"
                  (click)="seleccionarTicket(page_size*(page_number-1)+i)">
                <div class="contenedor_numeros">
                  <p *ngFor="let numero of ticket.display">{{ numero }}</p>
                </div>
                <span *ngIf="ticket.status">
                  <div class="seleccionAll">
                    <p>Seleccionar todas las fracciones</p>
                    <input (click)="seleccionarTodo(page_size*(page_number-1)+i)"
                      style="position: relative; width: 20px; opacity: 1; margin-left: 5px"
                      [(ngModel)]="allFractions[page_size*(page_number-1)+i]" type="checkbox">
                  </div>
                  <hr>
                  <div class="contenedor_fracciones">
                    <div class="fracciones" *ngFor="let item of ticket.fraccionesDisponibles; let j = index">
                      <input (click)="fraccionSeleccionada(page_size*(page_number-1)+i, item)"
                        [checked]="isSelected(page_size*(page_number-1)+i, item)" class="checkbox" type="checkbox"
                        id="{{ticket.identificador}}-{{item}}">
                      <label for="{{ticket.identificador}}-{{item}}">{{ item }}</label>
                    </div>
                  </div>
                  <hr>
                  <!-- <app-tool [ticket]="ticket" [fracciones]="fracciones"></app-tool> -->
                </span>
              </div>
              <!-- <app-tooltip [ticket]="tickets" [fracciones]="fracciones"></app-tooltip> -->
            </td>
          </tr>
        </tbody>
        <hr size="2px" color="gray" style="width: 100%;" />
      </table>
      <div class="contenedor_botones" style="display: flex; justify-content: center; margin-left: -8%">
        <mat-paginator style-paginator [length]="ticketsNacional.length" [pageSize]="page_size"
          (page)="handlerPage($event)">
        </mat-paginator>
      </div>
      <!-- {{ ticketsNacional | json }} -->


    </div>
    <!-- 
    <div class="boton_boleto">
      <button (click)="abrirResumen()">RESUMEN DE BOLETOS</button>
    </div> -->
  </div>

  <app-ticket-scroller class="ticketScroller" (emitirCompra)="comprar()" [ticketsLoteria]="ticketsSeleccionados"
    [ticketsLotto]="ticketsLotto" [ticketsPozo]="ticketsPozo" tipoLoteria="loteria">
  </app-ticket-scroller>
</div>

<app-loader loader="loteria" [message]="loadingMessage" *ngIf="isLoading"></app-loader>
<div class="blackBox" *ngIf="confirmacionDeCompra || compraFinalizada || saldoInsuficiente || compraCancelada"></div>
<div *ngIf="confirmacionDeCompra || compraFinalizada || saldoInsuficiente || compraCancelada" class="paymentBox">
  <app-confirmacion-de-compra (compraConfirmada)="confirmarCompra()" (compraCancelada)="cancelarCompra($event)"
    (comprarDespues)="dismissCompras()" class="paymentItem" *ngIf="confirmacionDeCompra"></app-confirmacion-de-compra>
  <app-compra-finalizada (volver)="volver()" class="paymentItem" *ngIf="compraFinalizada"></app-compra-finalizada>
  <app-saldo-insuficiente class="paymentItem" *ngIf="saldoInsuficiente"></app-saldo-insuficiente>
  <app-compra-cancelada class="paymentItem" [message]="cancelMessage" *ngIf="compraCancelada"></app-compra-cancelada>
</div>