$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-botton: #2f72b9;


// Estilos de componente tooltip

$color-botton: #2f72b9;

.tooltip {
  margin: auto;
  display: flex;
  justify-content: center;
  
  /* color: #000000;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;

  button {
    display: flex;
    justify-content: space-around;
    border: none;
    border-radius: 20px;
    transition: all .3s ease;
  }

  p {
    width: 18px;
    height: 18px;
    padding: 8px 6px;
    font-family: $fuente-subtitulo;
    font-size: 16px;
    color: #000;
  } */
  input[type="checkbox"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  input[type="checkbox"]:checked~div {
    background-color: $color-botton;
    border-radius: 10px;
    color: #fff !important;
    transition: background-color 0.3s ease-out;
    opacity: 1;
  }

  .contenedor_numeros {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;

    p {
      font-size: 16px;
      font-family: $fuente-titulo;
      opacity: 0.7;
    }

  }
}

.tooltip span {
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  top: 4rem;
  left: .6rem;
  z-index: 500;
  background-color: #d1c6c6;
  padding: 3px 30px;
  border-radius: 20px;

  /* transition: all .3s ease; */
  margin-left: -999em;
  position: absolute;
}

/* .tooltip {
  border-bottom: 1px dotted #000000;
  color: #000000;
  outline: none;
  cursor: help;
  text-decoration: none;
  position: relative;
}

.tooltip span {
  margin-left: -999em;
  position: absolute;
} */

.tooltip:hover span {
  font-family: Calibri, Geneva, Tahoma, Arial, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 250px;
}

.tooltip:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}

.tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}

.classic {
  padding: 0.8em 1em;
}

.custom {
  padding: 0.5em 0.8em 0.8em 2em;
}

* html a:hover {
  background: transparent;
}

.classic {
  padding: 0.8em 1em;
}

* html a:hover {
  background: transparent;
}

.classic {
  background: #FFFFAA;
  border: 1px solid #FFAD33;
}

/* .classic {
  background: $color-botton;
  border: none;
  border-radius: 30px;

}*/

.fondoNormal {
  background-color: #f2f2f2;
}

.fondoAzul {
  background-color: $color-botton;
  color: #fff;
}

/* div {
  display: flex;
  justify-content: space-around;

  p {
    font-size: 16px;
    font-family: $fuente-titulo;
    opacity: 0.7;
  }
}
 */
.numeros_grupo {
  display: grid;
  grid-template-columns: repeat(5, auto) 1fr;

  h3 {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    width: 18px;
    height: 18px;
    padding: 8px 6px;
    font-family: $fuente-subtitulo;
    font-size: 12px;
    border: 1.5px solid #000;
    border-radius: 2px;
    color: #000;
    -moz-appearance: textfield;
    margin-right: 3px;
    background-color: #fff;
  }
}

.seleccionAll {
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  /* margin: auto; */
  /* padding: 0; */
  /* margin: 0; */
  text-align: left;

  p {
    font-size: 14px;
    width: 100%;
  }

  input[type="checkbox"] {
    width: 30px;
    height: 30px;
    
  }
}

.contenedor_fracciones {
  display: flex;
  flex-wrap: wrap;

  .fracciones {
    /* display: grid;
    grid-template-columns: repeat(5, auto); */
    padding: 20px;
    display: flex;
    position: relative;

    label {
      /* width: 5px;
    height: 5px;
    font-family: $fuente-botones;
    border-radius: 6px;
    color: #000;
    -moz-appearance: textfield;
    text-align: center;
    padding: 0;
    position: absolute;
    left: 40%;
    
    font-size: 15px;
    z-index: 0;
    opacity: 0.77; */
      width: 20px;
      height: 20px;
      border: 1px solid #000;
      background-color: #fff;
      padding: 10px;
      color: #000;

      position: absolute;
      top: 0;
      left: 0;

    }

    .checkbox {
      /* position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;


      opacity: .5; */

      
    width: 20px;
    height: 20px;
    display: none;
    }

    .checkbox:checked + label {
      width: 10px;
      height: 10px;
      border: 1px solid #000;
      background-color:  $color-botton;
      padding: 15px;
      color: #000;
    }
  }
}



// Estilos de component tooltip

.contenedor_loteria {
  width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;

  .menuBox {
    margin-right: 15px;
    /* margin-top: 0px; */
    padding: 0 !important;

    .menuItem {
      width: 225px;
      height: 40px;
      list-style: none;
      padding: 20px 10px;
      font-family: $fuente-subtitulo;
      background-color: #f2f2f2;
      padding-left: 15px;
      margin: 0 0 4px 0;

      &:nth-child(1) {
        background-color: #2f72b9;
        font-family: $fuente-subtitulo;
        margin: 0;
        height: 18px;
        color: #fff;
      }

      &:nth-child(5) {
        height: 13px;
      }

      p {
        font-size: 10px;
        font-family: $fuente-parrafo;
      }

      .fechaItem {
        width: 100%;
        margin: auto;
        padding: 12px 0px;
        border: none;
        background-color: #f2f2f2;
        outline: none;

        font-family: $fuente-parrafo;
        font-size: 12px;
      }
    }
  }

  .contendor_seleccion {
    width: 900px;
    /* margin: auto 15px; */
    display: flex;
    flex-direction: column;
    h3 {
      font-family: $fuente-subtitulo;
      font-size: 18px;
    }

    .numeros_suerte {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      input[type="number"] {
        width: 6%;
        padding: 8px 6px;
        margin: 0 5px 0 5px;
        text-align: center;
        font-family: $fuente-subtitulo;
        border: 1.5px solid #000;
        border-radius: 2px;
        color: #000;
        -moz-appearance: textfield;

        &:nth-child(1) {
          margin: 0 5px 0 0;
        }
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      button {
        background-color: $color-botton;
        padding: 10px 15px;
        border-radius: 30px;
        border: 1px solid $color-botton;
        margin-left: 10px;
        color: #fff;
        font-family: $fuente-botones;
        font-size: 11px;
        cursor: pointer;

        &:hover {
          background-color: white;
          color: $color-botton;
          transition: background-color 0.4s ease;
        }
      }
    }

    p {
      font-family: $fuente-titulo;
      font-size: 14px;
    }

    .contenedor_numeros_suerte {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 100%;

      table {
        width: 100%;
    /* display: flex; */
    flex-direction: column;
    /* margin: auto; */

        tbody {
          width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    gap: 20px;

          tr {
            width: 100%;
    height: 100%;
            display: flex;
    margin: auto;

            td {
              width: 100%;
    height: 100%;
    margin: auto;
              position: relative;

              background-color: #f2f2f2;
              text-align: center;
              border-radius: 20px;

              /* width: 100%;
      margin: auto;

      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(4, auto);
      gap: 10px 15px; */
            }
          }
        }
      }
    }

    .contenedor_botones {
      width: 100%;
      display: flex;
      margin: auto;
      justify-content: space-between;

      .desaparecer { 
        opacity: 0;
        cursor: default;
      }

      .aparecer { 
        display: inline;
      }

      .boton {
        width: 3vw;
        height: 3vw;
        border: 1px solid $color-botton;
        font-family: $fuente-parrafo;
        background-color: $color-botton;
        color: #fff;
        border-radius: 50px;
        font-size: 20px;
        cursor: pointer;

        &:nth-child(1) i {
          padding: 3px 3px 0 0;
        }

        &:nth-child(2) i {
          padding: 3px 0px 0 3px;
        }

        &:hover {
          background-color: white;
          color: $color-botton;
          transition: background-color 0.4s ease;
        }

        &:active {
          border: none;
        }
      }
    }

    .boton_boleto {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: flex-start;
      margin-top: 25px;
      margin-bottom: 20px;

      button {
        width: 220px;
        background-color: #fff;
        padding: 20px 17px;
        border-radius: 30px;
        border: 1px solid $color-botton;
        color: $color-botton;
        font-family: $fuente-titulo;
        font-size: 13px;
        cursor: pointer;

        &:hover {
          background-color: $color-botton;
          border: 1px solid transparent;
          color: #fff;
          transition: background-color 0.4s ease;
        }
      }
    }
  }

  .contenedor_ticket {
    width: 40%;
    height: 60%;
    margin-left: 10px;
    border-radius: 30px;
    background-color: $color-botton;

    .logo_ticket {
      width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;

      img {
        width: 120px;
        margin: auto;
        margin: 15px auto;
      }
    }

    hr {
      width: 90%;
      margin: auto;
      color: #fff;
    }

    .scroll {
      height: 250px;
      overflow: auto;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
      }

      &::-webkit-scrollbar:vertical {
        width: 10px;
      }

      /* &::-webkit-scrollbar-button:increment,
        &::-webkit-scrollbar-button {
          display: none;
        } */

      &::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 20px;
        border: 2px solid #fff;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }

      .contenedor_informacion_ticket {
        width: 90%;
        margin: auto;
        display: flex;
        margin: 10px auto;
        background-color: #f2f2f2;
        border-radius: 5px;
        box-sizing: border-box;

        .contenedor_informacion_ticket_izquierdo {
          margin: 0px auto;
          padding: 10px 8px;

          /* .contenedor_informacion_ticket_izquierdo_logo {} */

          .contenedor_informacion_ticket_izquierdo_barra {
            img {
              width: 40px;
              height: 120px;
              margin: auto;
            }
          }
        }

        .contenedor_informacion_ticket_derecho {
          width: 100%;
          margin: auto;

          .ticket_titulo {
            display: flex;
            margin: auto;
            justify-content: space-around;
            align-items: center;

            img {
              width: 40px;
            }

            h3 {
              font-family: $fuente-titulo;
              font-size: 16px;
              margin-left: 10px;
            }

            p {
              margin: 0px;
              font-family: $fuente-subtitulo;
              font-size: 10px;
              margin-right: 10px;
            }
          }

          .ticket_monto {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 14px;

            p:nth-child(1) {
              font-size: 32px;
              -webkit-text-stroke: 2px $color-botton;
              color: #fff;
              font-family: $fuente-titulo;
              margin: 10px 0px;
            }

            p:nth-child(2) {
              font-size: 14px;
              margin: 0px;
              margin-bottom: 5px;
              color: $color-botton;
              font-family: $fuente-subtitulo;
            }
          }

          .ticket_entero_fraccion {
            display: flex;
            justify-content: space-between;
            font-family: $fuente-subtitulo;

            .ticket_entero {
              padding-left: 13px;

              h5 {
                margin-top: 7px;
                margin-bottom: 8px;
              }

              div {
                display: flex;
                justify-content: center;
                margin: 0 0 15px 0;

                p {
                  width: 30px;
                  height: 30px;
                  background-color: #fff;
                  font-family: $fuente-subtitulo;
                  font-size: 14px;
                  color: #000;
                  margin: 0px 2px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }
            }

            .ticket_fraccion {
              padding-right: 15px;

              h5 {
                margin-top: 7px;
                margin-bottom: 8px;
              }

              div {
                display: flex;
                justify-content: center;

                p {
                  width: 30px;
                  height: 30px;
                  background-color: #fff;
                  font-family: $fuente-subtitulo;
                  font-size: 14px;
                  color: #000;
                  margin: 2px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }
            }
          }
        }
      }
    }

    .boton_comprar {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        width: 90%;
        padding: 20px 30px;
        background-color: $color-botton;
        border: 1px solid #fff;
        border-radius: 40px;
        margin: 10px auto;
        font-family: $fuente-botones;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        transition: background-color 0.5s ease;

        &:hover {
          background-color: #fff;
          color: $color-botton;
        }
      }
    }
  }
}
