<app-seleccion-tipo></app-seleccion-tipo>

<div class="contenedor_loteria">

  <ul class="menuBox">
    <li class="menuItem">Loteria Nacional</li>
    <li class="menuItem">Sorteo: <br>
      <select class="fechaItem" name="" id="">
        <option value="">Fecha1</option>
        <option value="">Fecha2</option>
        <option value="">Fecha3</option>
      </select>
    </li>
    <li class="menuItem">Premios: <p>$200.000</p>
    </li>
    <li class="menuItem">Precio: <p>$15</p>
    </li>
    <li class="menuItem">Mi cuenta</li>
  </ul>

  <div class="contendor_seleccion">
    <h3>Ingresa tu numero de la suerte</h3>
    <form action="">
      <div class="numeros_suerte">
        <input type="number" min="0" max="9" name="" placeholder="2">
        <input type="number" min="0" max="9" name="" placeholder="4">
        <input type="number" min="0" max="9" name="" placeholder="5">
        <input type="number" min="0" max="9" name="" placeholder="7">
        <input type="number" min="0" max="9" name="" placeholder="4">
        <button class="activado">BUSCAR NUMERO</button>
      </div>
    </form>
    <p>Si quieres cambiar tu numero, ingresalo nuevamente y clic en "Buscar numero"</p>
    <div class="contenedor_numeros_suerte" >
        <app-tooltip *ngFor="let item of tooltips  "></app-tooltip> <!-- | paginate: { itemsPerPage: 2, currentPage: pageActual }; -->

    </div> 
    <!-- <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> -->
    

    <hr size="2px" color="gray" />

    <div class="contenedor_botones">
      <button class="boton"><i class="fa fa-chevron-left"></i></button>
      <button class="boton"><i class="fa fa-chevron-right"></i></button>
    </div>
    <div class="boton_boleto">
      <button>RESUMEN DE BOLETOS</button>
    </div>
  </div>

  <app-ticket-scroller style="width: 25%;" [tickets]="tickets" logo="assets/img/loteria nacional.png">
  </app-ticket-scroller>

  <!--   <div class="contenedor_ticket">
    <div class="logo_ticket">
      <img src="../../../../assets/img/loteria nacional.png" alt="">
    </div>
    <div>
      <hr size="2px" />
    </div>
    <div class="scroll">
      <app-loteria-nacional-ticket *ngFor="let ticket of tickets" [ticketIndex]="ticket.ticketIndes"
        [date]="ticket.date" [fraccion]="ticket.fraccion" [ticketNumbers]="ticket.ticketNumbers"
        [sorteoNumber]="ticketsorteoNumber"></app-loteria-nacional-ticket>
      </div>
    <div>
      <hr size="2px" />
    </div>
    <div class="boton_comprar">
      <button>COMPRAR</button>
    </div>
  </div>
 -->
</div>
