<div class="containerBox">
  <mat-slide-toggle [(ngModel)]="status" (change)="changePopupStatus()"
    >Habilitar popup</mat-slide-toggle
  >
  <div>
    Mostrar imagenes mixtas
    <mat-slide-toggle
      [(ngModel)]="type"
      (change)="changePopupType()"
    ></mat-slide-toggle>
    Mostrar imagen fija
  </div>
  <button type="button" mat-raised-button (click)="fileInput.click()">
    Escoja la(s) imagen(es) del popup
  </button>
  <input
    hidden
    (change)="imagenesSeleccionadas()"
    accept="image/*"
    multiple
    #fileInput
    type="file"
    id="file"
  />
  <div id="fileList">
    <p *ngIf="type">Seleccione la imagen principal del popup</p>
    <p *ngIf="!type">
      Listado de imágenes que aparecerán de forma aleatoria en el popup
    </p>
    <div class="imgBox" *ngFor="let file of files">
      <p (click)="deleteImage($event, file)">X</p>
      <img (click)="setImage($event, file)" [src]="file" alt="" />
    </div>
  </div>
</div>

<app-loader
  loader="loteria"
  [message]="loadingMessage"
  *ngIf="isLoading"
></app-loader>

<app-error
  [msg]="errorMessage"
  (closeError)="closeError()"
  *ngIf="isError"
></app-error>
