<div class="containerBox">
  <mat-slide-toggle [(ngModel)]="status" (change)="changePopupStatus()"
    >Habilitar popup</mat-slide-toggle
  >
  <div>
    Mixto
    <mat-slide-toggle
      [(ngModel)]="type"
      (change)="changePopupType()"
    ></mat-slide-toggle>
  </div>
  <button type="button" mat-raised-button (click)="fileInput.click()">
    Escoja la(s) imagen(es) del popup
  </button>
  <input
    hidden
    (change)="imagenesSeleccionadas()"
    accept="image/*"
    multiple
    #fileInput
    type="file"
    id="file"
  />
</div>
