<div class="containerBox">
  <mat-slide-toggle [(ngModel)]="status" (change)="changePopupStatus()"
    >Habilitar popup</mat-slide-toggle
  >
  <div>
    Mostrar imagenes mixtas
    <mat-slide-toggle
      [(ngModel)]="type"
      (change)="changePopupType()"
    ></mat-slide-toggle>
    Mostrar imagen fija
  </div>
  <button type="button" mat-raised-button (click)="fileInput.click()">
    Escoja la(s) imagen(es) del popup
  </button>
  <input
    hidden
    (change)="imagenesSeleccionadas()"
    accept="image/*"
    multiple
    #fileInput
    type="file"
    id="file"
  />
  <div id="fileList">
    <p *ngIf="type">Seleccione la imagen principal del popup</p>
    <p *ngIf="!type">
      Listado de imágenes que aparecerán de forma aleatoria en el popup
    </p>
    <img *ngFor="let file of files" [src]="file" alt="" />
  </div>
</div>
