<div class="resultadoBox" [ngClass]="loteriaBackground">
  <div class="resultadoDetalles">
    <p>
      Bienvenido al
      <span
        >País de los Ganadores <img src="assets/ganadorbrillante.png" alt=""
      /></span>
    </p>
    <p>Eres una persona afortunada, ¡acabas de ganar un premio!</p>

    <div class="detailBox">
      <img src="assets/ganadorpremio.png" alt="" />
      <div class="detailText">
        <p><span>SORTEO: </span>{{premio.drawNumber}}</p>
        <p><span>COMBINACIÓN: </span>{{premio.combinationC1}}</p>
        <p><span>PREMIO: </span>{{formatNumber(premio.prizeDescription)}}</p>
        <p><span>VALOR: </span>{{premio.prizeWithDiscount}}</p>
      </div>
    </div>
    <p>El valor del premio se acreditará automáticamente en tu cuenta.</p>
  </div>
</div>
