<div class="resultadoBox" [ngClass]="loteriaBackground">
  <div class="resultadoDetalles">
    <p>
      Bienvenido al
      <span
        >País de los Ganadores <img src="assets/ganadorbrillante.png" alt=""
      /></span>
    </p>
    <p>Eres una persona afortunada, ¡acabas de ganar un premio!</p>

    <div class="detailBox">
      <img src="assets/ganadorpremio.png" alt="" />
      <div class="detailText">
        <p><span>SORTEO: </span>{{premio.drawSorteo}}</p>
        <p><span>COMBINACIÓN: </span>{{premio.combinacion}}</p>
        <p><span>PREMIO: </span>{{premio.prizeDescription}}</p>
        <p><span>VALOR: </span>{{formatNumber(premio.prizeWithDiscount)}}</p>
        <p *ngIf="premio.fracciones.length != 0"><span>FRACCIÓN: </span>{{premio.fracciones}}</p>
      </div>
    </div>
    <p>El valor del premio se acreditará automáticamente en tu cuenta.</p>
  </div>
</div>
