<div class="contenedor_informacion_ticket">
  <div class="contenedor_informacion_ticket_derecho">
    <div class="ticket_titulo">

      <div>
        <p>Sorteo N° {{ ticket.numeroSorteo }}</p>
        <p *ngIf="ticket.sorteo">{{ ticket.sorteo.fecha }}</p>
      </div>
    </div>
    <div class="ticket_title">
      <p>NÚMEROS GANADORES</p>
    </div>
    <div class="ticket_entero_fraccion">
      <div class="ticket_entero">
        <div>
          <p *ngFor="let number of ticketNumbers">{{ number }}</p>
        </div>
      </div>
      <div class="texto_premios">
        <img [src]="mascotaPath" [alt]="mascota" />
      </div>
    </div>
  </div>
</div>
