<div class="blackBox">
</div>

<div class="resultsBox">
    <div (click)="closeBox()" class="closeBox">
        X
    </div>
    <div class="resultBox" *ngFor="let ticket of tickets">

        <div class="messageBox">
            <app-resultado [ticket]="ticket" [isLoteriaNacional]="isLoteriaNacional"></app-resultado>
        </div>
        <!-- <div *ngIf="isLoteriaNacional" class="messageBox">
            <app-loteria-nacional-ticket [ticket]="ticket"></app-loteria-nacional-ticket>
        </div>
        <div *ngIf="isLotto" class="messageBox">
            <app-lotto-ticket></app-lotto-ticket>
        </div>
        <div *ngIf="isPozoMillonario" class="messageBox">
            <app-pozo-millonario-ticket></app-pozo-millonario-ticket>
        </div> -->
    </div>
</div>