.iframeBox {
  width: 80%;
  margin: 20px auto;


  iframe {
    width: 100%;
    max-width: 1080px;
    height: 420px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
