<div class="headerBox">
    <div class="sideBox">
        <p class="maintextBox">
            ¿Quieres ser uno de nuestros afortunados ganadores?
        </p>
        <p class="tagTextBox">Conoce nuestro proceso</p>
        <button class="headerButton">PROCESO</button>
    </div>
</div>
<div class="instructionsBox">
    <div class="instructionBox">
        <div class="upInstruction">
            <h1 class="instructionTitle">Selección de tipo de sorteo</h1>
            <p class="instructionText">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aliquam vero aut cupiditate adipisci
                modi
                amet. Sapiente ullam expedita accusamus ab nulla quia atque, molestiae quisquam necessitatibus quibusdam
                vitae
                numquam provident adipisci excepturi totam, velit quo reiciendis mollitia possimus. Perferendis quo a
                recusandae
                nisi expedita repudiandae numquam sunt
            </p>
        </div>
        <div class="firstNumber">1</div>
    </div>
    <div class="instructionBox derecho">
        <div class="upInstruction">
            <h1 class="instructionTitle">Selección de número de boleto</h1>
            <p class="instructionText">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aliquam vero aut cupiditate adipisci
                modi
                amet. Sapiente ullam expedita accusamus ab nulla quia atque, molestiae quisquam necessitatibus quibusdam
                vitae
                numquam provident adipisci excepturi totam, velit quo reiciendis mollitia possimus. Perferendis quo a
                recusandae
                nisi expedita repudiandae numquam sunt
            </p>
        </div>
        <div class="firstNumber">2</div>
    </div>
    <div class="instructionBox">
        <div class="upInstruction">
            <h1 class="instructionTitle">Confirmación de boletos seleccionados</h1>
            <p class="instructionText">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aliquam vero aut cupiditate adipisci
                modi
                amet. Sapiente ullam expedita accusamus ab nulla quia atque, molestiae quisquam necessitatibus quibusdam
                vitae
                numquam provident adipisci excepturi totam, velit quo reiciendis mollitia possimus. Perferendis quo a
                recusandae
                nisi expedita repudiandae numquam sunt
            </p>
        </div>
        <div class="firstNumber">3</div>

    </div>

    <div class="instructionBox derecho_derecho">
        <div class="upInstruction">
            <h1 class="instructionTitle">Compra de boletos</h1>
            <p class="instructionText">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aliquam vero aut cupiditate adipisci
                modi
                amet. Sapiente ullam expedita accusamus ab nulla quia atque, molestiae quisquam necessitatibus quibusdam
                vitae
                numquam provident adipisci excepturi totam, velit quo reiciendis mollitia possimus. Perferendis quo a
                recusandae
                nisi expedita repudiandae numquam sunt
            </p>
        </div>
        <div class="firstNumber">4</div>

    </div>
</div>

<app-ganadores></app-ganadores>