<div class="tooltip">
  <button [ngClass]="{'fondoAzul': fondo, 'fondoNormal': !fondo}" (click)="activar()" >
    <p *ngFor="let numero of ticket.numeros">{{ numero }}</p>
  </button>
  <!-- <span *ngIf="fondo">
    <div class="numeros_grupo">
      <p *ngFor="let numero of ticket.numeros">{{ numero }}</p>
      <h3>Fraccion</h3>
    </div>
    <hr>
    <div class="seleccionAll">
      <p>Seleccionar todas las fracciones</p>
      <input (click)="seleccionarTodo()" type="checkbox"> 
    </div>
    <hr>
    <div class="contenedor_fracciones">
      <div class="fracciones" *ngFor="let i of contador; let e = index">
        <input (click)="seleccionarFraccion()" class="checkbox" type="checkbox" name=""
        [value]="numeroCheck.numero" id="">
        <p>{{ e }}</p>
      </div>
    </div>
    <hr>
  </span> -->
</div>

