$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-botton: #2f72b9;

.tooltip {
  color: #000000;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;

  button {
    display: flex;
    justify-content: space-around;
    border: none;
    border-radius: 20px;
    transition: all .3s ease;
  }

  p {
    width: 18px;
    height: 18px;
    padding: 8px 6px;
    font-family: $fuente-subtitulo;
    font-size: 16px;
    color: #000;
  }
}

.tooltip span {
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  top: 4rem;
  left: .6rem;
  z-index: 500;
  background-color: #d1c6c6;
  padding: 3px 30px;
  border-radius: 20px;

  /* transition: all .3s ease; */
  margin-left: -999em;
  position: absolute;
}

/* .tooltip {
  border-bottom: 1px dotted #000000;
  color: #000000;
  outline: none;
  cursor: help;
  text-decoration: none;
  position: relative;
}

.tooltip span {
  margin-left: -999em;
  position: absolute;
} */

.tooltip:hover span {
  font-family: Calibri, Geneva, Tahoma, Arial, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 250px;
}

.tooltip:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}

.tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}

.classic {
  padding: 0.8em 1em;
}

.custom {
  padding: 0.5em 0.8em 0.8em 2em;
}

* html a:hover {
  background: transparent;
}

.classic {
  padding: 0.8em 1em;
}

* html a:hover {
  background: transparent;
}

.classic {
  background: #FFFFAA;
  border: 1px solid #FFAD33;
}

/* .classic {
  background: $color-botton;
  border: none;
  border-radius: 30px;

}*/

.fondoNormal {
  background-color: #f2f2f2;
}

.fondoAzul {
  background-color: $color-botton;
  color: #fff;
}

/* div {
  display: flex;
  justify-content: space-around;

  p {
    font-size: 16px;
    font-family: $fuente-titulo;
    opacity: 0.7;
  }
}
 */
.numeros_grupo {
  display: grid;
  grid-template-columns: repeat(5, auto) 1fr;

  h3 {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    width: 18px;
    height: 18px;
    padding: 8px 6px;
    font-family: $fuente-subtitulo;
    font-size: 12px;
    border: 1.5px solid #000;
    border-radius: 2px;
    color: #000;
    -moz-appearance: textfield;
    margin-right: 3px;
    background-color: #fff;
  }
}

.fracciones {
  display: grid;
  grid-template-columns: repeat(5, auto);
  /* grid-template-rows: repeat(2, 50%);
  gap: 2px 0px; */

  p {
    width: 30px;
    height: 30px;
    font-family: "Monstserrat SemiBold";
    border-radius: 6px;
    color: #000;
    -moz-appearance: textfield;
    background-color: #fff;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkbox {
    position: relative;
    top: -0.9rem;
    left: 0.4rem;
    width: 24%;
  }
}
