<div class="tooltip">
  <!-- *ngFor="let item of numeros" -->
  <!--   <button (click)="fondo = !fondo; agregarTicket(numeros, fondo, ticket)" [ngClass]="{'fondoAzul': fondo, 'fondoNormal': !fondo}">
 --> <button (click)="fondo = !fondo;" [ngClass]="{'fondoAzul': fondo, 'fondoNormal': !fondo}">
    <p *ngFor="let numero of numeros">{{ numero }}</p>
  </button>
  <span *ngIf="fondo">
    <div class="numeros_grupo">
      <p *ngFor="let numero of numeros">{{ numero }}</p>
      <h3>Fraccion</h3>
    </div>
    <hr>
    <div class="seleccionAll">
      <p>Seleccionar todas las fracciones</p>
      <input (click)="seleccionarTodo()" type="checkbox" name="" id="">
    </div>
    <hr>
    <div class="contenedor_fracciones">
      <div class="fracciones" *ngFor="let numeroCheck of cheks; let i = index">
        <input (click)="numeroCheck.variable = !numeroCheck.variable; " class="checkbox" type="checkbox" name=""
        [value]="numeroCheck.numero" id="">
        <p>{{ numeroCheck.numero }}</p>
      </div>
    </div>
    <hr>
  </span>
</div>
