<input type="checkbox" name="" id="">
            <div class="contenedor_seleccion_numero">
              <div class="imagen_animal">
                <p>Mascota: </p>
                <img src="../../../../assets/mascotas/mascotas pozo millonario-ballena.png" alt="">
              </div>
              <div class="numeros">
                <p>01</p>
                <p>14</p>
                <p>24</p>
                <p>78</p>
                <p>96</p>
                <p>54</p>
                <p>32</p>
                <p>02</p>
                <p>44</p>
                <p>77</p>
                <p>45</p>
                <p>23</p>
                <p>67</p>
                <p>99</p>
              </div>
            </div>