<div class="resultadoBox">
    <div *ngIf="ticket.resultado.status" class="resultadoDetalles">
      <p>
        Bienvenido al
        <span
          >País de los Ganadores <img src="assets/ganadorbrillante.png" alt=""
        /></span>
      </p>
      <p>Eres una persona afortunada, ¡acabas de ganar un premio!</p>
  
      <div class="detailBox">
        <img src="assets/ganadorpremio.png" alt="" />
        <div class="detailText">
          <p><span>SORTEO: </span>{{ sorteo }}</p>
          <p><span>COMBINACIÓN: </span>{{ ticket.combinacion }}</p>
          <p *ngIf="tipoLoteria == 14"><span>SERIE: </span>{{ ticket.serie }}</p>
          <p><span>PREMIO: </span>{{ nombrePremio }}</p>
          <p><span>ENTERO: </span>{{ valorPremio }}</p>
          <p *ngIf="tipoLoteria == 1 || tipoLoteria == 14">
            <span>FRACCIÓN: </span>{{ valorFraccion }}
          </p>
          <p *ngIf="descripcionDescuento != ''">Aplican descuentos en premios</p>
          <br />
        </div>
      </div>
      <p>
        Cóbralo en tu <span>Punto de la suerte</span> más cercano, descúbrelo
        <a href="https://www.loteria.com.ec/puntos-de-la-suerte" target="_parent"
          >aquí </a
        >.
      </p>
    </div>
    <div *ngIf="!ticket.resultado.status" class="resultadoDetalles">
      <p><span>Démosle otro intento,</span> ¡hoy no has ganado!</p>
      <br />
      <p>Esta vez tu boleto no tiene premio.</p>
      <br />
      <div class="detailBox">
        <div class="detailText">
          <p><span>SORTEO: </span>{{ sorteo }}</p>
          <p><span>COMBINACIÓN: </span>{{ ticket.combinacion }}</p>
          <p *ngIf="tipoLoteria == 14"><span>SERIE: </span>{{ ticket.serie }}</p>
        </div>
      </div>
      <p>¡Sigue intentándolo!</p>
      <br />
      <p>
        Gracias a tu compra contribuyes a la obra social de la Junta de
        Beneficencia de Guayaquil.
      </p>
    </div>
  </div>
  