/* @import url("../../../../sass/fonts.scss"); */
$color-loteria: #2f72b9;
$color-lotto: #b51f20;
$color-pozo: #04b865;
//$color-pozo: #057333;
$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

.lotteryBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 300px;
  padding: 10px;
  border-radius: 23px;
  /* margin: auto; */
  box-shadow: 0px 0px 25px -12px #000000;
  -moz-box-shadow: 0px 0px 25px -12px #000000;
  -webkit-box-shadow: 0px 0px 25px -12px #000000;

  .loteria {
    background-color: #2f72b9;
    border: 3px solid #2f72b9;
  }

  .lotto {
    background-color: #b51f20;
    border: 3px solid #b51f20;
  }

  .pozo {
    background-color: #04b865;
    //    background-color: #057333;
    //  border: 3px solid #057333;
    border: 3px solid #04b865;
  }

  .loteria:hover {
    background-color: white;
    color: #2f72b9;
  }

  .lotto:hover {
    background-color: white;
    color: #b51f20;
  }

  .pozo:hover {
    background-color: white;

    //    color: #057333;
    color: #04b865;
  }

  .lotteryImg {
    width: 50%;
    margin: auto;
    padding: 10px;
    transition: width 0.3s ease;
  }

  &:hover .lotteryImg{
    width: 80%;

    transition: width 0.3s ease;
  }

  .active {
    display: none;
  }
}


.loteria {
  background-color: $color-loteria;
}

.lotto {
  background-color: $color-lotto;
}

.pozo {
  background-color: $color-pozo;
}
