<div class="selectionBox">
    <div class="lotteryBox">
        <img class="lotteryImg" src="assets/loteria.png" alt="">
        <p class="lotteryMoney">$1.485.847,00</p>
        <p class="lotteryName">Lotería</p>
        <button class="lotteryButton">Jugar</button>
    </div>
    <div class="lotteryBox">
        <img class="lotteryImg" src="assets/loteria.png" alt="">
        <p class="lotteryMoney">$1.355.846,00</p>
        <p class="lotteryName">Lotería</p>
        <button class="lotteryButton">Lotto</button>
    </div>
    <div class="lotteryBox">
        <img class="lotteryImg" src="assets/loteria.png" alt="">
        <p class="lotteryMoney">$1.289.143,00</p>
        <p class="lotteryName">Pozo Millonario</p>
        <button class="lotteryButton">Jugar</button>
    </div>
</div>
<div class="numbersBox">
    <div class="totalsBox">
        <p class="numberText">2,543,745</p>
        <p class="typeText">MIEMBROS TOTALES</p>
    </div>
    <div class="totalsBox">
        <p class="numberText">1,856,002</p>
        <p class="typeText">GANADORES TOTALES</p>
    </div>
</div>