<div class="contenedor_informacion_ticket">
  <div class="ticketBox">
    <div class="left">
      <p>Juego: <span>Lotto</span></p>

      <p>
        Sorteo: <span>{{ sorteoNumber }}</span>
      </p>
      <p>
        Fecha: <span>{{ date }}</span>
      </p>
    </div>
    <div class="right">
      <img
        src="assets/trash.svg"
        class="trash"
        (click)="deleteTicket()"
        alt=""
      />
      <img class="logoTicket" src="assets/img/lotto-sombra.png" alt="" />
    </div>
  </div>
  <div class="ticketBox boleto">
    <img [src]="boleto" alt="" />
    <div *ngIf="sorteoLunes" class="sorteoLunes">
      <p class="combinacion1">{{ ticket!.combinacion1 }}</p>
      <p class="combinacion3">{{ ticket!.combinacion3 }}</p>
      <p class="combinacion2">{{ ticket!.combinacion2 }}</p>
      <p class="combinacion4">{{ ticket!.combinacion4 }}</p>
    </div>
    <div *ngIf="sorteoJueves" class="sorteoJueves">
      <p class="combinacion1">{{ ticket!.combinacion1 }}</p>
      <p class="combinacion3">{{ ticket!.combinacion3 }}</p>
      <p class="combinacion2">{{ ticket!.combinacion2 }}</p>
      <p class="combinacion4">{{ ticket!.combinacion4 }}</p>

      <img class="combinacion5" [src]="antojito!.ruta" alt="" />
    </div>
    <div *ngIf="otrosSorteos" class="otrosSorteos">
      <p class="combinacion1">{{ ticket!.combinacion1 }}</p>
      <p class="combinacion2">{{ ticket!.combinacion2 }}</p>
    </div>
  </div>
</div>
