$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-botton: #2f72b9;

.fondoLoteria {
  border-bottom:1px solid #2f72b9 !important;
  font-size: 30px !important;
  color: #2f72b9;
  font-family: $fuente-titulo;
}

.fondoLotto {
  border-bottom:1px solid #b51f20 !important;
  font-size: 30px !important;
  color: #b51f20;
  font-family: $fuente-titulo;
}

.fondoPozo {
  border-bottom:1px solid #04b865 !important;
  font-size: 30px !important;
  color: #04b865;
  font-family: $fuente-titulo;
}

.menuBox {
  /* margin-right: 15px;
    padding: 0 !important; */
  padding: 0;
  margin: autp;
  width: 100%;
  .menuItem {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 5px;
    font-size: 16px;
    font-family: $fuente-subtitulo;
    background-color: transparent;
    margin: 0 0 4px 0;

    select {
      cursor: pointer;
      font-size: 14px;
      option:first-child {
        visibility: hidden;
        display: none;
      }
    }

    p {
      font-size: 14px;
      margin: 3px 3px 3px 10px;
      font-family: $fuente-parrafo;
    }

    .fechaItem {
      width: 100%;
      margin: auto;
      padding: 4px 0px;
      border: none;
      background-color: #f2f2f2;
      outline: none;

      font-family: $fuente-parrafo;
      font-size: 12px;
    }
  }
}
