<ul class="menuBox">
  <li class="menuItem" [ngClass]="{'fondoLoteria': fondoLoteria, 'fondoLotto': fondoLotto, 'fondoPozo': fondoPozo}">
    {{ titulo }}
  </li>
  <li class="menuItem">Sorteo:
    <select class="fechaItem" [(ngModel)]="seleccionado" (change)="onEmitir()">
      <option [ngValue]="sorteoDefault" selected disabled>Seleccione un sorteo</option>
      <option [ngValue]="objeto" *ngFor="let objeto of sorteos">{{objeto.nombre}}</option>
    </select>
  </li>
  <li class="menuItem">
    Fecha: <p>{{ fecha }}</p>
  </li>
  <li class="menuItem">
    Premio: <p>{{ premio }}</p>
  </li>
  <li class="menuItem">
    Precio: <p>{{ precio }}</p>
  </li>
</ul>