$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-botton: #2f72b9;

.fondoLoteria {
  background-color: #2f72b9 !important;
}

.fondoLotto {
  background-color: #b51f20 !important;
}

.fondoPozo {
  background-color: #04b865 !important;
}

.menuBox {
  /* margin-right: 15px;
    padding: 0 !important; */
  padding: 0;
  margin: autp;
  width: 100%;
  .menuItem {
    /* height: 40px; */
    list-style: none;
    padding: 10px;
    font-size: 16px;
    font-family: $fuente-subtitulo;
    background-color: #f2f2f2;
    margin: 0 0 4px 0;

    &:nth-child(1) {
      /* background-color: #2f72b9; */
      font-family: $fuente-subtitulo;
      /* margin: 0; */
      height: 40px;
      color: #fff;
    }

    select {
      cursor: pointer;
      font-size: 14px;
      option:first-child {
        visibility: hidden;
        display: none;
      }
    }

    p {
      font-size: 14px;
      font-family: $fuente-parrafo;
    }

    .fechaItem {
      width: 100%;
      margin: auto;
      padding: 12px 0px;
      border: none;
      background-color: #f2f2f2;
      outline: none;

      font-family: $fuente-parrafo;
      font-size: 12px;
    }
  }
}
