<div class="titleBox">
  <p>A continuacion un resumen de tu compra:</p>
</div>
<div class="containerDetails">
  <div class="containerInfoBox">
    <div class="titleLoteryBox">
      <h3>
        Usuario: <span>{{ user }}</span>
      </h3>
      <h3 *ngIf="ticketId">
        Número de Orden: <span>{{ ticketId }}</span>
      </h3>
    </div>
  </div>
  <div class="containerInfoBox" *ngIf="compra.loteria.length != 0">
    <div class="titleLoteriaBox">
      <h3>LOTERÍA NACIONAL</h3>
    </div>
    <div *ngFor="let item of compra.loteria" class="dateLoteryBox loteria">
      <div class="infoSorteoBox">
        <p>
          Sorteo: <span>{{ item.sorteo }}</span>
        </p>
        <p>
          Fecha del sorteo: <span>{{ item.fecha }}</span>
        </p>
      </div>
      <div class="dateTicketBox">
        <p>
          Combinación: <span>{{ item.combinacion1 }}</span>
        </p>
        <p>
          Fracciones seleccionadas:
          <span>{{ item.fracciones.join(", ") }}</span>
        </p>
      </div>
      <div class="numberBox">
        <p>
          Cantidad: <span>{{ item.fracciones.length }}</span>
        </p>
      </div>
      <div class="montoBox">
        <p>
          Total: <span>{{ formatNumber(item.subtotal) }}</span>
        </p>
        <p *ngIf="item.tieneDescuento">
          Total con descuento:
          <span>{{ formatNumber(item.subtotalConDesc) }}</span>
        </p>
      </div>
      <ng-container *ngIf="item.hasGanador">
        <div class="ganadorTitleBox loteriaColor">
          <p>Boleto ganador</p>
        </div>
        <div class="ganadorBox">
          <div class="ganadorHeaderBox loteriaBackground">
            <p class="ganadorFraccion">FRACCIÓN</p>
            <p>VALOR DEL PREMIO</p>
            <p>DESCUENTO 14%</p>
            <p>VALOR DEL PREMIO CON DESCUENTO</p>
            <p>DESCRIPCIÓN DEL PREMIO</p>
          </div>
          <div
            class="ganadorDetailsBox"
            *ngFor="let ganador of item.detalleGanador"
          >
            <p class="ganadorFraccion">{{ ganador.fraccion }}</p>
            <p>{{ formatNumber(ganador.valorPremio) }}</p>
            <p>
              {{
                formatNumber(ganador.valorPremio - ganador.valorPremioDescuento)
              }}
            </p>
            <p>{{ formatNumber(ganador.valorPremioDescuento) }}</p>
            <p>{{ ganador.descripcionPremio }}</p>
          </div>
        </div>
        <div
          class="ganadorBoxMobile"
          *ngFor="let ganador of item.detalleGanador; let i = index"
        >
          <div class="ganadorHeaderBox loteriaBackground">
            <p>Premio {{ i + 1 }}</p>
          </div>
          <div class="ganadorDetailsBox">
            <p>FRACCIÓN</p>
            <p>{{ ganador.fraccion }}</p>
            <p>VALOR DEL PREMIO</p>
            <p>{{ formatNumber(ganador.valorPremio) }}</p>
            <p>DESCUENTO 14%</p>
            <p>
              {{
                formatNumber(ganador.valorPremio - ganador.valorPremioDescuento)
              }}
            </p>
            <p>VALOR DEL PREMIO CON DESC.</p>
            <p>{{ formatNumber(ganador.valorPremioDescuento) }}</p>
            <p>DESCRIPCIÓN DEL PREMIO</p>
            <p>{{ ganador.descripcionPremio }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="containerInfoBox" *ngIf="compra.lotto.length != 0">
    <div class="titleLottoBox">
      <h3>LOTTO</h3>
    </div>
    <div *ngFor="let item of compra.lotto" class="dateLoteryBox lotto">
      <div class="infoSorteoBox">
        <p>
          Sorteo: <span>{{ item.sorteo }}</span>
        </p>
        <p>
          Fecha del sorteo: <span>{{ item.fecha }}</span>
        </p>
      </div>
      <!--       <div class="infoTicketBox">
      </div> -->
      <div class="dateTicketBox">
        <p>
          Combinación: <span>{{ item.combinacion1 }}</span>
        </p>
        <p>
          LottoPlus: <span>{{ item.combinacion3 }}</span>
        </p>
        <p>
          Lottito: <span>{{ item.combinacion2 }}</span>
        </p>
        <p>
          Nos Vemos Jefe:
          <span>{{ item.combinacion4 }}</span>
        </p>
        <p *ngIf="item.combinacion5 && item.combinacion5 != ''">
          Antojito:
          <span>{{ nombreAntojito(item.combinacion5) }}</span>
        </p>
      </div>
      <div class="numberBox">
        <p>Cantidad: <span>1</span></p>
      </div>
      <div class="montoBox">
        <p>
          Total: <span>{{ formatNumber(item.subtotal) }}</span>
        </p>
        <p *ngIf="item.tieneDescuento">
          Total con descuento:
          <span>{{ formatNumber(item.subtotalConDesc) }}</span>
        </p>
      </div>
      <ng-container *ngIf="item.hasGanador">
        <div class="ganadorTitleBox lottoColor">
          <p>Boleto ganador</p>
        </div>
        <div class="ganadorBox">
          <div class="ganadorHeaderBox lottoBackground">
            <p>VALOR DEL PREMIO</p>
            <p>DESCUENTO 14%</p>
            <p>VALOR DEL PREMIO CON DESCUENTO</p>
            <p>DESCRIPCIÓN DEL PREMIO</p>
          </div>
          <div
            class="ganadorDetailsBox"
            *ngFor="let ganador of item.detalleGanador"
          >
            <p>{{ formatNumber(ganador.valorPremio) }}</p>
            <p>
              {{
                formatNumber(ganador.valorPremio - ganador.valorPremioDescuento)
              }}
            </p>
            <p>{{ formatNumber(ganador.valorPremioDescuento) }}</p>
            <p>{{ ganador.descripcionPremio }}</p>
          </div>
        </div>
        <div
          class="ganadorBoxMobile"
          *ngFor="let ganador of item.detalleGanador; let i = index"
        >
          <div class="ganadorHeaderBox lottoBackground">
            <p>Premio {{ i + 1 }}</p>
          </div>
          <div class="ganadorDetailsBox">
            <p>VALOR DEL PREMIO</p>
            <p>{{ formatNumber(ganador.valorPremio) }}</p>
            <p>DESCUENTO 14%</p>
            <p>
              {{
                formatNumber(ganador.valorPremio - ganador.valorPremioDescuento)
              }}
            </p>
            <p>VALOR DEL PREMIO CON DESC.</p>
            <p>{{ formatNumber(ganador.valorPremioDescuento) }}</p>
            <p>DESCRIPCIÓN DEL PREMIO</p>
            <p>{{ ganador.descripcionPremio }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="containerInfoBox" *ngIf="compra.pozo.length != 0">
    <div class="titlePozoBox">
      <h3>POZO MILLONARIO</h3>
    </div>
    <div *ngFor="let item of compra.pozo" class="dateLoteryBox pozo">
      <div class="infoSorteoBox">
        <p>
          Sorteo: <span>{{ item.sorteo }}</span>
        </p>
        <p>
          Fecha del sorteo: <span>{{ item.fecha }}</span>
        </p>
      </div>
      <div class="dateTicketBox">
        <p>
          Boleto: <span>{{ item.combinacion1 }}</span>
        </p>
        <p>
          Mascota: <span>{{ nombreMascota(item.mascota) }}</span>
        </p>
        <p>
          Combinación:
          <span>{{ item.combinacion2 }}</span>
        </p>
      </div>
      <div class="numberBox">
        <p>Cantidad: <span>1</span></p>
      </div>
      <div class="montoBox">
        <p>
          Total: <span>{{ formatNumber(item.subtotal) }}</span>
        </p>
        <p *ngIf="item.tieneDescuento">
          Total con descuento:
          <span>{{ formatNumber(item.subtotalConDesc) }}</span>
        </p>
      </div>
      <ng-container *ngIf="item.hasGanador">
        <div class="ganadorTitleBox pozoColor">
          <p>Boleto ganador</p>
        </div>
        <div class="ganadorBox">
          <div class="ganadorHeaderBox pozoBackground">
            <p>VALOR DEL PREMIO</p>
            <p>DESCUENTO 14%</p>
            <p>VALOR DEL PREMIO CON DESCUENTO</p>
            <p>DESCRIPCIÓN DEL PREMIO</p>
          </div>
          <div
            class="ganadorDetailsBox"
            *ngFor="let ganador of item.detalleGanador"
          >
            <p>{{ formatNumber(ganador.valorPremio) }}</p>
            <p>
              {{
                formatNumber(ganador.valorPremio - ganador.valorPremioDescuento)
              }}
            </p>
            <p>{{ formatNumber(ganador.valorPremioDescuento) }}</p>
            <p>{{ ganador.descripcionPremio }}</p>
          </div>
        </div>
        <div
          class="ganadorBoxMobile"
          *ngFor="let ganador of item.detalleGanador; let i = index"
        >
          <div class="ganadorHeaderBox pozoBackground">
            <p>Premio {{ i + 1 }}</p>
          </div>
          <div class="ganadorDetailsBox">
            <p>VALOR DEL PREMIO</p>
            <p>{{ formatNumber(ganador.valorPremio) }}</p>
            <p>DESCUENTO 14%</p>
            <p>
              {{
                formatNumber(ganador.valorPremio - ganador.valorPremioDescuento)
              }}
            </p>
            <p>VALOR DEL PREMIO CON DESC.</p>
            <p>{{ formatNumber(ganador.valorPremioDescuento) }}</p>
            <p>DESCRIPCIÓN DEL PREMIO</p>
            <p>{{ ganador.descripcionPremio }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="containerInfoBox" *ngIf="compra.millonaria.length != 0">
    <div class="titleMillonariaBox">
      <h3>LA MILLONARIA</h3>
    </div>
    <div
      *ngFor="let item of compra.millonaria"
      class="dateLoteryBox millonaria"
    >
      <div class="infoSorteoBox">
        <p>
          Sorteo: <span>{{ item.sorteo }}</span>
        </p>
        <p>
          Fecha del sorteo: <span>{{ item.fecha }}</span>
        </p>
      </div>
      <div class="dateTicketBox">
        <p>
          Combinación: <span>{{ item.combinacion1 }}</span>
        </p>
        <p>
          Serie: <span>{{ item.combinacion2 }}</span>
        </p>

        <p>
          Fracciones seleccionadas:
          <span>{{ item.fracciones.join(", ") }}</span>
        </p>
      </div>
      <div class="numberBox">
        <p>Cantidad: <span>1</span></p>
      </div>
      <div class="montoBox">
        <p>
          Total: <span>{{ formatNumber(item.subtotal) }}</span>
        </p>
        <p *ngIf="item.tieneDescuento">
          Total con descuento:
          <span>{{ formatNumber(item.subtotalConDesc) }}</span>
        </p>
      </div>
      <ng-container *ngIf="item.hasGanador">
        <div class="ganadorTitleBox millonariaColor">
          <p>Boleto ganador</p>
        </div>
        <div class="ganadorBox">
          <div class="ganadorHeaderBox millonariaBackground">
            <p>VALOR DEL PREMIO</p>
            <p>DESCUENTO 14%</p>
            <p>VALOR DEL PREMIO CON DESCUENTO</p>
            <p>DESCRIPCIÓN DEL PREMIO</p>
          </div>
          <div
            class="ganadorDetailsBox"
            *ngFor="let ganador of item.detalleGanador"
          >
            <p>{{ formatNumber(ganador.valorPremio) }}</p>
            <p>
              {{
                formatNumber(ganador.valorPremio - ganador.valorPremioDescuento)
              }}
            </p>
            <p>{{ formatNumber(ganador.valorPremioDescuento) }}</p>
            <p>{{ ganador.descripcionPremio }}</p>
          </div>
        </div>
        <div
          class="ganadorBoxMobile"
          *ngFor="let ganador of item.detalleGanador; let i = index"
        >
          <div class="ganadorHeaderBox millonariaBackground">
            <p>Premio {{ i + 1 }}</p>
          </div>
          <div class="ganadorDetailsBox">
            <p>VALOR DEL PREMIO</p>
            <p>{{ formatNumber(ganador.valorPremio) }}</p>
            <p>DESCUENTO 14%</p>
            <p>
              {{
                formatNumber(ganador.valorPremio - ganador.valorPremioDescuento)
              }}
            </p>
            <p>VALOR DEL PREMIO CON DESC.</p>
            <p>{{ formatNumber(ganador.valorPremioDescuento) }}</p>
            <p>DESCRIPCIÓN DEL PREMIO</p>
            <p>{{ ganador.descripcionPremio }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="totalBox">
    <p>
      Total: <span *ngIf="compra.amount">{{ formatNumber(compra.amount) }}</span
      ><span *ngIf="compra.total">{{ formatNumber(compra.total) }}</span>
    </p>
    <p
      *ngIf="
        (compra.amountConDesc && compra.amount != compra.amountConDesc) ||
        (compra.totalConDesc && compra.total != compra.totalConDesc)
      "
    >
      Total con descuento:
      <span *ngIf="compra.amountConDesc">{{
        formatNumber(compra.amountConDesc)
      }}</span
      ><span *ngIf="compra.totalConDesc">{{
        formatNumber(compra.totalConDesc)
      }}</span>
    </p>
  </div>
</div>
