<div class="titleBox">
  <p>A continuacion un resumen de tu compra:</p>
</div>
<div class="containerDetails">
  <div class="containerInfoBox">
    <div class="titleLoteryBox fondoBox">
      <h3>Usuario: <span>{{ user }}</span></h3>
      <h3 *ngIf="ticketId">Número de Orden: <span>{{ticketId}}</span></h3>
    </div>
<!--     <div class="dateClientBox">
      <div class="infoClientBox">
        <p>{{ user }}</p>
        <p *ngIf="ticketId">{{ ticketId }}</p>
      </div>
    </div>
 -->  </div>
  <div class="containerInfoBox" *ngIf="compra.loteria.length != 0">
    <div class="titleLoteriaBox">
      <h3>Lotería Nacional</h3>
    </div>
    <div *ngFor="let item of compra.loteria" class="dateLoteryBox loteria">
      <div class="infoSorteoBox">
        <p>Sorteo {{ item.sorteo }}</p>
        <p>Fecha del sorteo: {{ item.fecha }}</p>
      </div>
      <div class="infoTicketBox">
        <div class="dateTicketBox">
          <p>Combinación: {{ item.combinacion1 }}, <br> Fracciones seleccionadas: {{ item.fracciones.join(", ") }}</p>
        </div>
        <div class="numberBox">
          <p>{{ item.fracciones.length }}</p>
        </div>
        <div class="montoBox">
          <p>${{ item.subtotal }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="containerInfoBox" *ngIf="compra.lotto.length != 0">
    <div class="titleLottoBox">
      <h3>Lotto</h3>
    </div>
    <div *ngFor="let item of compra.lotto" class="dateLoteryBox lotto">
      <div class="infoSorteoBox">
        <p>Sorteo {{ item.sorteo }}</p>
        <p>Fecha del sorteo: {{ item.fecha }}</p>
      </div>
      <div class="infoTicketBox">
        <div class="dateTicketBox">
          <p>
            Combinación: {{ item.combinacion1 }}, <br>LottoPlus: {{ item.combinacion3 }},
            <br>Lottito: {{ item.combinacion2 }}, <br>Nos Vemos Jefe:
            {{ item.combinacion4 }}
          </p>
        </div>
        <div class="numberBox">
          <p>1</p>
        </div>
        <div class="montoBox">
          <p>${{ item.subtotal }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="containerInfoBox" *ngIf="compra.pozo.length != 0">
    <div class="titlePozoBox">
      <h3>Pozo Millonario</h3>
    </div>
    <div *ngFor="let item of compra.pozo" class="dateLoteryBox pozo">
      <div class="infoSorteoBox">
        <p>Sorteo {{ item.sorteo }}</p>
        <p>Fecha del sorteo: {{ item.fecha }}</p>
      </div>
      <div class="infoTicketBox">
        <div class="dateTicketBox">
          <p>Boleto: {{ item.combinacion1 }}, <br>Mascota: {{ nombreMascota(item.mascota) }}, <br>Combinación: {{ item.combinacion2 }}</p>
        </div>
        <div class="numberBox">
          <p>1</p>
        </div>
        <div class="montoBox">
          <p>${{ item.subtotal }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="totalBox">
    <p>
      Total: <span>${{ compra.total }}</span>
    </p>
  </div>
</div>
