$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-header: #7c91a8;
$color-loteria: #2f72b9;
$color-lotto: #b51f20;
$color-pozo: #04b865;
$color-millonaria: #b51f20;

.titleBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  border-bottom: 1px solid $color-loteria;
  margin-bottom: 23px;
  p {
    font-family: $fuente-titulo;
    font-size: 23px;
    color: $color-loteria;
    margin: 2px;
  }

  a {
    font-family: $fuente-parrafo;
  }
}
.containerDetails {
  margin-bottom: 20px;
  .containerInfoBox {
    .titleLoteriaBox {
      display: flex;
      background-color: $color-loteria;

      padding-left: 10px;
      padding-right: 10px;
      border-radius: 12px;
      h3 {
        color: white;
        font-family: $fuente-subtitulo;
        font-size: 16px;
      }
    }
    .titleLottoBox {
      display: flex;
      background-color: $color-lotto;

      padding-left: 10px;
      padding-right: 10px;
      border-radius: 12px;
      h3 {
        color: white;
        font-family: $fuente-subtitulo;
        font-size: 16px;
      }
    }
    .titlePozoBox {
      display: flex;
      background-color: $color-pozo;

      padding-left: 10px;
      padding-right: 10px;
      border-radius: 12px;
      h3 {
        color: white;
        font-family: $fuente-subtitulo;
        font-size: 16px;
      }
    }
    .titleMillonariaBox {
      display: flex;
      background-color: $color-millonaria;

      padding-left: 10px;
      padding-right: 10px;
      border-radius: 12px;
      h3 {
        color: white;
        font-family: $fuente-subtitulo;
        font-size: 16px;
      }
    }
    .codigo {
      span {
        padding: 5px;
        margin: 5px;
      }
    }
    .titleLoteryBox {
      display: flex;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px;
      &.codigos {
        flex-direction: column;
      }
      
      h3 {
      font-size: 16px;
      font-family: $fuente-subtitulo;
        font-weight: normal;
        margin: 8px;
        span {
          font-family: $fuente-parrafo;
        }
      }
    }
    .dateClientBox {
      width: 100%;

      .infoClientBox {
        display: flex;
        justify-content: space-between;

        p:nth-child(1) {
          margin-left: 20px;
        }
      }
    }

    .dateLoteryBox {
      /*       display: grid;
      grid-template-columns: 30% 1fr;
      column-gap: 3rem;
 */
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 23px;
      &:nth-last-child(1) {
        border: none !important;
      }
      .infoSorteoBox {
        width: 30%;
        border-right: 1px solid black;
        p {
          font-weight: 500;
          font-size: 15px;
          font-family: $fuente-titulo;
          span {
            font-family: $fuente-parrafo;
          }
        }
      }
      .dateTicketBox {
        width: 42%;
        font-weight: 600;
        font-size: 15px;
        border-right: 1px solid black;
        p {
          font-weight: 500;
          font-size: 15px;
          font-family: $fuente-titulo;
          span {
            font-family: $fuente-parrafo;
          }
        }
      }

      .numberBox {
        width: 12%;
        text-align: center;
        border-right: 1px solid black;
        p {
          font-weight: 500;
          font-size: 15px;
          font-family: $fuente-titulo;
          span {
            font-family: $fuente-parrafo;
          }
        }
      }

      .montoBox {
        width: 12%;
        text-align: right;
        p {
          font-weight: 500;
          font-size: 15px;
          font-family: $fuente-titulo;
          span {
            font-family: $fuente-parrafo;
          }
        }
      }
      .infoTicketBox {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        /*         display: grid;
        grid-template-columns: repeat(3, 1fr);
 */
        font-family: $fuente-parrafo;
        font-size: 15px;
        border-right: 1px solid black;
        width: 70%;
      }
      .ganadorTitleBox {
        align-self: flex-start;
        &.loteriaColor {
          color: $color-loteria;
        }
        &.lottoColor {
          color: $color-lotto;
        }
        &.pozoColor {
          color: $color-pozo;
        }
        &.milloanriaColor {
          color: $color-millonaria;
        }
        p {
          font-size: 20px;
          font-family: $fuente-titulo;
          margin: 15px 0 8px 0;
        }
      }

      .ganadorBoxMobile {
        display: none;
      }
      .ganadorBox {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        margin-bottom: 20px;
        -webkit-box-shadow: 5px 0px 18px 3px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 5px 0px 18px 3px rgba(0, 0, 0, 0.3);
        box-shadow: 5px 0px 18px 3px rgba(0, 0, 0, 0.3);
        .ganadorHeaderBox {
          display: flex;
          align-items: center;
          justify-content: space-around;
          border-radius: 12px 12px 0 0;
          width: 100%;
          min-height: 40px;
          &.loteriaBackground {
            background-color: $color-loteria;
          }
          &.lottoBackground {
            background-color: $color-lotto;
          }
          &.pozoBackground {
            background-color: $color-pozo;
          }
          &.millonariaBackground {
            background-color: $color-millonaria;
          }
          p {
            width: 20%;
            font-size: 14px;
            font-family: $fuente-titulo;
            text-align: center;
            margin: 5px 0;
            color: white;
          }
          .ganadorFraccion {
            width: 10%;
          }
        }
        .ganadorDetailsBox {
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 100%;
          min-height: 40px;
          p {
            width: 20%;
            font-size: 14px;
            font-family: $fuente-titulo;
            text-align: center;
            margin: 5px 0;
            border-bottom: 1px solid black;
          }
          &:nth-last-child(1) p {
            border: none;
          }
          .ganadorFraccion {
            width: 10%;
            text-align: center;
          }
        }
      }
    }

    .loteria {
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: $color-loteria;
    }
    .lotto {
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: $color-lotto;
    }
    .pozo {
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: $color-pozo;
    }
    .millonaria {
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: $color-millonaria;
    }
  }

  .totalBox {
    width: 100%;
    margin: auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    p {
      color: #000;
      font-family: $fuente-titulo;

      span {
        color: black;
        font-family: $fuente-parrafo;
      }
    }
  }
}

.mensajeButtonBox {
  margin: auto;
  margin-bottom: 20px;

  padding: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #c3c3c3;

  &:hover {
    background-color: green;
  }

  p {
    font-family: $fuente-botones;
    font-size: 23px;
    color: green;
  }

  &:hover p {
    color: white;
  }
}
@media screen and (max-width: 1000px) {
  .containerDetails {
    .containerInfoBox {
      .dateLoteryBox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        .infoSorteoBox {
          width: 100%;
          margin: 0;
          border: none;
          border-bottom: 1px solid black;
        }
        .dateTicketBox {
          width: 100%;
          border: none;
          border-bottom: 1px solid black;
        }

        .numberBox {
          width: 50%;
          border: none;
          text-align: left;
          margin-bottom: 20px;
        }
        .montoBox {
          width: 50%;
          margin-bottom: 20px;
        }
        .ganadorTitleBox {
          width: 100%;
          border-bottom: 1px solid black;
          margin-bottom: 10px;
        }
        .ganadorBox {
          display: none;
        }
        .ganadorBoxMobile {
          display: flex;
          flex-direction: column;
          width: 100%;
          border-radius: 12px;
          margin-bottom: 10px;
          -webkit-box-shadow: 5px 0px 18px 3px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 5px 0px 18px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 0px 18px 3px rgba(0, 0, 0, 0.3);
          .ganadorHeaderBox {
            width: 100%;
            border-radius: 12px 12px 0 0;
            padding: 10px;
            &.loteriaBackground {
              background-color: $color-loteria;
            }
            &.lottoBackground {
              background-color: $color-lotto;
            }
            &.pozoBackground {
              background-color: $color-pozo;
            }
            &.millonariaBackground {
              background-color: $color-millonaria;
            }
            p {
              color: white;
              font-weight: bold;
              font-size: 16px;
              margin: 0;
            }
          }
          .ganadorDetailsBox {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 20px;
            border-radius: 0 0 12px 12px;
            p {
              font-size: 12px;
              font-weight: bold;
              width: 50%;
              border-bottom: 1px solid black;
              &:nth-child(even) {
                text-align: right;
              }
              &:nth-child(odd) {
                text-align: left;
              }
              &:nth-last-child(1),
              &:nth-last-child(2) {
                border: none;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .containerDetails {
    .containerInfoBox {
      .dateLoteryBox {
        .ganadorBoxMobile {
          .ganadorDetailsBox {
            p {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
