<app-seleccion-tipo></app-seleccion-tipo>

<div class="contenedor_loteria">

  <ul class="menuBox">
    <li class="menuItem">Pozo Millonario</li>
    <li class="menuItem">Sorteo: <br>
      <select class="fechaItem" name="" id="">
        <option value="">Fecha1</option>
        <option value="">Fecha2</option>
        <option value="">Fecha3</option>
      </select>
    </li>
    <li class="menuItem">Premios: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dolore!</p>
    </li>
    <li class="menuItem">Precios: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dolore!</p>
    </li>
    <li class="menuItem">Mi cuenta</li>
  </ul>

  <div class="contendor_seleccion">
    <form action="">
      <div class="contenedor_formulario">
        <div class="contenedor_select">
          <h3>¿Como quieres comprar?</h3>
          <select class="select_option" name="" id="">
            <option class="option" value="">Seleccion individual</option>
            <option class="option" value="">Opcion 1</option>
            <option class="option" value="">Opcion 2</option>
            <option class="option" value="">Opcion 3</option>
          </select>
        </div>
        <div class="numeros_suerte">
          <h3>Ingresa tu numero de la suerte</h3>
          <div class="numeros">
            <input type="number" min="0" max="99" name="" placeholder="11">
            <input type="number" min="0" max="99" name="" placeholder="12">
            <input type="number" min="0" max="99" name="" placeholder="24">
            <input type="number" min="0" max="99" name="" placeholder="22">
          </div>
        </div>
      </div>
      <div class="contenedor_select">
        <app-number-selection [animales]="arreglo_animales"></app-number-selection>
      </div>
      <div class="tabs_animales">
        <p *ngFor="let animal of arreglo_animales" (click)="remover(animal)">{{ animal }}</p>
      </div>
      <button class="activado">BUSCAR CARTONES</button>
    </form>

    <p>Si quieres cambiar tu carton, ingresa los numeros nuevamente y clic en "Buscar carton".</p>

    <table>
      <tbody>
        <tr *ngFor="let item of seleccionPozo | paginate: { itemsPerPage: 4, currentPage: pageActual };">
          <td>
            <app-seleccion-pozo></app-seleccion-pozo>
          </td>
        </tr>
      </tbody>
    </table>
    <hr size="2px" color="gray" />

    <div class="contenedor_botones">
      <button class="boton" (click)="decrementar()">
        <i class="fa fa-chevron-left"></i>
      </button>
      <button class="boton" (click)="incrementar()">
        <i class="fa fa-chevron-right"></i>
      </button>
    </div>

    <!-- <div>
      Page Actual: {{pageActual}}
    </div> -->

    <div class="boton_boleto">
      <button>RESUMEN DE BOLETOS</button>
    </div>
  </div>


  <div class="contenedor_ticket">
    <div class="logo_ticket">
      <img src="../../../../assets/img/pozzo millonario.png" alt="">
    </div>
    <div>
      <hr size="2px" />
    </div>
    <div class="scroll">
      <div class="contenedor_informacion_ticket">
        <div class="contenedor_numeros">
          <div class="arriba">
            <h3>07/MAY/2021</h3>
            <div class="numeros">
              <p>01</p>
              <p>20</p>
              <p>03</p>
              <p>04</p>
              <p>05</p>
              <p>06</p>
              <p>07</p>
              <p>08</p>
              <p>90</p>
              <p>00</p>
              <p>80</p>
              <p>70</p>
              <p>60</p>
              <p>50</p>
            </div>
          </div>
          <div class="abajo">
            <div class="contenedor_logo">
              <img src="../../../../assets/img/pozzo millonario.png" alt="">
            </div>
            <div class="contenedor_info">
              <div class="contenido">
                1
              </div>
              <div class="contenido">
                2
              </div>
              <div class="contenido">
                <img src="../../../../assets/img/pozzo millonario.png" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div>
      <hr size="2px" />
    </div>
    <div class="boton_comprar">
      <button>COMPRAR</button>
    </div>
  </div>

</div>
