<app-seleccion-tipo></app-seleccion-tipo>

<div class="contenedor_loteria" *ngIf="showComponents">
  <app-info-loteria
    class="infoBox"
    titulo="Pozo Millonario"
    color="pozo"
    [sorteos]="sorteo"
    [loteria]="5"
    (emitir)="procesaEmitir($event)"
  >
  </app-info-loteria>

  <div class="contendor_seleccion">
    <div class="selectBox">
      <div class="contenedor_select">
        <h3>¿Cómo quieres comprar?</h3>
        <select class="select_option" name="" id="" [(ngModel)]="tipoSeleccion">
          <option class="option" value="96">Selección individual</option>
          <option class="option" value="5">5 Boletos al azar</option>
          <option class="option" value="30">30 Boletos al azar</option>
          <option class="option" value="50">50 Boletos al azar</option>
        </select>
      </div>
      <div class="numeros_suerte">
        <h3>Si tienes una combinación de la suerte, un número favorito o un posible ganador, ingrésalo aquí:</h3>

        <div class="numeros">
          <input
            type="text"
            maxlength="2"
            name=""
            (input)="validate()" 
            onInput="this.value=this.value.replace(/[^0-9]/g,'');"
            [(ngModel)]="combinacionDeLaSuerte[0]"
          />
          <input
            type="text"
            maxlength="2"
            name=""
            (input)="validate()" 
            onInput="this.value=this.value.replace(/[^0-9]/g,'');"
            [(ngModel)]="combinacionDeLaSuerte[1]"
          />
          <input
            type="text"
            maxlength="2"
            name=""
            (input)="validate()" 
            onInput="this.value=this.value.replace(/[^0-9]/g,'');"
            [(ngModel)]="combinacionDeLaSuerte[2]"
          />
          <input
            type="text"
            maxlength="2"
            name=""
            (input)="validate()" 
            onInput="this.value=this.value.replace(/[^0-9]/g,'');"
            [(ngModel)]="combinacionDeLaSuerte[3]"
          />
        </div>
      </div>
    </div>
    <div class="contenedor_select_animales">
      <h3>Selecciona tus mascotas de la suerte</h3>
      <div class="options">
        <div
          class="option"
          *ngFor="let animal of seleccionAnimales; let i = index"
        >
          <input
            (click)="agregar(animal, i)"
            type="checkbox"
            [checked]="animal.status"
            name="nombre"
            [value]="animal"
            id="nombre-{{ animal.nombre }}"
          />
          <label for="nombre-{{ animal.nombre }}">
            <img [src]="animal.ruta" [alt]="animal.nombre" />
          </label>
        </div>
      </div>
    </div>
    <button class="activado" (click)="buscarNumero()">BUSCAR CARTONES</button>

    <p>
      Si quieres cambiar tu cartón, ingresa los números nuevamente y haz click en
      "Buscar cartones".
    </p>
    <div *ngIf="showNumeros" class="contenedor_numeros_suerte">
      <table *ngIf="showNumeros">
        <tbody>
          <tr
            *ngFor="
              let ticket of ticketAnimales | paginacion: page_size:page_number;
              let i = index
            "
          >
            <td>
              <input
                type="checkbox"
                name=""
                id=""
                [checked]="ticket.status"
                (click)="seleccionarTicket(page_size * (page_number - 1) + i)"
              />
              <div class="contenedor_seleccion_numero">
                <div class="imagen_animal">
                  <img [src]="obtenerAnimal(ticket.mascota)" alt="" />
                </div>
                <div class="numeros">
                  <p *ngFor="let numero of ticket.display">{{ numero }}</p>
                </div>
              </div>
              <!-- <app-seleccion-pozo [tickets]="ticketMascota"></app-seleccion-pozo> -->
            </td>
          </tr>
        </tbody>
        <hr size="2px" color="gray" />
      </table>

      <div class="contenedor_botones">
        <!-- showFirstLastButtons -->
        <mat-paginator
          style-paginator
          [length]="ticketAnimales.length"
          [pageSize]="page_size"
          (page)="handlerPage($event)"
        >
        </mat-paginator>
      </div>
    </div>

    <!-- <div>
      Page Actual: {{pageActual}}
    </div> -->
    <!-- 
    <div class="boton_boleto">
      <button (click)="abrirResumen()">RESUMEN DE BOLETOS</button>

    </div> -->
  </div>

  <app-ticket-scroller
    class="ticketScroller"
    (emitirCompra)="comprar()"
    (eliminarTodo)="deleteAllTickets()"
    (deleteLoteriaTicket)="deleteLoteriaTicket($event)"
    (deleteLottoTicket)="deleteLottoTicket($event)"
    (deletePozoTicket)="deletePozoTicket($event)"
    (deleteLoteriaFraccion)="deleteLoteriaFraccion($event)"
    [ticketsLoteria]="ticketsLoteria"
    [ticketsLotto]="ticketsLotto"
    [ticketsPozo]="ticketsSeleccionados"
    tipoLoteria="pozo"
  >
  </app-ticket-scroller>
</div>
<app-loader
  loader="pozo"
  [message]="loadingMessage"
  *ngIf="isLoading"
></app-loader>

<app-error
  [msg]="errorMessage"
  (closeError)="closeError()"
  *ngIf="isError"
></app-error>
<div
  class="blackBox"
  (click)="dismissCompras()"
  *ngIf="
    isLoading ||
    confirmacionDeCompra ||
    compraFinalizada ||
    saldoInsuficiente ||
    compraCancelada
  "
></div>
<app-confirmacion-de-compra
  (compraConfirmada)="confirmarCompra()"
  (compraCancelada)="cancelarCompra($event)"
  (comprarDespues)="dismissCompras()"
  [compra]="detalleCompra"
  class="paymentItem"
  *ngIf="confirmacionDeCompra"
></app-confirmacion-de-compra>
<app-compra-finalizada
  (volver)="finalizarCompra()"
  [compra]="detalleCompra"
  class="paymentItem"
  *ngIf="compraFinalizada"
></app-compra-finalizada>
<app-saldo-insuficiente
  [message]="recargaDeSaldoMessage"
  (volver)="dismissCompras()"
  (recarga)="irARecarga()"
  class="paymentItem"
  *ngIf="saldoInsuficiente"
></app-saldo-insuficiente>
<app-compra-cancelada
  class="paymentItem"
  [message]="cancelMessage"
  *ngIf="compraCancelada"
></app-compra-cancelada>
