<app-seleccion-tipo></app-seleccion-tipo>

<div class="contenedor_loteria" *ngIf="showComponents">

  <app-info-loteria titulo="Pozo Millonario" color="pozo" [sorteos]="sorteo" [loteria]=5
    (emitir)="procesaEmitir($event)">
  </app-info-loteria>

  <div class="contendor_seleccion">
    <div class="contenedor_formulario">
      <div class="contenedor_select">
        <h3>¿Como quieres comprar?</h3>
        <select class="select_option" name="" id="">
          <option class="option" value="">Seleccion individual</option>
          <option class="option" value="">Opcion 1</option>
          <option class="option" value="">Opcion 2</option>
          <option class="option" value="">Opcion 3</option>
        </select>
      </div>
      <div class="numeros_suerte">
        <h3>Ingresa tu numero de la suerte</h3>
        <div class="numeros">
          <input type="number" [(ngModel)]="combinacionDeLaSuerte[0]" min="0" max="99" name="" placeholder="11">
          <input type="number" [(ngModel)]="combinacionDeLaSuerte[1]" min="0" max="99" name="" placeholder="12">
          <input type="number" [(ngModel)]="combinacionDeLaSuerte[2]" min="0" max="99" name="" placeholder="24">
          <input type="number" [(ngModel)]="combinacionDeLaSuerte[3]" min="0" max="99" name="" placeholder="22">
        </div>
      </div>
    </div>
    <div class="contenedor_select">

      <!-- <app-number-selection 
          [animales]="arreglo_animales" 
          (propagar)="procesaPropagar($event)">
        </app-number-selection>  -->

      <div class="select-sim" id="select-nombre">
        Seleccione tus mascotas de la suerte
        <div class="options">
          <div class="option" *ngFor="let animal of seleccionAnimales; let i = index">
            <input (click)="agregar(animal, i)" type="checkbox" [checked]="animal.status" name="nombre" [value]="animal"
              id="nombre-{{animal.nombre}}" />
            <label for="nombre-{{animal.nombre}}">
              <img [src]="animal.ruta" [alt]="animal.nombre" />
            </label>
          </div>
        </div>
      </div>

    </div>

    <div class="tabs_animales">
      <p *ngFor="let animal of animalesTabs">
        {{ animal.nombre}}
        <span (click)="remover(animal.nombre)">x</span>
      </p>
    </div>
    <button class="activado" (click)="buscarNumero()">BUSCAR CARTONES</button>

    <p>Si quieres cambiar tu carton, ingresa los numeros nuevamente y clic en "Buscar carton".</p>
    <div *ngIf="showNumeros" class="contenedor_numeros_suerte">

      <table *ngIf="showNumeros">
        <tbody>
          <tr *ngFor="let ticket of ticketAnimales | paginacion:page_size:page_number; let i = index ">
            <td>
              <input type="checkbox" name="" id="" [checked]="ticket.status"
                (click)="seleccionarTicket(page_size*(page_number-1)+i)">
              <div class="contenedor_seleccion_numero">
                <div class="imagen_animal">
                  <img [src]="obtenerAnimal(ticket.mascota)" alt="">
                </div>
                <div class="numeros">
                  <p *ngFor="let numero of ticket.display;">{{ numero }}</p>
                </div>
              </div>
              <!-- <app-seleccion-pozo [tickets]="ticketMascota"></app-seleccion-pozo> -->
            </td>
          </tr>
        </tbody>
        <hr size="2px" color="gray" />
      </table>

      <div class="contenedor_botones" style="display: flex; justify-content: center; margin-left: -8%">

        <!-- showFirstLastButtons -->
        <mat-paginator style-paginator [length]="ticketAnimales.length" [pageSize]="page_size"
          (page)="handlerPage($event)">
        </mat-paginator>
      </div>
    </div>

    <!-- <div>
      Page Actual: {{pageActual}}
    </div> -->

    <div class="boton_boleto">
      <button (click)="abrirResumen()">RESUMEN DE BOLETOS</button>

    </div>
  </div>



  <app-ticket-scroller [tickets]="ticketsSeleccionados" tipoLoteria="pozo">
  </app-ticket-scroller>
  <!--   <div class="contenedor_ticket">
    <div class="logo_ticket">
      <img src="../../../../assets/img/pozzo millonario.png" alt="">
    </div>
    <div>
      <hr size="2px" />
    </div>
    <div class="scroll">
      <div class="contenedor_informacion_ticket">
        <div class="contenedor_numeros">
          <div class="arriba">
            <h3>07/MAY/2021</h3>
            <div class="numeros">
              <p>01</p>
              <p>20</p>
              <p>03</p>
              <p>04</p>
              <p>05</p>
              <p>06</p>
              <p>07</p>
              <p>08</p>
              <p>90</p>
              <p>00</p>
              <p>80</p>
              <p>70</p>
              <p>60</p>
              <p>50</p>
            </div>
          </div>
          <div class="abajo">
            <div class="contenedor_logo">
              <img src="../../../../assets/img/pozzo millonario.png" alt="">
            </div>
            <div class="contenedor_info">
              <div class="contenido">
                1
              </div>
              <div class="contenido">
                2
              </div>
              <div class="contenido">
                <img src="../../../../assets/img/pozzo millonario.png" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div>
      <hr size="2px" />
    </div>
    <div class="boton_comprar">
      <button>COMPRAR</button>
    </div>
  </div> -->

</div>
<app-loader loader="pozo" [message]="loadingMessage" *ngIf="isLoading"></app-loader>