<div id="desktopLanding">
  <ventas-menu-header [home]="true"></ventas-menu-header>
  <consultas-ultimos-resultados></consultas-ultimos-resultados>
</div>

<div id="mobileLanding">
  <a [href]="ventasLink" target="_parent" class="landingButton compras">
    <img class="loteria" src="assets/img/loteria-sombra.png" />
    <img class="carrito" src="assets/img/carrito.png" />
    <p>COMPRAR BOLETO</p>
  </a>
  <a [href]="consultasLink" class="landingButton consulta">
    <img class="loteria" src="assets/img/estrellas.png" />
    <img class="carrito" src="assets/img/lupa.png" />
    <p>CONSULTAR BOLETINES</p>
  </a>
  <a [href]="juegosLink" target="_parent" class="landingButton juegos">
    <img src="assets/img/juegos-online.png" alt="" />
  </a>
  <a
    [href]="puntosDeLaSuerteLink"
    target="_parent"
    class="landingButton suerte"
  >
    <img src="assets/img/puntos-de-la-suerte.png" alt="" />
  </a>
</div>
