$fuente-botones: "Monstserrat SemiBold";

#desktopLanding {
  width: 100%;
  height: 100%;
  .separador {
    margin: auto;
    border-bottom: 1px solid #021151;
    width: 92%;
    h1 {
      color: #021151;
      margin: 0;
    }
  }
}
#mobileLanding {
  display: none;
}
@media screen and (max-width: 778px) {
  #desktopLanding {
    display: none;
  }
  #mobileLanding {
    padding: 20px 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    .landingButton {
      width: 45vw;
      height: 45vw;
      margin: 20px 0;
      border-radius: 15px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
      }
      p {
        color: white;
      }
    }
  }
}

@media screen and (max-width: 480px) {
}
