<div id="desktopLanding">
  <ventas-menu-header [home]="true"></ventas-menu-header>
  <consultas-ultimos-resultados></consultas-ultimos-resultados>
</div>

<div id="mobileLanding">
  <a [href]="ventasLink" target="_parent" class="landingButton compras">
    <img src="assets/img/webicon01.png" alt="" />
  </a>
  <a [href]="consultasLink" class="landingButton consulta">
    <img src="assets/img/webicon02.png" alt="" />
  </a>
  <a [href]="juegosLink" target="_parent" class="landingButton juegos">
    <img src="assets/img/webicon03.png" alt="" />
  </a>
  <a
    [href]="puntosDeLaSuerteLink"
    target="_parent"
    class="landingButton suerte"
  >
    <img src="assets/img/webicon04.png" alt="" />
  </a>
</div>
