<footer>
  <div class="footer">
    <div class="footer_contenedor">
      <div class="footer_izquierda">
        <div class="footer_empresas">
          <h2>Empresa</h2>
          <nav>
            <li>
              <a href="#">Quienes somos</a>
            </li>
            <li>

              <a href="#">Nuestros servicios</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">Contacto</a>
            </li>
          </nav>
        </div>
        <div class="footer_links">
          <h2>Links</h2>
          <nav>
            <li>
              <a href="#">Mi cuenta</a>
            </li>
            <li>
              <a href="#">Miembros</a>
            </li>
            <li>
              <a href="#">Terminos y condiciones</a>
            </li>
            <li>
              <a href="#">Politicas de privacidad</a>
            </li>
            <li>
              <a href="#">Licencia de sorteos</a>
            </li>
          </nav>
        </div>
      </div>
      <div class="footer_derecha">
        <div class="derecha_numeros">
          <div class="derecha_miembros">
            <h3>2,543,745</h3>
            <p>MIEMBROS TOTALES</p>
          </div>
          <div class="derecha_ganadores">
            <h3>1,856,002</h3>
            <p>GANADORES TOTALES</p>
          </div>
        </div>
        <div class="derecha_susbribete">
          <h3>Suscribete</h3>
          <p>Suscribete a nuestra plataforma y recibe informes acerca de los resultados
            diarios directos a tu correo electronico</p>
        </div>
        <div class="derecha_input">
          <input type="text"> <button>SUSCRIBIR</button>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright_contenedor">
    <div class="copyright_informacion">
      <p>2021 aquijuego | todos los derechos reservados</p>
    </div>
    <div class="redes_sociales">
      <a href="#">
        <img src="../../../assets/img/facebook.png" alt="logo_facebook">
      </a>
      <a href="#">
        <img src="../../../assets/img/whatsapp.png" alt="logo_whatsapp">
      </a>
      <a href="#">
        <img src="../../../assets/img/twitter.png" alt="logo_twitter">
      </a>
    </div>
  </div>
</footer>
