/* @import url("../../../../sass/fonts.scss"); */
$color-loteria: #28AAE1;
$color-lotto: #b51f20;
$color-pozo: #04b865;
$color-millonaria: #b51f20;
$color-bingazo: #283479;
$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

.lotteryBox {

  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 420px;
  height: 160px;
  margin: 20px 20px 20px 0;
  font-family: "Helvetica";
  font-style: italic;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;

  color: #ffffff;
  transition: height 0.5s ease-in-out;

  .mobile {
    background-color: white;
    border-radius: 102px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
  }

  &.bingazo {
    .mobile {
      color: $color-bingazo;
    }

    img {
      width: 200px;
    }

    &:hover img {
      width: 240px;

      transition: width 0.3s ease;
    }
  }


  &.pozo {
    img {
      margin-top: -23px;
      width: 180px;
    }

    &:hover img {
      width: 216px;

      transition: width 0.3s ease;
    }

    .mobile {
      color: $color-pozo;
    }
  }

  &.lotto {
    .mobile {
      color: $color-lotto;
    }

    img {
      width: 180px;
    }

    &:hover img {
      width: 216px;

      transition: width 0.3s ease;
    }
  }

  &.loteria {
    .mobile {
      color: $color-loteria;
    }

    img {
      width: 200px;
    }

    &:hover img {
      width: 240px;

      transition: width 0.3s ease;
    }
  }


  .active {
    display: none;
  }
}

.miniLotteryBox {

  font-family: "Helvetica";
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 60px;
  margin: 20px;
  box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.25);
  border-radius: 45.5px;

  .lotteryImg {
    width: 40%;
    transition: width 0.3s ease;
  }

  &:hover .lotteryImg {
    width: 50%;

    transition: width 0.3s ease;
  }

  .active {
    display: none;
  }
}

.loteria {
  background-color: #28AAE1;
  border: 3px solid #28AAE1;
}

.lotto {
  background-color: #b51f20;
  border: 3px solid #b51f20;
}

.pozo {
  background-color: #fae80c;
  border: 3px solid #fae80c;
}

.millonaria {
  background-color: #b51f20;
  border: 3px solid #b51f20;
}

.bingazo {
  background-color: #283479;
  border: 3px solid #283479;
}


@media screen and (max-width: 800px) {
  .lotteryBox {


    width: 300px;
    height: 100px;

    &.bingazo {
      img {
        width: 140px;
      }

      &:hover img {
        width: 168px;
      }
    }


    &.pozo {
      img {
        width: 140px;
      }

      &:hover img {
        width: 168px;
      }

    }

    &.lotto {
      img {
        width: 140px;
      }

      &:hover img {
        width: 168px;
      }
    }

    &.loteria {
      img {
        width: 140px;
      }

      &:hover img {
        width: 168px;
      }
    }


    .active {
      display: none;
    }
  }


}