/* @import url("../../../../sass/fonts.scss"); */
$color-loteria: #28AAE1;
$color-lotto: #b51f20;
$color-pozo: #04b865;
$color-millonaria: #b51f20;
$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

.lotteryBox {

  font-family: "Helvetica";
  font-style: italic;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 420px;
  height: 140px;
  margin: 20px 20px 20px 0;
  box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.25);
  border-radius: 45.5px;

  .lotteryImg {
    width: 50%;
    transition: width 0.3s ease;
  }

  &:hover .lotteryImg {
    width: 60%;

    transition: width 0.3s ease;
  }

  .active {
    display: none;
  }
}

.miniLotteryBox {

  font-family: "Helvetica";
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 60px;
  margin: 20px;
  box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.25);
  border-radius: 45.5px;

  .lotteryImg {
    width: 40%;
    transition: width 0.3s ease;
  }

  &:hover .lotteryImg {
    width: 50%;

    transition: width 0.3s ease;
  }

  .active {
    display: none;
  }
}

.loteria {
  background-color: #28AAE1;
  border: 3px solid #28AAE1;
}

.lotto {
  background-color: #b51f20;
  border: 3px solid #b51f20;
}

.pozo {
  background-color: #fae80c;
  border: 3px solid #fae80c;
}

.millonaria {
  background-color: #b51f20;
  border: 3px solid #b51f20;
}

.bingazo {
  background-color: #283479;
  border: 3px solid #283479;
}


@media screen and (max-width: 800px) {
  .lotteryBox {
    width: 300px;
    height: 100px;
  }
}