<div class="blackBox" (click)="close()"></div>
<div id="myModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img src="BANNERWEB-POPUP.jpg" class="Desktop" (click)="close()" /><img
          src="BANNERWEB-600X450.jpg"
          style="max-width: 100%"
          class="Ipad"
          (click)="close()"
        /><img
          src="BANNERPOPUPMOBILE-480X710.jpg"
          (click)="close()"
          class="Mobile"
        />
      </div>
    </div>
  </div>
</div>
