<ul class="menuBox">
    <li class="menuItem">Loteria Nacional</li>
    <li class="menuItem">Sorteo: <br>
      <select class="fechaItem" name="" id="">
        <option value="">Fecha1</option>
        <option value="">Fecha2</option>
        <option value="">Fecha3</option>
      </select>
    </li>
    <li class="menuItem">Premios: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dolore!</p>
    </li>
    <li class="menuItem">Precios: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dolore!</p>
    </li>
    <li class="menuItem">Mi cuenta</li>
  </ul>