<div class="container_loteria_nacional">
  <!-- <div class="container_consulta">
    <div class="boletin_oficial">
      <h1>BOLETIN OFICIAL</h1>
      <button>BUSCAR OTROS RESULTADOS</button>
    </div>
    <div class="informacion">
      <div class="info_up">
        <div class="info_left">
          <div class="fecha_sorteo">
            <div class="fecha">
              SORTEO # 6595 - LUNES 10 DE MAY./2021
            </div>
            <div class="dia">
              LUNES
            </div>
          </div>
          <div class="premio">
            <h3>$200.000</h3>
            <p>AL ENTERO</p>
          </div>
          <div class="numero_ganador">
            <p>PRIMERA SUERTE N° 56630</p>
          </div>
        </div>
        <div class="info_right">
          <div class="logos">
            <img src="../../../../assets/img/loteria nacional.png" alt="">
            <img src="../../../../assets/img/loteria nacional.png" alt="">
          </div>
          <div class="premio">
            <div class="imagen">
              <img src="../../../../assets/img/loteria nacional.png" alt="">
            </div>
            <div class="informacion_premio">
              <p>N° 72048</p>
              <p>$ 25.000</p>
            </div>
          </div>
          <div class="premio">
            <div class="imagen">
              <img src="../../../../assets/img/loteria nacional.png" alt="">
            </div>
            <div class="informacion_premio">
              <p>N° 11673</p>
              <p>$ 12.500</p>
            </div>
          </div>
        </div>
      </div>

      <div class="info_medium">
        <div class="tabla_left">
          <div class="cabecera_tabla">
            <div class="series_jugadas">
              <p>SERIES JUGADAS EN ESTE SORTEO DEL 00,000 AL 99,999</p>
            </div>
            <div class="info_jugadas">
              <P>ESTOS VALORES CORRESPONDEN A CADA ENTERO DE 10 CUACHITOS, LAS SUERTES Y APROXIMACIONES SE PAGAN CON 14%
                DE DESCUENTO</P>
            </div>
          </div>
          <div class="tabla">
            <div class="columna">
              <h3>9NA Suerte</h3>
              <div class="datos">
                <p>005940</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005941</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005942</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005943</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005944</p>
                <p>2.000</p>
              </div>
              <div class="datos">
                <p>005945</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005946</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005947</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005948</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005949</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005940</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005941</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005942</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005940</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005941</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005942</p>
                <p>40</p>
              </div>
            </div>
            <div class="columna">
              <h3>9NA Suerte</h3>
              <div class="datos">
                <p>005940</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005941</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005942</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005943</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005944</p>
                <p>2.000</p>
              </div>
              <div class="datos">
                <p>005945</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005946</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005947</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005948</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005949</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005940</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005941</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005942</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005940</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005941</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005942</p>
                <p>40</p>
              </div>
            </div>
            <div class="columna">
              <h3>9NA Suerte</h3>
              <div class="datos">
                <p>005940</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005941</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005942</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005943</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005944</p>
                <p>2.000</p>
              </div>
              <div class="datos">
                <p>005945</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005946</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005947</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005948</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005949</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005940</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005941</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005942</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005940</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005941</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005942</p>
                <p>40</p>
              </div>
            </div>
            <div class="columna">
              <h3>9NA Suerte</h3>
              <div class="datos">
                <p>005940</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005941</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005942</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005943</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005944</p>
                <p>2.000</p>
              </div>
              <div class="datos">
                <p>005945</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005946</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005947</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005948</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005949</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005940</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005941</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005942</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005940</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005941</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005942</p>
                <p>40</p>
              </div>
            </div>
            <div class="columna">
              <h3>9NA Suerte</h3>
              <div class="datos">
                <p>005940</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005941</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005942</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005943</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005944</p>
                <p>2.000</p>
              </div>
              <div class="datos">
                <p>005945</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005946</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005947</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005948</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005949</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005940</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005941</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005942</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005940</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005941</p>
                <p>40</p>
              </div>
              <div class="datos">
                <p>005942</p>
                <p>40</p>
              </div>
            </div>
          </div>
        </div>
        <div class="premios_right">
          <h3>NUMERO GANADOR DEL CARRO</h3>
          <div class="numero_sorteo">
            <h4>N° SORTEO</h4>
            <p>6595</p>
          </div>
          <div class="numero_sorteo">
            <h4>NUMERO DE BOLETO</h4>
            <P>00344</P>
          </div>
          <div class="numero_sorteo">
            <h4>NUMERO DE FRACCION</h4>
            <P>09</P>
          </div>
          <div class="texto_pie">
            <p>PREMIOS EN EFECTIVO Y ESPECIES CADUCAN A LOS 3 MESES</p>
          </div>
        </div>
      </div>

      <div class="info_down">
        <div class="tabla_down">
          <div class="tabla">
            <div class="titulo">
              <h4>TERMINALES DE LA PRIMERA SUERTE SE PAGAN SIN 14% DE DESCUENTO</h4>
            </div>
            <div class="cuerpo">
              <p>ENTEROS TERMINADOS EN: </p>
              <p>6630</p>
              <p>GANAN $ </p>
              <p>300.00</p>
              <p>ENTEROS TERMINADOS EN: </p>
              <p>0</p>
              <p>GANAN $ </p>
              <p>50.00</p>

              <p>ENTEROS TERMINADOS EN: </p>
              <p>300</p>
              <p>GANAN $ </p>
              <p>20.00</p>
              <p>ENTEROS TERMINADOS EN: </p>
              <p>0</p>
              <p>GANAN $ </p>
              <p>10.00</p>
            </div>

          </div>
          <div class="tabla_l">
            <div class="titulo_l">
              <h4>PROXIMOS SORTEOS</h4>
            </div>
            <div class="cuerpo_l">
              <p>SORTEO 6596</p>
              <p>SORTEO 6597</p>
              <p>SORTEO 6598</p>
              <p>SORTEO 6599</p>

              <p>may. 12/2021</p>
              <p>may. 14/2021</p>
              <p>may. 17/2021</p>
              <p>may. 19/2021</p>
            </div>
          </div>
        </div>
        <div class="comision">
          <div class="info_comision">
            <h4>COMISION DE SORTEO:</h4>
            <div class="info">
              <p>POR INSPECTOR</p>
              <p>POR PROCURADOR</p>
              <p>POR DIR. GRAL. RAMO</p>
              <p>NOTARIO PUBLICO</p>
              <p>TNLG. MIGUEL MENA</p>
              <p>AB. ANA MARIA LARA</p>
              <p>LIC. PAUL MORENO</p>
              <p>AB. XAVIER LARREA</p>
            </div>
          </div>
          <div class="info_web">
            <p>CONSULTA LOS SORTEOS Y RESULTADOS EN LA PAGINA WEB</p>
            <p>www.loteria.com.ec</p>
          </div>
        </div>
        <div class="agradecimiento">
          <p>Gracias por comprar y apoyar la gran labor social de la junta de Beneficiencia de Guayaquil</p>
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </div> -->
  <img [src]=boletinImagen alt="Imagen del boletin de lotto">

  <div class="container_ticket">
    <app-lotto-ticket></app-lotto-ticket>
  </div>
</div>