<div class="container_loteria_nacional" *ngIf="showBox">
  <img [src]=boletinImagen *ngIf="!imgNotFound" (error)="handleImgError();" alt="Imagen del boletin de lotto">
  <div class="boletinNotFound" *ngIf="imgNotFound">
    <p>Parece que aun no se ha cargado el boletín de este sorteo. Mientras el equipo de Lotería Nacional se encarga de
      esto, paséate por <a href="https://www.loteria.com.ec/casino" target="_parent">nuestros juegos online</a> y
      disfruta de
      todos los juegos que tenemos para ti.</p>
  </div>
</div>
<app-loader loader="lotto" [message]="loadingMessage" *ngIf="isLoading"></app-loader>