$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-botton: #b51f20;
/* $color-lotto: #b51f20; */

.container_loteria_nacional {
  width: 100%;
  margin: 0 auto;
  display: grid;

  img {
    width: 100%;
  }

  .boletinNotFound {
    width: 100%;
    display: flex;
    justify-content: center;
    p {
      font-family: $fuente-parrafo;
      font-size: 16px;
      text-align: center;
      a {
        text-decoration: none;
        color: black;
        font-family: $fuente-titulo;
        cursor: pointer;
      }
    }
  }
}
