<div class="containerCompra">
  <div class="mensajeBox">
    <h2>¡FELICIDADES!</h2>
    <h1>Tu compra se realizo con exito. Te deseamos mucha suerte.</h1>
  </div>
  <!-- 
  <div class="titleBox">
    <p>A continuacion un resumen de tu compra:</p>
  </div>
  <div class="containerInfoBox">
    <div class="titleLoteryBox fondoBox">
      <h3>Datos del cliente</h3>
      <h3>Firma de Pago</h3>
      <h3>Tu Orden</h3>
    </div>
    <div class="dateClientBox">
      <div class="infoClientBox">
        <p>Edson</p>
        <p>Cuenta Virtual</p>
        <p>148148</p>
      </div>
    </div>
  </div>
  <div class="containerInfoBox">
    <div class="titleLoteryBox">
      <h3>Loteria</h3>
    </div>
    <div class="dateLoteryBox">
      <div class="infoSorteoBox">
        <p>Sorteo 6561</p>
        <p>Fecha del sorteo: viernes 19 de febrero 2021</p>
      </div>
      <div class="infoTicketBox">
        <div class="dateTicketBox">
          <p>28026</p>
        </div>
        <div class="numberBox">
          <p>4(1,4,6,7)</p>
        </div>
        <div class="montoBox">
          <p>$4.00</p>
        </div>
      </div>
    </div>
  </div>

  <div class="containerInfoBox">
    <div class="titleLoteryBox">
      <h3>Lotto</h3>
    </div>
    <div class="dateLoteryBox">
      <div class="infoSorteoBox">
        <p>Sorteo 2465</p>
        <p>Fecha del sorteo: lunes 22 de febrero 2021</p>
      </div>
      <div class="infoTicketBox">
        <div class="dateTicketBox">
          <p>814456, LottoPlus: 304011, Lottito: 599810</p>
        </div>
        <div class="numberBox">
          <p>1</p>
        </div>
        <div class="montoBox">
          <p>$0.50</p>
        </div>

        <div class="dateTicketBox">
          <p>323453, LottoPlus: 053911, Lottito: 090065</p>
        </div>
        <div class="numberBox">
          <p>1</p>
        </div>
        <div class="montoBox">
          <p>$0.50</p>
        </div>
      </div>
    </div>
  </div>

  <div class="containerInfoBox">
    <div class="titleLoteryBox">
      <h3>Pozo Millonario</h3>
    </div>
    <div class="dateLoteryBox">
      <div class="infoSorteoBox">
        <p>Sorteo 916</p>
        <p>Fecha del sorteo: lunes 19 de febrero 2021</p>
      </div>
      <div class="infoTicketBox">
        <div class="dateTicketBox">
          <p>055555, Mascota: Delfin</p>
        </div>
        <div class="numberBox">
          <p>01,03,07,08,09,10,12,13,14,17,19,22,23,24</p>
        </div>
        <div class="montoBox">
          <p>$1.00</p>
        </div>
        <div class="dateTicketBox">
          <p>059044, Mascota: Cangrejo</p>
        </div>
        <div class="numberBox">
          <p>01,04,05,07,08,09,10,11,14,17,18,20,23,24</p>
        </div>
        <div class="montoBox">
          <p>$1.00</p>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="totalBox">
    <p>Total: <span>$7.00</span></p>
  </div> -->

  <div (click)="seguirJugando()" class="mensajeButtonBox">
    <p>¡SIGUE JUGANDO!</p>
  </div>

</div>