$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-loteria: #7c91a8;
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 23px;
  height: 23px;
  .closeB {
    background: transparent;
    width: 100%;
    height: 100%;
    z-index: 2000;
    color: red;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
    padding: 0;
    &:hover {
      background-color: red;
      color: white;
    }
  }
}
.blackBox {
  position: fixed;
  z-index: 8000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: height 0.2s ease-out;
  overflow: hidden;
  background-color: rgba(155, 155, 155, 0.5);
  border: none;
}

.paymentBox {
  width: 70%;
  height: 70%;
  position: fixed;
  padding: 15px;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  overflow-y: scroll;
  .mensajeButtonBox {
    display: block;
    padding: 15px;
    border-radius: 30px;
    font-family: $fuente-botones;
    font-size: 16px;
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    color: #fff;
    background-color: green;
    border: 1px solid green;

    &:hover {
      background-color: white;
      color: green;
      transition: background-color 0.4s ease;
    }
  }
}
@media screen and (max-width: 1000px) {
  .paymentBox {
    width: 95%;
  }
}
