<div class="blackBox" (click)="seguirJugando()"></div>
<div class="paymentBox">

  <div class="closeButton">
    <button class="closeB" (click)="seguirJugando()">X</button>
  </div>
  <div class="mensajeBox">
    <h1>¡FELICIDADES!</h1>
    <h3>Tu compra se realizo con exito. Te deseamos mucha suerte.</h3>
  </div>
  <app-compra-descripcion [compra]="compra" [user]="user"></app-compra-descripcion>


  <div (click)="seguirJugando()" class="mensajeButtonBox">
    <p>¡SIGUE JUGANDO!</p>
  </div>
</div>
