<div class="contenedor_informacion_ticket">
    <div class="contenedor_informacion_ticket_derecho">


        <div class="ticket_entero_fraccion">
            <div class="ticket_entero">
                <h5>Entero</h5>
                <div>
                    <p *ngFor="let number of ticketNumbers">{{number}}</p>
                </div>
            </div>
            <div class="ticket_fraccion">
                <h5>Fraccion</h5>
                <div>
                    <p *ngFor="let number of fraccion">{{number}}</p>
                </div>
            </div>
        </div>
    </div>
</div>