<div class="contenedor_informacion_ticket">
    <div class="contenedor_informacion_ticket_derecho">

        <div class="ticket_titulo">
            <img src="../../../../assets/img/loteria nacional.png" alt="">
            <div>
                <h3>Ticket #{{ticketIndex}}</h3>
            </div>
            <div>
                <p>Sorteo {{sorteoNumber}}</p>
                <p>{{date}}</p>
            </div>
        </div>
        <hr size="2px" />
        <div class="ticket_entero_fraccion">
            <div class="ticket_entero">
                <h5>Entero</h5>
                <div>
                    <p *ngFor="let number of ticketNumbers">{{number}}</p>
                </div>
            </div>
            <div class="ticket_fraccion">
                <h5>Fraccion</h5>
                <div>
                    <p *ngFor="let number of fraccion">{{number}}</p>
                </div>
            </div>
        </div>
    </div>
</div>