$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-botton: #2f72b9;

.contenedor_informacion_ticket {
  width: 100%;
  display: flex;
  margin: 10px 0;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-sizing: border-box;

  .contenedor_informacion_ticket_izquierdo {
    margin: 0px auto;
    padding: 10px 8px;

    .contenedor_informacion_ticket_izquierdo_logo {
    }

    .contenedor_informacion_ticket_izquierdo_barra {
      img {
        width: 40px;
        height: 120px;
        margin: auto;
      }
    }
  }
  .contenedor_informacion_ticket_derecho {
    width: 100%;
    margin: auto;

    .ticket_combinacion {
      p {
        background-color: #fff;
        font-family: $fuente-parrafo;
        font-size: 14px;
        color: #000;
        margin: 0px 2px;
        span {
          font-family: $fuente-subtitulo;
        }
      }

      .ticket_fraccion {
        p {
          background-color: #fff;
          font-family: $fuente-parrafo;
          font-size: 14px;
          color: #000;
          margin: 0px 2px;
          span {
            margin-right: 5px;
            font-family: $fuente-subtitulo;
          }
        }
      }
    }
  }
}
