<div class="contenedor_ticket">
    <div class="logo_ticket">
        <img src="../../../../assets/img/lotto-sombra-2.png" alt="">
    </div>
    <div>
        <hr size="2px" />
    </div>
    <div class="scroll">
        <app-lotto-ticket [ticket]="ticketGanador"></app-lotto-ticket>
    </div>

    <div>
        <hr size="2px" style="margin: 18px auto;" />
    </div>

    <h2 class="texto">PREMIOS ESPECIALES</h2>

    <div class="texto_premios">
        <p>Lotto Plus:</p>
        <p>{{ticketLottoPlus}}</p>
        <ng-container *ngFor="let lottito of ticketLottito">

            <p>Lottito:</p>
            <p>{{lottito}}</p>
        </ng-container>

        <p *ngIf="ticketNosVemosJefe != ''">Nos vemos jefe:</p>
        <p *ngIf="ticketNosVemosJefe != ''">{{ticketNosVemosJefe}}</p>
        <p *ngIf="ticketAntojito
        ">Antojito:</p>
        <p *ngIf="ticketAntojito">{{ticketAntojito}}</p>
    </div>

    <div>
        <hr size="2px" style="margin: 18px auto;" />
    </div>


    <div class="boton_comprar">
        <button (click)="verUltimoBoletin()">VER BOLETIN</button>
        <button (click)="verResultados()">BUSCAR OTROS RESULTADOS</button>
    </div>
</div>