<div class="contenedor_ticket">
    <div class="logo_ticket">
        <img src="../../../../assets/img/lotto.png" alt="">
    </div>
    <div>
        <hr size="2px" />
    </div>
    <div class="scroll">
        <app-lotto-ticket [ticket]="ticketGanador"></app-lotto-ticket>
    </div>
    <div>
        <hr size="2px" />
    </div>

    <p class="texto">Sorteo N° {{ticketGanador.numeroSorteo}} - {{ticketGanador.sorteo.fecha}}</p>

    <div class="ticket_entero">
        <h5>PRIMERA SUERTE</h5>
        <div>
            <p *ngFor="let number of ticketNumbers">{{number}}</p>
        </div>
    </div>

    <div>
        <hr size="2px" style="margin: 18px auto;" />
    </div>

    <h3 class="texto">PPREMIOS ESPECIALES</h3>

    <div>
        <hr size="2px" style="margin: 18px auto;" />
    </div>

    <div class="texto_premios">
        <p>lotto plus:</p>
        <p>998768</p>

        <p>Lottito:</p>
        <p>154793</p>

        <p>Lottito:</p>
        <p>754991</p>

        <p>Lottito:</p>
        <p>754991</p>

        <p>Lottito:</p>
        <p>754991</p>

        <p>Lottito:</p>
        <p>754991</p>

        <p>Lottito:</p>
        <p>754991</p>

        <p>Lottito:</p>
        <p>754991</p>

        <p>Lottito:</p>
        <p>754991</p>

        <p>Lottito:</p>
        <p>754991</p>

        <p>Lottito:</p>
        <p>754991</p>

        <p>Lottito:</p>
        <p>754991</p>
    </div>

    <div>
        <hr size="2px" style="margin: 18px auto;" />
    </div>


    <div class="boton_comprar">
        <button (click)="verUltimoBoletin()">VER BOLETIN</button>
        <button (click)="verResultados()">BUSCAR OTROS RESULTADOS</button>
    </div>
</div>