<div *ngIf="!miniBox" class="selectionBox">
  <app-boton-de-juego
    image="assets/img/loteria-sombra-2.png"
    [link]="linkLoteriaNacional"
    [token]="lotteryToken"
    name="loteria"
    (authError)="authError()"
  >
  </app-boton-de-juego>

  <app-boton-de-juego
    image="assets/img/lotto-sombra.png"
    [link]="linkLotto"
    [token]="lotteryToken"
    name="lotto"
    (authError)="authError()"
  >
  </app-boton-de-juego>

  <app-boton-de-juego
    image="assets/img/pozo-sombra.png"
    [link]="linkPozoMillonario"
    [token]="lotteryToken"
    name="pozo"
    (authError)="authError()"
  >
  </app-boton-de-juego>
  <app-boton-de-juego
    image="assets/img/millonaria-sombra.png"
    [link]="linkMillonaria"
    [token]="lotteryToken"
    name="millonaria"
    (authError)="authError()"
  >
  </app-boton-de-juego>
  <app-boton-de-juego
    image="assets/img/bingazo-sombra.png"
    [link]="linkBingazo"
    [token]="lotteryToken"
    name="bingazo"
    (authError)="authError()"
  >
  </app-boton-de-juego>
</div>
<div *ngIf="miniBox" class="miniBox">
  <div>
    <p>COMPRAR AQUÍ</p>
  </div>
  <app-boton-de-juego
    image="assets/img/loteria-sombra-2.png"
    [link]="linkLoteriaNacional"
    [token]="lotteryToken"
    [mini]="true"
    name="loteria"
    (authError)="authError()"
  >
  </app-boton-de-juego>

  <app-boton-de-juego
    image="assets/img/lotto-sombra.png"
    [link]="linkLotto"
    [token]="lotteryToken"
    [mini]="true"
    name="lotto"
    (authError)="authError()"
  >
  </app-boton-de-juego>

  <app-boton-de-juego
    image="assets/img/pozo-sombra.png"
    [link]="linkPozoMillonario"
    [token]="lotteryToken"
    [mini]="true"
    name="pozo"
    (authError)="authError()"
  >
  </app-boton-de-juego>
  <app-boton-de-juego
    image="assets/img/millonaria-sombra.png"
    [link]="linkMillonaria"
    [token]="lotteryToken"
    [mini]="true"
    name="millonaria"
    (authError)="authError()"
  >
  </app-boton-de-juego>
  <app-boton-de-juego
    image="assets/img/bingazo-sombra.png"
    [link]="linkBingazo"
    [token]="lotteryToken"
    [mini]="true"
    name="bingazo"
    (authError)="authError()"
  >
  </app-boton-de-juego>
</div>

<app-floating-menu
  (deleteLoteriaTicket)="deleteLoteriaTicket($event)"
  (deleteLottoTicket)="deleteLottoTicket($event)"
  (deletePozoTicket)="deletePozoTicket($event)"
  (deleteMillonariaTicket)="deleteMillonariaTicket($event)"
  (deleteLoteriaFraccion)="deleteLoteriaFraccion($event)"
  (deleteBingazoTicket)="deleteBingazoTicket($event)"
  (emitirCompra)="comprar()"
  (eliminarTodo)="deleteAllTickets()"
  (deletePozoRevanchaTicket)="deletePozoRevanchaTicket($event)"
  [ticketsLoteria]="ticketsLoteria"
  [ticketsLotto]="ticketsLotto"
  [ticketsPozoRevancha]="ticketsPozoRevancha"
  [ticketsBingazo]="ticketsBingazo"
  [ticketsPozo]="ticketsPozo"
  [ticketsMillonaria]="ticketsMillonaria"
  tipoLoteria="loteria"
></app-floating-menu>
<app-loader
  loader="loteria"
  [message]="loadingMessage!"
  *ngIf="isLoading"
></app-loader>
<app-error
  [msg]="errorMessage!"
  (closeError)="closeError()"
  [title]="errorTitle!"
  *ngIf="isError"
></app-error>

<app-error
  [msg]="validationErrorMessage!"
  (closeError)="closeValidationError()"
  *ngIf="isValidationError"
></app-error>
<app-confirmacion-de-venta
  (compraConfirmada)="confirmarCompra()"
  (compraCancelada)="cancelarCompra($event)"
  (comprarDespues)="dismissCompras()"
  [compra]="detalleCompra"
  class="paymentItem"
  #purchase
  *ngIf="confirmacionDeCompra"
></app-confirmacion-de-venta>
<app-instantaneas
  (close)="abrirFinalizar(idVenta)"
  [resultados]="instantaneas"
  tipoloteria="14"
  [isLoteriaNacional]="true"
  class="paymentItem"
  *ngIf="isInstantaneas"
></app-instantaneas>
<app-venta-finalizada
  (volver)="finalizarCompra()"
  [compra]="detalleCompra"
  class="paymentItem"
  *ngIf="compraFinalizada"
></app-venta-finalizada>
<app-saldo-insuficiente
  [message]="recargaDeSaldoMessage"
  (volver)="dismissCompras()"
  (recarga)="irARecarga()"
  class="paymentItem"
  *ngIf="saldoInsuficiente"
></app-saldo-insuficiente>
<app-venta-cancelada
  class="paymentItem"
  [message]="cancelMessage!"
  *ngIf="compraCancelada"
></app-venta-cancelada>
