<div *ngIf="!miniBox" class="selectionBox">
  <app-boton-de-juego
    image="assets/img/loteria-sombra-2.png"
    [link]="linkLoteriaNacional"
    [token]="lotteryToken"
    name="loteria"
    (authError)="authError()"
  >
  </app-boton-de-juego>

  <app-boton-de-juego
    image="assets/img/lotto-sombra.png"
    [link]="linkLotto"
    [token]="lotteryToken"
    name="lotto"
    (authError)="authError()"
  >
  </app-boton-de-juego>

  <app-boton-de-juego
    image="assets/img/pozo-sombra.png"
    [link]="linkPozoMillonario"
    [token]="lotteryToken"
    name="pozo"
    (authError)="authError()"
  >
  </app-boton-de-juego>
  <app-boton-de-juego
    image="assets/img/bingazo-sombra.png"
    [link]="linkBingazo"
    [token]="lotteryToken"
    name="bingazo"
    (authError)="authError()"
  >
  </app-boton-de-juego>
</div>
<div *ngIf="miniBox" class="miniBox">
  <div>
    <p>COMPRAR AQUÍ</p>
  </div>
  <app-boton-de-juego
    image="assets/img/loteria-sombra-2.png"
    [link]="linkLoteriaNacional"
    [token]="lotteryToken"
    [mini]="true"
    name="loteria"
    (authError)="authError()"
  >
  </app-boton-de-juego>

  <app-boton-de-juego
    image="assets/img/lotto-sombra.png"
    [link]="linkLotto"
    [token]="lotteryToken"
    [mini]="true"
    name="lotto"
    (authError)="authError()"
  >
  </app-boton-de-juego>

  <app-boton-de-juego
    image="assets/img/pozo-sombra.png"
    [link]="linkPozoMillonario"
    [token]="lotteryToken"
    [mini]="true"
    name="pozo"
    (authError)="authError()"
  >
  </app-boton-de-juego>
  <app-boton-de-juego
    image="assets/img/bingazo-sombra.png"
    [link]="linkBingazo"
    [token]="lotteryToken"
    [mini]="true"
    name="bingazo"
    (authError)="authError()"
  >
  </app-boton-de-juego>
</div>

<app-floating-menu
  (deleteLoteriaTicket)="deleteLoteriaTicket($event)"
  (deleteLottoTicket)="deleteLottoTicket($event)"
  (deletePozoTicket)="deletePozoTicket($event)"
  (deleteLoteriaFraccion)="deleteLoteriaFraccion($event)"
  (deleteBingazoTicket)="deleteBingazoTicket($event)"
  (emitirCompra)="comprar()"
  (eliminarTodo)="deleteAllTickets()"
  (deletePozoRevanchaTicket)="deletePozoRevanchaTicket($event)"
  [ticketsLoteria]="ticketsLoteria"
  [ticketsLotto]="ticketsLotto"
  [ticketsPozoRevancha]="ticketsPozoRevancha"
  [ticketsBingazo]="ticketsBingazo"
  [ticketsPozo]="ticketsPozo"
  tipoLoteria="loteria"
></app-floating-menu>
<app-loader
  loader="loteria"
  [message]="loadingMessage!"
  *ngIf="isLoading"
></app-loader>
<app-error
  [msg]="errorMessage!"
  (closeError)="closeError()"
  [title]="errorTitle!"
  *ngIf="isError"
></app-error>

<app-error
  [msg]="validationErrorMessage!"
  (closeError)="closeValidationError()"
  *ngIf="isValidationError"
></app-error>

<app-saldo-insuficiente
  [message]="recargaDeSaldoMessage"
  (volver)="saldoInsuficiente = false"
  (recarga)="irARecarga()"
  class="paymentItem"
  *ngIf="saldoInsuficiente"
></app-saldo-insuficiente>
