<div class="contenedor_ticket">
    <div class="logo_ticket">
        <img src="../../../../assets/img/pozzo millonario.png" alt="">
        <p>.</p>
    </div>
    <div>
        <hr size="2px" />
    </div>
    <div class="scroll">
        <app-pozo-millonario-ticket [ticket]="ticketGanador"></app-pozo-millonario-ticket>
    </div>

    <div>
        <hr size="2px" style="margin: 18px auto;" />
    </div>

    <h3 class="texto">MASCOTA GANADORA</h3>

    <div>
        <hr size="2px" style="margin: 18px auto;" />
    </div>

    <div class="texto_premios">
        <img [src]="mascotaPath" [alt]="mascota">
    </div>

    <div>
        <hr size="2px" style="margin: 18px auto;" />
    </div>

    <div class="boton_comprar">
        <button (click)="verUltimoBoletin()">VER BOLETIN</button>
        <button (click)="verResultados()">BUSCAR OTROS RESULTADOS</button>
    </div>
</div>