<div class="contenedor_ticket">
    <div class="logo_ticket">
        <img src="../../../../assets/img/pozzo millonario.png" alt="">
    </div>
    <div>
        <hr size="2px" />
    </div>
    <div class="scroll">
        <app-pozo-millonario-ticket [ticket]="ticketGanador"></app-pozo-millonario-ticket>
    </div>

    <!--     <p class="texto">Sorteo N° {{ticketGanador.numeroSorteo}} - {{ticketGanador.sorteo.fecha}}</p>

    <div class="ticket_entero">
        <h5>NÚMEROS GANADORES</h5>
        <div>
            <p *ngFor="let number of ticketNumbers">{{number}}</p>
        </div>
    </div>
 -->
    <div>
        <hr size="2px" style="margin: 18px auto;" />
    </div>

    <h3 class="texto">REINTEGRO</h3>

    <div>
        <hr size="2px" style="margin: 18px auto;" />
    </div>

    <div class="texto_premios">
        <ng-container *ngIf="ticket.mascota">

            <img [src]="mascotaPath" [alt]="ticket.mascota">
        </ng-container>
    </div>

    <div>
        <hr size="2px" style="margin: 18px auto;" />
    </div>

    <div class="boton_comprar">
        <button (click)="verUltimoBoletin()">VER BOLETIN</button>
        <button (click)="verResultados()">BUSCAR OTROS RESULTADOS</button>
    </div>
</div>