/* You can add global styles to this file, and also import other style files */

@import url('../src/sass/fonts.scss');



* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}