<div class="contenedor_informacion_ticket">
  <div class="contenedor_titulo">
    <div class="contenedor_logo">
      <img src="../../../../assets/img/lotto.png" alt="">
    </div>
    <div class="contenedor_info">
      <p>Sorteo 6592</p>
      <p>05/05/2021</p>
    </div>
  </div>
  <hr size="2px" />

  <div class="contenedor_monto_premio">
    <div class="monto_sorteo">
      <p>Boleto Ganador</p>
    </div>
  </div>
  <hr size="2px" />

  <div class="contenedor_numeros">
    <div class="numero">
      <p>9</p>
      <p>4</p>
      <p>5</p>
      <p>7</p>
      <p>4</p>
      <p>4</p>
    </div>
    <div class="contenedor_n">
      <h5>Lotto Plus</h5>
      <div class="numeros">
        <p>1</p>
        <p>3</p>
        <p>3</p>
        <p>3</p>
        <p>3</p>
        <p>3</p>
      </div>
    </div>
    <div class="contenedor_n">
      <h5>Lottito</h5>
      <div class="numeros">
        <p>1</p>
        <p>3</p>
        <p>3</p>
        <p>3</p>
        <p>3</p>
        <p>3</p>
      </div>
    </div>
  </div>
</div>