<div class="contenedor_ticket"
  [ngClass]="{'fondoLoteria': isLoteriaNacional, 'fondoLotto': isLotto, 'fondoPozo': isPozoMillonario}">
  <div class="logo_ticket">
    <img [src]="logoPath" alt="">
  </div>
  <div>
    <hr size="2px" />
  </div>
  <ng-container *ngIf="checkTickets()">
    <div *ngIf="isLoteriaNacional" class="scroll">

      <app-loteria-nacional-ticket *ngFor="let item of tickets | keyvalue" [ticket]="item.value.ticket"
        [sorteo]="item.value.sorteo">
      </app-loteria-nacional-ticket>
    </div>
    <div *ngIf="isLotto" class="scroll">

      <app-lotto-ticket *ngFor="let item of tickets | keyvalue" [ticket]="item.value.ticket"
        [sorteo]="item.value.sorteo">
      </app-lotto-ticket>
    </div>
    <div *ngIf="isPozoMillonario" class="scroll">

      <app-pozo-millonario-ticket *ngFor="let item of tickets | keyvalue" [ticket]="item.value.ticket"
        [sorteo]="item.value.sorteo">
      </app-pozo-millonario-ticket>
    </div>
  </ng-container>
  <div>
    <hr size="2px" />
  </div>
  <div class="boton_comprar">
    <button (click)="comprar()" *ngIf="!isResumen"
      [ngClass]="{'fondoLoteria': isLoteriaNacional, 'fondoLotto': isLotto, 'fondoPozo': isPozoMillonario}">COMPRAR</button>
  </div>
</div>