$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-botton: #2f72b9;
$color-lotto: #b51f20;
$color-pozo: #04b865;

.contenedor_ticket.fondoLoteria {
  background-color: $color-botton;
  border: 1px solid $color-botton;
}
.contenedor_ticket.fondoPozo {
  background-color: $color-pozo;
  border: 1px solid $color-pozo;
}
.contenedor_ticket.fondoLotto {
  background-color: $color-lotto;
  border: 1px solid $color-lotto;
}
.contenedor_ticket {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  padding: 15px;
  background-color: white;

  -webkit-box-shadow: 5px 0px 18px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 0px 18px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 0px 18px 2px rgba(0, 0, 0, 0.3);
  
  .detailBox {
    overflow-y: scroll;
    min-height: 20px;
    max-height: 40vh;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
      width: 10px;
    }

    /* &::-webkit-scrollbar-button:increment,
      &::-webkit-scrollbar-button {
        display: none;
      } */

    &::-webkit-scrollbar-thumb {
      background-color: #fff;
      border-radius: 20px;
      border: 2px solid #fff;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }
  
    .scroll {
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      div {
        width: 100%;
  
        .ticketBox {
          width: 100%;
          margin: 10px 0;
        }
      }
    }

    .noItem{
      margin: 10px;
      text-align: center;
      padding: 10px;
      color: black;
    }
  }

  .logo_ticket {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;

    img {
      height: 100px;
      margin: auto;
      margin: 15px auto;
    }
  }

  hr {
    width: 90%;
  }
  .totalsBox {
    height: 10vh;

    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: black;
  }

  .boton_comprar {
    width: 100%;
    margin: auto;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 90%;
      padding: 20px 30px;
      border-radius: 40px;
      margin: 10px auto;
      font-family: $fuente-botones;
      color: #fff;
      font-size: 12px;
      cursor: pointer;
      transition: background-color 0.5s ease;
    }
    button.fondoLoteria {
      background-color: $color-botton;
      border: 1px solid $color-botton;
      &:hover {
        background-color: #fff;
        color: $color-botton;
      }
    }
    button.fondoLotto {
      background-color: $color-lotto;
      border: 1px solid $color-lotto;
      &:hover {
        background-color: #fff;
        color: $color-lotto;
      }
    }
    button.fondoPozo {
      background-color: $color-pozo;
      border: 1px solid $color-pozo;
      &:hover {
        background-color: #fff;
        color: $color-pozo;
      }
    }
  }
}
