<div class="contenedor_ticket">
  <div class="logo_ticket">
    <img [src]="logo" alt="">
  </div>
  <div>
    <hr size="2px" />
  </div>
  <div *ngIf="tickets && tickets.length!=0" class="scroll">
    <app-loteria-nacional-ticket *ngFor="let ticket of tickets" [ticketIndex]="ticket.ticketIndex" [date]="ticket.date"
      [fraccion]="ticket.fraccion" [ticketNumbers]="ticket.ticketNumbers" [sorteoNumber]="ticketsorteoNumber">
    </app-loteria-nacional-ticket>
  </div>
  <div>
    <hr size="2px" />
  </div>
  <div class="boton_comprar">
    <button>COMPRAR</button>
  </div>
</div>