<div class="contenedor_ticket">
  <div class="logo_ticket">
    <img src="../../../../assets/img/loteria nacional.png" alt="">
  </div>
  <div>
    <hr size="2px" />
  </div>
  <div class="scroll">
    <div class="contenedor_informacion_ticket">
      <div class="contenedor_informacion_ticket_derecho">

        <div class="ticket_titulo">
          <img src="../../../../assets/img/loteria nacional.png" alt="">
          <div>
            <h3>Ticket #245</h3>
          </div>
          <div>
            <p>Sorteo 6592</p>
            <p>05/05/2021</p>
          </div>
        </div>
        <hr size="2px" />
        <div class="ticket_monto">
          <p>200.000,00</p>
          <p>Al entero</p>
        </div>
        <hr size="2px" />
        <div class="ticket_entero_fraccion">
          <div class="ticket_entero">
            <h5>Entero</h5>
            <div>
              <p>1</p>
              <p>4</p>
              <p>5</p>
              <p>7</p>
              <p>4</p>
            </div>
          </div>
          <div class="ticket_fraccion">
            <h5>Fraccion</h5>
            <div>
              <p>1</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contenedor_informacion_ticket">

      <div class="contenedor_informacion_ticket_derecho">
        <div class="ticket_titulo">
          <img src="../../../../assets/img/loteria nacional.png" alt="">
          <div>
            <h3>Ticket #245</h3>
          </div>
          <div>
            <p>Sorteo 6592</p>
            <p>05/05/2021</p>
          </div>
        </div>
        <hr size="2px" />
        <div class="ticket_monto">
          <p>400.000,00</p>
          <p>Al entero</p>
        </div>
        <hr size="2px" />
        <div class="ticket_entero_fraccion">
          <div class="ticket_entero">
            <h5>Entero</h5>
            <div>
              <p>9</p>
              <p>4</p>
              <p>5</p>
              <p>7</p>
              <p>4</p>
            </div>
          </div>
          <div class="ticket_fraccion">
            <h5>Fraccion</h5>
            <div>
              <p>1</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contenedor_informacion_ticket">

      <div class="contenedor_informacion_ticket_derecho">
        <div class="ticket_titulo">
          <img src="../../../../assets/img/loteria nacional.png" alt="">
          <div>
            <h3>Ticket #245</h3>
          </div>
          <div>
            <p>Sorteo 6592</p>
            <p>05/05/2021</p>
          </div>
        </div>
        <hr size="2px" />
        <div class="ticket_monto">
          <p>200.000,00</p>
          <p>Al entero</p>
        </div>
        <hr size="2px" />
        <div class="ticket_entero_fraccion">
          <div class="ticket_entero">
            <h5>Entero</h5>
            <div>
              <p>1</p>
              <p>4</p>
              <p>5</p>
              <p>7</p>
              <p>4</p>
            </div>
          </div>
          <div class="ticket_fraccion">
            <h5>Fraccion</h5>
            <div>
              <p>1</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <hr size="2px" />
  </div>

  <p class="texto">Sorteo N° 6595 lunes 10 de mayo del 2021</p>

  <div class="ticket_entero">
    <h5>PRIMERA SUERTE</h5>
    <div>
      <p>1</p>
      <p>4</p>
      <p>5</p>
      <p>7</p>
      <p>4</p>
    </div>
  </div>

  <div>
    <hr size="2px" style="margin: 18px auto;"/>
  </div>

  <div class="boton_comprar">
    <button>VER BOLETIN</button>
  </div>
</div>
