$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-pozo: #ffe401;

.contenedor_informacion_ticket {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-width: 1px 0;
  border-style: solid;
  border-color: $color-pozo;
  background-color: $color-pozo;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;

  p {
    font-family: $fuente-parrafo;
    font-size: 16px;
    color: white;
    margin: 5px;

    span {
      font-family: $fuente-subtitulo;
    }
  }

  .ticketBox {

    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    &.boleto {


      width: 360px;
      margin: 0 auto;

      background-color: white;
      text-align: center;
      border-radius: 4px;
      border: solid 5px $color-pozo;

      position: relative;
      min-height: 274px;



      .mascota {
        position: absolute;
        width: 65px;
        border-radius: 30px;

        top: 62px;
        right: 76px;

      }


      .numero {
        position: absolute;
        padding: 0;
        font-size: 30px;
        font-weight: bold;
        color: black;
        margin: 0;
      }

      p.numero:nth-of-type(1) {
        top: 142px;
        left: 44px;
      }

      p.numero:nth-of-type(2) {
        top: 142px;
        left: 94px;
      }

      p.numero:nth-of-type(3) {
        top: 142px;
        left: 144px;
      }

      p.numero:nth-of-type(4) {
        top: 142px;
        left: 194px;
      }

      p.numero:nth-of-type(5) {
        top: 142px;
        left: 244px;
      }

      p.numero:nth-of-type(6) {
        top: 142px;
        left: 294px;
      }

      p.numero:nth-of-type(7) {
        top: 194px;
        left: 65px;
      }

      p.numero:nth-of-type(8) {
        top: 194px;
        left: 115px;
      }

      p.numero:nth-of-type(9) {
        top: 194px;
        left: 165px;
      }

      p.numero:nth-of-type(10) {
        top: 194px;
        left: 215px;
      }

      p.numero:nth-of-type(11) {
        top: 194px;
        left: 265px;
      }


      img {
        width: 100%;
      }


    }

    .left {
      width: 70%;

      .fraccion {
        font-family: $fuente-subtitulo;
        margin: 2px;
        padding: 5px;
        text-align: center;
        color: white;
        width: 35px;
        height: 35px;
        font-weight: bold;
      }

      p {
        font-weight: bold;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      width: 30%;

      img {
        width: 100%;

        &.trash {
          width: 40%;
          padding: 3px;
          cursor: pointer;
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(360deg) brightness(108%) contrast(109%);
          transition: width 0.3s ease;

          &:hover {
            width: 44%;
            transition: width 0.3s ease;
          }
        }

      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .contenedor_informacion_ticket {
    p {
      font-size: 14px;
    }

    img.logoTicket {
      position: absolute;
      width: 150px;
      top: 50px;
      right: 5px;
    }
  }
}

@media screen and (max-width: 500px) {
  .contenedor_informacion_ticket {
    img.logoTicket {
      position: absolute;
      width: 120px;
    }
  }
}