$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-pozo: #057333;

.container_loteria_nacional {
  width: 100%;
  margin: 0 auto;
  display: grid;

  img {
    width: 100%;
  }
}
