<app-seleccion-tipo></app-seleccion-tipo>

<div class="contenedor_loteria">

  <app-info-loteria titulo="Lotto" color="lotto" [loteria]=2></app-info-loteria>

  <div class="contendor_seleccion">
    <h3>Ingresa tu numero de la suerte</h3>
    <div class="numeros_suerte">
      <input type="number" [(ngModel)]="combinacionDeLaSuerte[0]" min="0" max="9" name="" placeholder="2">
      <input type="number" [(ngModel)]="combinacionDeLaSuerte[1]" min="0" max="9" name="" placeholder="4">
      <input type="number" [(ngModel)]="combinacionDeLaSuerte[2]" min="0" max="9" name="" placeholder="5">
      <input type="number" [(ngModel)]="combinacionDeLaSuerte[3]" min="0" max="9" name="" placeholder="7">
      <input type="number" [(ngModel)]="combinacionDeLaSuerte[4]" min="0" max="9" name="" placeholder="4">
      <input type="number" [(ngModel)]="combinacionDeLaSuerte[5]" min="0" max="9" name="" placeholder="4">
      <select class="select_option" name="" id="">
        <option class="option" value="">Seleccion individual</option>
        <option class="option" value="">5 Boletos al azar</option>
        <option class="option" value="">30 Boletos al azar</option>
        <option class="option" value="">50 Boletos al azar</option>
      </select>
      <button class="activado">BUSCAR NUMERO</button>
    </div>
    <p>Si quieres cambiar tu numero, ingresalo nuevamente y clic en "Buscar numero"</p>
    <div class="contenedor_numeros_suerte">
      <table *ngIf="showNumeros">
        <tbody>
          <tr *ngFor="let ticket of ticketsLotto | paginacion:page_size:page_number; let i = index ">
            <td>
              <div class="contenedor">
                <input type="checkbox" [checked]="ticket.status" (click)="seleccionarTicket(ticket.identificador)">
                <div class="contenedor_numeros">
                  <p *ngFor="let numero of ticket.numeros">{{ numero }}</p>
                </div>
              </div>
              <!-- <app-seleccion-lotto [tickets]="ticket"></app-seleccion-lotto> -->
            </td>
          </tr>
        </tbody>
        <hr size="2px" color="gray" />
      </table>



      <div class="contenedor_botones" style="display: flex; justify-content: center; margin-left: -8%">
        <mat-paginator style-paginator [length]="ticketsLotto.length" [pageSize]="page_size"
          (page)="handlerPage($event)">
        </mat-paginator>
      </div>
    </div>
    <div class="boton_boleto">
      <button>RESUMEN DE BOLETOS</button>
    </div>
  </div>


  <div class="contenedor_ticket">
    <div class="logo_ticket">
      <img src="../../../../assets/img/lotto.png" alt="">
    </div>
    <div>
      <hr size="2px" />
    </div>
    <div class="scroll">

      <div class="contenedor_informacion_ticket">
        <div class="contenedor_titulo">
          <div class="contenedor_logo">
            <img src="../../../../assets/img/loteria nacional.png" alt="">
          </div>
          <div class="contenedor_info">
            <p>Sorteo 6592</p>
            <p>05/05/2021</p>
          </div>
        </div>
        <hr size="2px" />

        <div class="contenedor_monto_premio">
          <div class="monto_sorteo">
            <p>200.000,00</p>
            <p>Para ti solito</p>
          </div>
          <div class="contenedor_numeros">
            <div class="numero">
              <p>9</p>
              <p>4</p>
              <p>5</p>
              <p>7</p>
              <p>4</p>
              <p>4</p>
            </div>
            <div class="contenedor_n">
              <h5>Lotto Plus</h5>
              <div class="numeros">
                <p>1</p>
                <p>3</p>
                <p>3</p>
                <p>3</p>
                <p>3</p>
                <p>3</p>
              </div>
            </div>
            <div class="contenedor_n">
              <h5>Lottito</h5>
              <div class="numeros">
                <p>1</p>
                <p>3</p>
                <p>3</p>
                <p>3</p>
                <p>3</p>
                <p>3</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="contenedor_informacion_ticket">
        <div class="contenedor_titulo">
          <div class="contenedor_logo">
            <img src="../../../../assets/img/loteria nacional.png" alt="">
          </div>
          <div class="contenedor_info">
            <p>Sorteo 6592</p>
            <p>05/05/2021</p>
          </div>
        </div>
        <hr size="2px" />

        <div class="contenedor_monto_premio">
          <div class="monto_sorteo">
            <p>200.000,00</p>
            <p>Para ti solito</p>
          </div>
          <div class="contenedor_numeros">
            <div class="numero">
              <p>9</p>
              <p>4</p>
              <p>5</p>
              <p>7</p>
              <p>4</p>
              <p>4</p>
            </div>
            <div class="contenedor_n">
              <h5>Lotto Plus</h5>
              <div class="numeros">
                <p>1</p>
                <p>3</p>
                <p>3</p>
                <p>3</p>
                <p>3</p>
                <p>3</p>
              </div>
            </div>
            <div class="contenedor_n">
              <h5>Lottito</h5>
              <div class="numeros">
                <p>1</p>
                <p>3</p>
                <p>3</p>
                <p>3</p>
                <p>3</p>
                <p>3</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="contenedor_informacion_ticket">
        <div class="contenedor_titulo">
          <div class="contenedor_logo">
            <img src="../../../../assets/img/loteria nacional.png" alt="">
          </div>
          <div class="contenedor_info">
            <p>Sorteo 6592</p>
            <p>05/05/2021</p>
          </div>
        </div>
        <hr size="2px" />

        <div class="contenedor_monto_premio">
          <div class="monto_sorteo">
            <p>200.000,00</p>
            <p>Para ti solito</p>
          </div>
          <div class="contenedor_numeros">
            <div class="numero">
              <p>9</p>
              <p>4</p>
              <p>5</p>
              <p>7</p>
              <p>4</p>
              <p>4</p>
            </div>
            <div class="contenedor_n">
              <h5>Lotto Plus</h5>
              <div class="numeros">
                <p>1</p>
                <p>3</p>
                <p>3</p>
                <p>3</p>
                <p>3</p>
                <p>3</p>
              </div>
            </div>
            <div class="contenedor_n">
              <h5>Lottito</h5>
              <div class="numeros">
                <p>1</p>
                <p>3</p>
                <p>3</p>
                <p>3</p>
                <p>3</p>
                <p>3</p>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div>
      <hr size="2px" />
    </div>
    <div class="boton_comprar">
      <button>COMPRAR</button>
    </div>
  </div>
</div>