<app-seleccion-tipo></app-seleccion-tipo>

<div class="contenedor_loteria" *ngIf="showComponents">
  <app-info-loteria
    titulo="Lotto"
    class="infoBox"
    color="lotto"
    [sorteos]="sorteo"
    [loteria]="2"
    (emitir)="procesaEmitir($event)"
  >
  </app-info-loteria>

  <div class="contenedor_seleccion">
    <div class="contenedor_select">
      <h3>¿Como quieres comprar?</h3>
      <select class="select_option" name="" id="" [(ngModel)]="tipoSeleccion">
        <option class="option" value="1">Seleccion individual</option>
        <option class="option" value="5">5 Boletos al azar</option>
        <option class="option" value="30">30 Boletos al azar</option>
        <option class="option" value="50">50 Boletos al azar</option>
      </select>
    </div>
    <div class="numeros_suerte">
      <h3>Ingresa tu numero de la suerte</h3>
      <div class="numeros">
        <input
          type="text"
          name=""
          maxlength="1"
          onInput="this.value=this.value.replace(/[^0-9]/g,'');"
          [(ngModel)]="combinacionDeLaSuerte[0]"
        />
        <input
          type="text"
          name=""
          maxlength="1"
          onInput="this.value=this.value.replace(/[^0-9]/g,'');"
          [(ngModel)]="combinacionDeLaSuerte[1]"
        />
        <input
          type="text"
          name=""
          maxlength="1"
          onInput="this.value=this.value.replace(/[^0-9]/g,'');"
          [(ngModel)]="combinacionDeLaSuerte[2]"
        />
        <input
          type="text"
          name=""
          maxlength="1"
          onInput="this.value=this.value.replace(/[^0-9]/g,'');"
          [(ngModel)]="combinacionDeLaSuerte[3]"
        />
        <input
          type="text"
          name=""
          maxlength="1"
          onInput="this.value=this.value.replace(/[^0-9]/g,'');"
          [(ngModel)]="combinacionDeLaSuerte[4]"
        />
        <input
          type="text"
          name=""
          maxlength="1"
          onInput="this.value=this.value.replace(/[^0-9]/g,'');"
          [(ngModel)]="combinacionDeLaSuerte[5]"
        />
      </div>
    </div>
    <button class="activado" (click)="buscarNumero()">BUSCAR NUMERO</button>
    <p>
      Si quieres cambiar tu numero, ingresalo nuevamente y clic en "Buscar
      numero"
    </p>
    <div *ngIf="showNumeros" class="contenedor_numeros_suerte">
      <table>
        <tbody>
          <tr
            *ngFor="
              let ticket of ticketsLotto | paginacion: page_size:page_number;
              let i = index
            "
          >
            <td>
              <div class="contenedor">
                <input
                  type="checkbox"
                  [checked]="ticket.status"
                  (click)="seleccionarTicket(page_size * (page_number - 1) + i)"
                />
                <div class="contenedor_numeros">
                  <p *ngFor="let numero of ticket.display">{{ numero }}</p>
                </div>
              </div>
              <!-- <app-seleccion-lotto [tickets]="ticket"></app-seleccion-lotto> -->
            </td>
          </tr>
        </tbody>
        <hr size="2px" color="gray" />
      </table>

      <div class="contenedor_botones">
        <mat-paginator
          style-paginator
          [length]="ticketsLotto.length"
          [pageSize]="page_size"
          (page)="handlerPage($event)"
        >
        </mat-paginator>
      </div>
    </div>
    <!-- 
    <div class="boton_boleto"> <button (click)="abrirResumen()">RESUMEN DE BOLETOS</button>

    </div> -->
  </div>

  <app-ticket-scroller
    class="ticketScroller"
    (deleteLoteriaTicket)="deleteLoteriaTicket($event)"
    (deleteLottoTicket)="deleteLottoTicket($event)"
    (deletePozoTicket)="deletePozoTicket($event)"
    (deleteLoteriaFraccion)="deleteLoteriaFraccion($event)"
    (emitirCompra)="comprar()"
    [ticketsLoteria]="ticketsLoteria"
    [ticketsLotto]="ticketsSeleccionados"
    [ticketsPozo]="ticketsPozo"
    tipoLoteria="lotto"
  >
  </app-ticket-scroller>
</div>
<app-loader
  loader="lotto"
  [message]="loadingMessage"
  *ngIf="isLoading"
></app-loader>

<app-error
  [msg]="errorMessage"
  (closeError)="closeError()"
  *ngIf="isError"
></app-error>
<div
  class="blackBox"
  *ngIf="
    confirmacionDeCompra ||
    compraFinalizada ||
    saldoInsuficiente ||
    compraCancelada
  "
></div>

<app-confirmacion-de-compra
  (compraConfirmada)="confirmarCompra()"
  (compraCancelada)="cancelarCompra($event)"
  (comprarDespues)="dismissCompras()"
  [compra]="detalleCompra"
  class="paymentItem"
  *ngIf="confirmacionDeCompra"
></app-confirmacion-de-compra>
<app-compra-finalizada
  (volver)="finalizarCompra()"
  [compra]="detalleCompra"
  class="paymentItem"
  *ngIf="compraFinalizada"
></app-compra-finalizada>
<app-saldo-insuficiente
  [message]="recargaDeSaldoMessage"
  (volver)="dismissCompras()"
  (recarga)="irARecarga()"
  class="paymentItem"
  *ngIf="saldoInsuficiente"
></app-saldo-insuficiente>
<app-compra-cancelada
  class="paymentItem"
  [message]="cancelMessage"
  *ngIf="compraCancelada"
></app-compra-cancelada>
