.container {
  width: 100%;
  margin: 20px auto;


  display: flex;
  justify-content: space-around;

  .consultaBox {
    width: 65%;
  }

  .selectorBox {
    width: 360px;
  }
}

@media screen and (max-width: 1000px) {
  .masResultados {
    background-color: #35aee2;
    border: 1px solid #35aee2;

    &:hover {
      color: #35aee2;
    }
  }
  .container {
    width: 95%;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: auto;
    .consultaBox {
      width: 100%;
    }
    .selectorBox {
      display: none;
    }
  }
}
