<div class="contenedor_informacion_ticket">
  <div class="contenedor_titulo">
    <div class="contenedor_logo">
      <img src="../../../../assets/img/lotto.png" alt="">
    </div>
    <div class="contenedor_info">
      <p>Sorteo {{numeroSorteo}}</p>
    </div>
  </div>
  <hr size="2px" />

  <div class="contenedor_monto_premio">
    <div class="monto_sorteo">
      <p>Boleto Ganador</p>
    </div>
  </div>
  <hr size="2px" />

  <div class="contenedor_numeros">
    <div class="numero">
      <p *ngFor="let number of ticketNumbers">{{number}}</p>
    </div>
    <div class="contenedor_n">
      <h5>Lotto Plus</h5>
      <div class="numeros">
        <p *ngFor="let number of ticketNumbers2">{{number}}</p>
      </div>
    </div>
    <div class="contenedor_n">
      <h5>Lottito</h5>
      <div class="numeros">
        <p *ngFor="let number of ticketNumbers3">{{number}}</p>
      </div>
    </div>
  </div>
</div>