<div class="contenedor_informacion_ticket">
  <div class="contenedor_titulo">
    <div class="contenedor_logo">
      <img src="../../../../assets/img/lotto.png" alt="">
    </div>
    <div class="contenedor_info">
      <p class="texto">Sorteo N° {{ticket.numeroSorteo}} - {{ticket.sorteo.fecha}}</p>

    </div>
  </div>
  <hr size="2px" />

  <div class="contenedor_monto_premio">
    <div class="monto_sorteo">
      <p>PRIMERA SUERTE</p>
    </div>
  </div>
  <hr size="2px" />

  <div class="contenedor_numeros">
    <div class="numero">
      <p *ngFor="let number of ticketNumbers">{{number}}</p>
    </div>
  </div>
</div>