<div class="contenedor_informacion_ticket">
  <div class="contenedor_informacion_ticket_derecho">

    <div class="ticket_titulo">
      <!-- <img src="../../../../assets/img/lotto.png" alt="">-->

      <div>
        <p>Sorteo N° {{ticket.numeroSorteo}}</p>
        <p *ngIf="ticket.sorteo">{{ticket.sorteo.fecha}}</p>
      </div>
    </div>
    <hr size="2px" />
    <div class="ticket_monto">
      <p>PRIMERA SUERTE</p>
    </div>
    <hr size="2px" />
    <div class="ticket_entero_fraccion">
      <div class="ticket_entero">
        <div>
          <p *ngFor="let number of ticketNumbers">{{number}}</p>
        </div>
      </div>
    </div>
  </div>
</div>