/* @import url("../../../sass/fonts"); */

$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-botton: #2f72b9;

.navbar_contenedor {
  width: 100%;
  margin: auto;
  background-color: #000980 !important;

  .navbar {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    .navbar_info {
      a {
        padding-right: 25px;
        text-decoration: none;
        color: black;
        font-family: $fuente-subtitulo;
        font-size: 13px;
      }
    }

    .navbar_carrito {
      width: auto;
      display: flex;
      align-items: center;
      font-size: 13px;

      p {
        display: flex;
        align-items: center;
        font-family: $fuente-subtitulo;
      }

      .carrito_icon {
        width: 20px;
        margin: auto;
      }

      .carrito {
        /* border-left: 4px solid gray; */
        margin: 0 8px;
        color: gray;
      }
    }
  }

  .navbar_links {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px 0;

    li {
      margin-left: 40px;
      list-style: none;
      font-family: $fuente-subtitulo;
      font-size: 14px;

      a {
        text-decoration: none;
        color: black;
      }

      .activado {
        background-color: $color-botton;
        padding: 16px;
        border-radius: 30px;
        color: #fff;
      }
    }
  }
}
