/* @import url("../../../sass/fonts"); */

$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-botton: #2f72b9;
nav {
  display: block;
  .navbar_contenedor {
    width: 100%;
    background-color: #28abe2 !important;
    display: flex;
    align-items: center;
    .navbar_links {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      padding: 0;
      margin: 0;
      .compraItem{
        display: none;
      }
      li {
        list-style: none;
        font-family: $fuente-subtitulo;
        font-size: 0.8rem;
        line-height: 1.5;
        cursor: pointer;
        color: white;

        a {
          display: block;
          color: #212121;
          padding: 0.6rem;
          text-decoration: none;
          font-weight: 700 !important;
          color: white;
        }
        &:hover {
          background: rgb(33 33 33 / 20%);
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  nav {
    .navbar_contenedor {
      .navbar_links {

/*       .compraItem{
        display: block;
      }
 */        li {
          font-size: 10px;
        }
      }
    }
  }
}
