<div class="navbar_contenedor">
  <div class="navbar">
    <div class="navbar_info">
      <a href="#">Soporte</a>
      <a href="#">info@sorteo.com</a>
    </div>

    <div class="navbar_carrito">
      <p><i class="fa fa-shopping-cart"></i> <span class="carrito"></span> Carrito (0)</p>
    </div>
  </div>
  <hr size="7px" color="gray" />
  <nav class="navbar_links">
    <li>INICIO</li>
    <li>RESULTADOS</li>
    <li>LOTERIAS</li>
    <li>CONTACTANOS</li>
    <li>REGISTRARSE</li>
  </nav>
</div>
