<div class="navbar_contenedor" style="background-color: #f2f2f2;">
  <div class="navbar">
    <div class="navbar_info">
      <a href="#">Soporte</a>
      <a href="#">info@sorteo.com</a>
    </div>

    <div class="navbar_carrito">
      <p> <img class="carrito_icon" src="../../../assets/img/carrito.png" alt="carrito de compras"> <span
          class="carrito">|</span> Carrito (0)</p>
    </div>
  </div>
  <hr size="2px" color="gray" />
  <nav class="navbar_links">
    <li>
      <a routerLink="/" routerLinkActive="active">INICIO</a>
    </li>
    <li>
      <a routerLink="/list" routerLinkActive="active">RESULTADOS</a>
    </li>
    <li>
      <a routerLink="/lottery" routerLinkActive="active">LOTERIAS</a>
    </li>
    <li>
      <a routerLink="/list" routerLinkActive="active">CONTACTANOS</a>
    </li>
    <li>
      <a routerLink="/user" class="activado" routerLinkActive="active">REGISTRARSE</a>
    </li>
  </nav>
</div>