<div class="resultadoBox">

    <div class="resultadoTitulo">
        <p>Sorteo {{sorteo}}</p>
        <div class="numeroBoleto">
            <p style="margin-right: 5px;">Combinación: </p>
            <p *ngFor="let number of ticketNumbers">{{number}}</p>
        </div>
    </div>
    <hr size="2px" />
    <div class="resultadoDescripcion">
        <p>{{description}}</p>
    </div>
    <div *ngIf="ticket.resultado.status" class="resultadoDetalles">
        <p>Premio: {{nombrePremio}}</p>

        <hr size="2px" />
        <div class="montoPremio">

            <div class="valorPremio">
                <h5>Entero</h5>
                <p>{{valorPremio}} USD</p>
            </div>
            <div class="valorPremio" *ngIf="isLoteriaNacional">

                <h5>Fracción</h5>
                <p>{{valorFraccion}} USD</p>
            </div>
        </div>
        <div class="mensajeDescuento">
        <p>
            
            {{descripcionDescuento}}
        </p>
        </div>
    </div>
</div>