<div class="resultadoBox">
    <div *ngIf="ticket.resultado.status" class="resultadoDetalles">
        <p>Bienvenido al <span>País de los Ganadores <img src="assets/ganadorbrillante.png" alt=""></span></p>
        <p>Eres una persona afortunada, ¡acabas de ganar un premio!</p>

        <div class="detailBox">

            <img src="assets/ganadorpremio.png" alt="">
            <div class="detailText">
                <p><span>SORTEO: </span>{{sorteo}}</p>
                <p><span>COMBINACIÓN: </span>{{ticket.combinacion}}</p>
                <p><span>PREMIO: </span>{{nombrePremio}}</p>
                <p><span>ENTERO: </span>{{valorPremio}}</p>
                <p *ngIf="tipoLoteria==1"><span>FRACCIÓN: </span>$ {{valorFraccion}}</p>
                <p *ngIf="descripcionDescuento != ''">Aplican descuentos en premios</p><br>
            </div>
        </div>
        <p>Cóbralo en tu <span>Punto de la suerte</span> más cercano, descúbrelo
            <a href="https://www.loteria.com.ec/puntos-de-la-suerte" target="_parent">aquí </a>. </p>
    </div>
    <div *ngIf="!ticket.resultado.status" class="resultadoDetalles">
        <p><span>Démosle otro intento,</span> ¡hoy no has ganado!</p><br>
        <p>Puede que el próximo boleto si sea el de la suerte <span>¡Seguro te toca!</span></p><br>
        <div class="detailBox">

            <img src="assets/perdedorpremio.png" alt="">
            <div class="detailText">
                <p><span>SORTEO: </span>{{sorteo}}</p>
                <p><span>COMBINACIÓN: </span>{{ticket.combinacion}}</p>
            </div>
        </div>
        <p>Cómpralo en tu <span>Punto de la suerte</span> más cercano, descúbrelo
            <a href="https://www.loteria.com.ec/puntos-de-la-suerte" target="_parent">aquí</a></p>
    </div>
</div>