$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-botton: #2f72b9;

.resultadoBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  .resultadoTitulo {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
      font-size: 14px;
      margin: 0 0 5px 0;
    }
    .numeroBoleto {
      display: flex;
      p {
        font-size: 14px;
        margin: 0 0 5px 0;
      }
    }
  }
  .resultadoDescripcion {
    p {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      margin: 0 0 5px 0;
    }
  }
  .resultadoDetalles {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    p {
      text-align: center;
    }
    .montoPremio {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      .valorPremio {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h5 {
          font-size: 16px;
          margin: 0;
        }
        p {
          font-size: 16px;
        font-weight: bold;
      }
      }

      .descripcionDescuento{
        p{
          margin: 0;
          font-size: 14px;
        }
      }
    }
  }
}
