<div class="contenedor_carrito">
  <div class="logo_ticket">
    <p>MIS BOLETOS</p>
    <img src="assets/carrito.png" alt="" />
  </div>
  <div>
    <hr
      size="2px"
      [ngClass]="{
        fondoLoteria: isLoteriaNacional,
        fondoLotto: isLotto,
        fondoPozo: isPozoMillonario,
        fondoMillonaria: isLaMillonaria
      }"
    />
  </div>
  <div
    class="detailBox"
    *ngIf="!(seleccionadosCarrito && seleccionadosCarrito.length)"
  >
    <div class="noItem">
      No hay boletos en tu carrito, escoge tu número de la suerte y empieza a
      ganar con nosotros!
    </div>
  </div>

  <ng-container
    *ngIf="
      checkTicketsLoteria() ||
      checkTicketsLotto() ||
      checkTicketsPozo() ||
      checkTicketsLaMillonaria() ||
      checkTicketsPozoRevancha()
    "
  >
    <div>
      <hr
        size="2px"
        [ngClass]="{
          fondoLoteria: isLoteriaNacional,
          fondoLotto: isLotto,
          fondoPozo: isPozoMillonario,
          fondoMillonaria: isLaMillonaria
        }"
      />
    </div>
    <div class="totalsBox">Total: {{ total }}</div>
    <div *ngIf="hasDiscount(totalConDesc)" class="totalsBox">
      Total con descuento: {{ totalConDesc }}
    </div>

    <div>
      <hr
        size="2px"
        [ngClass]="{
          fondoLoteria: isLoteriaNacional,
          fondoLotto: isLotto,
          fondoPozo: isPozoMillonario,
          fondoMillonaria: isLaMillonaria
        }"
      />
    </div>
    <div class="boton_comprar">
      <button class="botonEliminar" (click)="eliminar()">LIMPIAR</button>
      <button
        (click)="comprar()"
        [ngClass]="{
          fondoLoteria: isLoteriaNacional,
          fondoLotto: isLotto,
          fondoPozo: isPozoMillonario,
          fondoMillonaria: isLaMillonaria
        }"
      >
        COMPRAR
      </button>
    </div>
  </ng-container>
  <div
    class="detailBox"
    *ngIf="seleccionadosCarrito && seleccionadosCarrito.length"
  >
    <div class="scroll">
      <ng-container *ngFor="let item of seleccionadosCarrito; let i = index">
        <loteria-ticket-ventas
          style="width: 100%"
          *ngIf="item.tipoLoteria == 1"
          (deleteTicket)="deleteLoteria(item)"
          (deleteFraccion)="deleteFraccionLoteria(item, $event)"
          [ticket]="item.ticket"
          [sorteo]="item.sorteo"
        >
        </loteria-ticket-ventas>
        <lotto-ticket-ventas
          style="width: 100%"
          *ngIf="item.tipoLoteria == 2"
          (delete)="deleteLotto(item)"
          [ticket]="item.ticket"
          [sorteo]="item.sorteo"
        >
        </lotto-ticket-ventas>
        <pozo-ticket-ventas
          style="width: 100%"
          *ngIf="item.tipoLoteria == 5"
          (delete)="deletePozo(item)"
          [ticket]="item.ticket"
          [sorteo]="item.sorteo"
        >
        </pozo-ticket-ventas>
        <millonaria-ticket-ventas
          style="width: 100%"
          *ngIf="item.tipoLoteria == 14"
          (deleteTicket)="deleteMillonaria(item)"
          (deleteFraccion)="deleteFraccionMillonaria(item, $event)"
          [ticket]="item.ticket"
          [sorteo]="item.sorteo"
        >
        </millonaria-ticket-ventas>
        <revancha-ticket-ventas
          style="width: 100%"
          *ngIf="item.tipoLoteria == 17"
          (delete)="deletePozoRevancha(item)"
          [ticket]="item.ticket"
          [sorteo]="item.sorteo"
        >
        </revancha-ticket-ventas>
      </ng-container>
    </div>
  </div>
</div>
