$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-botton: #28AAE1;
$color-lotto: #b51f20;
$color-pozo: #04b865;
$color-millonaria: #b51f20;

.contenedor_ticket.fondoLoteria {
  background-color: $color-botton;
  border: 1px solid $color-botton;
}
.contenedor_ticket.fondoPozo {
  background-color: $color-pozo;
  border: 1px solid $color-pozo;
}
.contenedor_ticket.fondoLotto {
  background-color: $color-lotto;
  border: 1px solid $color-lotto;
}
.contenedor_ticket.fondoMillonaria {
  background-color: $color-millonaria;
  border: 1px solid $color-millonaria;
}
.contenedor_ticket {
  width: 100%;
  min-width: 305px;
  border-radius: 30px;
  overflow: hidden;
  padding: 15px;
  background-color: white;

  -webkit-box-shadow: 5px 0px 18px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 0px 18px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 0px 18px 2px rgba(0, 0, 0, 0.3);

  .detailBox {
    overflow-y: scroll;
    min-height: 20px;
    max-height: 40vh;
    padding: 0 10px;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: grey;
      border-radius: 20px;
      border: 2px solid grey;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    .scroll {
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        width: 100%;

        .ticketBox {
          width: 100%;
          margin: 10px 0;
        }
      }
    }

    .noItem {
      margin: 10px;
      text-align: center;
      padding: 10px;
      color: black;
    }
  }

  .logo_ticket {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;

    img {
      height: 100px;
      margin: auto;
      margin: 15px auto;
    }
  }

  hr {
    width: 90%;
  }
  .totalsBox {
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: black;
  }

  .boton_comprar {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 90%;
      padding: 15px;
      border-radius: 40px;
      margin: 5px;
      font-family: $fuente-botones;
      color: #fff;
      font-size: 12px;
      cursor: pointer;
      transition: background-color 0.5s ease;
    }
    button.fondoLoteria {
      background-color: $color-botton;
      border: 1px solid $color-botton;
      &:hover {
        background-color: #fff;
        color: $color-botton;
        transition: background-color 0.5s ease;
      }
    }
    button.fondoLotto {
      background-color: $color-lotto;
      border: 1px solid $color-lotto;
      &:hover {
        background-color: #fff;
        color: $color-lotto;
        transition: background-color 0.5s ease;
      }
    }
    button.fondoPozo {
      background-color: $color-pozo;
      border: 1px solid $color-pozo;
      &:hover {
        background-color: #fff;
        color: $color-pozo;
        transition: background-color 0.5s ease;
      }
    }
    button.fondoMillonaria {
      background-color: $color-millonaria;
      color: white;
      border: 1px solid $color-millonaria;
      &:hover {
        background-color: white;
        color: $color-millonaria;
        transition: background-color 0.5s ease;
      }
    }
    .botonEliminar{
      background-color: black;
      border: 1px solid black;
      &:hover {
        background-color: #fff;
        color: black;
        transition: background-color 0.5s ease;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .contenedor_ticket {
    .logo_ticket {
      img {
        height: 10vh;
      }
    }
  
  }
  
}