$color-header: #7c91a8;
$color-loteria: #28aae1;
$color-bingazo: #283479;
$color-lotto: #b51f20;
$color-pozo: #04b865;
$color-revancha: #fae80c;
$color-millonaria: #b51f20;

.titleBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  border-bottom: 1px solid $color-loteria;
  margin-bottom: 23px;

  p {
    font-size: 23px;
    color: $color-loteria;
    margin: 2px;
  }

  a {}
}

.containerDetails {
  padding-bottom: 10px;
  font-family: Open Sans !important;
  color: #44474a;
  background: #eee;

  .header {
    background: #021151;
    color: #ffffff;
    font-family: Open Sans !important;
    text-align: center;
    padding: 20px;
  }

  .title1 {
    font-family: Open Sans;
    font-size: 28px;
    color: #1e1e1e;
    font-family: Open Sans !important;
    text-align: center;
    padding: 20px;

    p {
      font-family: Open Sans !important;
    }
  }

  .containerInfoBox {
    padding: 0 5px 10px 5px;
    font-family: Open Sans !important;

    .titleLoteriaBox {
      display: flex;
      flex-wrap: wrap;
      background: #fff;
      background-color: $color-loteria;
      padding: 5px;
      align-items: center;
      min-height: 150px;

      h3 {
        color: white;
        font-family: Open Sans !important;

        font-size: 16px;
      }
    }

    .titleLottoBox {
      display: flex;
      flex-wrap: wrap;
      background: #fff;
      background-color: $color-lotto;
      padding: 5px;

      align-items: center;
      min-height: 150px;

      h3 {
        color: white;
        font-family: Open Sans !important;

        font-size: 16px;
      }
    }

    .titlePozoBox {
      display: flex;
      flex-wrap: wrap;
      background: #fff;
      background-color: $color-pozo;
      padding: 5px;
      align-items: center;

      min-height: 150px;

      h3 {
        color: white;
        font-family: Open Sans !important;

        font-size: 16px;
      }
    }

    .titlePozoRevanchaBox {
      display: flex;
      flex-wrap: wrap;
      background: #fff;
      background-color: $color-revancha;
      padding: 5px;
      align-items: center;
      min-height: 150px;

      h3 {
        color: white;
        font-family: Open Sans !important;

        font-size: 16px;
      }
    }

    .titleMillonariaBox {
      display: flex;
      flex-wrap: wrap;
      background: #fff;
      background-color: $color-millonaria;
      padding: 5px;
      align-items: center;
      min-height: 150px;

      h3 {
        color: white;
        font-family: Open Sans !important;

        font-size: 16px;
      }
    }

    .titleBingazoBox {
      display: flex;
      flex-wrap: wrap;
      background: #fff;
      background-color: $color-bingazo;
      padding: 5px;
      align-items: center;
      min-height: 150px;

      h3 {
        color: white;
        font-family: Open Sans !important;

        font-size: 16px;
      }
    }

    .titleLoteryBox {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      background: #fff;

      &.codigos {
        flex-direction: column;
        margin-bottom: 20px;

        .codigo {
          span {
            padding: 5px;
            margin: 5px;
          }
        }
      }

      h3 {
        font-size: 16px;
        font-family: Open Sans !important;

        font-weight: normal;
        width: 50%;
        padding: 20px 0;
        margin: 0;
        text-align: left;

        span {}
      }
    }

    .dateClientBox {
      width: 100%;

      .infoClientBox {
        display: flex;
        justify-content: space-between;

        p:nth-child(1) {
          margin-left: 20px;
        }
      }
    }

    .dateLoteryBox {

      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      background-color: white;

      &.loteria {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: $color-loteria;

        .montoBox {
          background-color: $color-loteria;
        }
      }

      &.lotto {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: $color-lotto;

        .montoBox {
          background-color: $color-lotto;
        }
      }

      &.pozo {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: $color-pozo;

        .montoBox {
          background-color: $color-pozo;
        }

      }

      &.revancha {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: $color-revancha;

        .montoBox {
          background-color: $color-revancha;
        }

      }

      &.millonaria {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: $color-millonaria;

        .montoBox {
          background-color: $color-millonaria;
        }

      }

      &.bingazo {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: $color-bingazo;

        .montoBox {
          background-color: $color-bingazo;
        }

      }



      &:nth-last-child(1) {
        border: none !important;
      }

      .infoSorteoBox {
        /*        width: 30%;
        border-right: 1px solid black;
*/
        width: 100%;
        padding: 5px;
        display: flex;
        background-color: #eee;

        p {
          margin-right: 20px;
          font-weight: bolder;
          font-family: Open Sans !important;
          font-size: 20px;
        }
      }


      .ticketBox {
        width: 400px !important;

        &.loteria {
          width: 350px !important;
          display: flex;
          justify-content: space-around;
          align-items: center;
          position: relative;
          min-height: 245px;

          .ticketImage {
            width: 100%;
          }

          .ticketText {
            position: absolute;
            right: 76px;
            bottom: 20px;
            font-style: normal;
            font-weight: bold !important;

            font-size: 40px;
            text-align: center;
            text-transform: uppercase;

            color: #000000;

            opacity: 0.7;
            margin: 0;
          }
        }

        &.lotto {
          width: 270px !important;
          min-height: 350px;


          position: relative;
          text-align: center;
          border-radius: 4px;
          font-weight: bold;

          img {
            width: 100%;
          }

          .sorteoLunes,
          .sorteoJueves {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;

            p {
              margin: 0;
              position: absolute;
              color: black !important;
            }

            .combinacion1 {
              bottom: 103px;
              left: 50%;
              transform: translateX(-50%);
              font-size: 50px;
            }

            .combinacion2 {
              bottom: 70px;
              font-size: 22px;
              left: 75px;
            }

            .combinacion3 {
              bottom: 17px;
              font-size: 18px;
              left: 9px;
            }

            .combinacion4 {
              bottom: 17px;
              font-size: 18px;
              left: 157px;
            }

            .combinacion5 {
              bottom: 32px;
              border-radius: 10px;
              right: 0;
              position: absolute;
              height: 42px;
              width: 42px;
            }

          }

          .otrosSorteos {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;

            p {
              margin: 0;
              position: absolute;
              color: black !important;
            }

            .combinacion1 {

              bottom: 113px;
              font-size: 37px;
              right: 19px;

            }

            .combinacion2 {
              bottom: 9px;
              font-size: 27px;
              right: 38px;
            }
          }

        }

        &.pozo {



          width: 360px !important;


          text-align: center;

          position: relative;
          min-height: 382px;

          .mascota {
            position: absolute;
            width: 80px;
            border-radius: 30px;
            top: -2px;
            right: 4px;
          }

          .carton {
            position: absolute;
            top: 96px;
            left: 21px;
            font-size: 16px;
            color: black;
            font-weight: bold;
          }
          .numero {
            position: absolute;
            padding: 0;
            font-size: 30px;
            font-weight: bold;
            color: black;
            margin: 0;
          }

          p.numero:nth-of-type(1) {
            top: 177px;
            left: 37px;
          }

          p.numero:nth-of-type(2) {
            top: 177px;
            left: 101px;
          }

          p.numero:nth-of-type(3) {
            top: 177px;
            left: 165px;
          }

          p.numero:nth-of-type(4) {
            top: 177px;
            left: 228px;
          }

          p.numero:nth-of-type(5) {
            top: 177px;
            left: 292px;
          }

          p.numero:nth-of-type(6) {
            top: 224px;
            left: 68px
          }

          p.numero:nth-of-type(7) {
            top: 224px;
            left: 132px
          }

          p.numero:nth-of-type(8) {
            top: 224px;
            left: 196px
          }

          p.numero:nth-of-type(9) {
            top: 224px;
            left: 260px
          }

          p.numero:nth-of-type(10) {
            top: 272px;
            left: 100px;
          }

          p.numero:nth-of-type(11) {
            top: 272px;
            left: 164px;
          }




          img {
            width: 100%;
          }


        }

        &.revancha {


          width: 350px !important;


          background-color: white;
          text-align: center;

          position: relative;
          min-height: 274px;



          .mascota {
            position: absolute;
            width: 80px;
            border-radius: 30px;

            top: -7px;
            right: 1px;

          }


          .numero {
            position: absolute;
            padding: 0;
            font-size: 30px;
            font-weight: bold;
            color: black;
            margin: 0;
          }

          .carton {
            position: absolute;
            bottom: -6px;
            left: 46px;
            font-size: 16px;
            color: black;
            font-weight: bold;
          }

          p.numero:nth-of-type(1) {
            top: 142px;
            left: 44px;
          }

          p.numero:nth-of-type(2) {
            top: 142px;
            left: 94px;
          }

          p.numero:nth-of-type(3) {
            top: 142px;
            left: 144px;
          }

          p.numero:nth-of-type(4) {
            top: 142px;
            left: 194px;
          }

          p.numero:nth-of-type(5) {
            top: 142px;
            left: 244px;
          }

          p.numero:nth-of-type(6) {
            top: 142px;
            left: 294px;
          }

          p.numero:nth-of-type(7) {
            top: 194px;
            left: 65px;
          }

          p.numero:nth-of-type(8) {
            top: 194px;
            left: 115px;
          }

          p.numero:nth-of-type(9) {
            top: 194px;
            left: 165px;
          }

          p.numero:nth-of-type(10) {
            top: 194px;
            left: 215px;
          }

          p.numero:nth-of-type(11) {
            top: 194px;
            left: 265px;
          }


          img {
            width: 100%;
          }


        }

        &.bingazo {

          width: 370px !important;
          position: relative;

          background-color: #f2f2f2;
          text-align: center;
          border-radius: 10px;


          img {
            width: 100%;
          }

          min-height: 500px;
          width: 100%;
          display: flex;
          justify-content: center;
          position: relative;
          flex-wrap: wrap;
          /* Rectangle 45 */

          background: #ffffff;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
          border-radius: 20px;

          .carton {
            font-weight: bold;
            position: absolute;
            top: 107px;
            left: 225px;
          }

          .fruta {
            width: 40px;
            border-radius: 30px;

            position: absolute;
            bottom: 76px;
            left: 192px;

          }

          .numeros {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin: 60px;
            position: absolute;
            top: 125px;

            p {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 2px;
              width: 40px;
              height: 34px;
              font-weight: bold;
              color: #444;
              margin: 2px;
            }

            img {
              width: 40px;
              height: 40px;
              border-radius: 120px;
              background-color: #fff;
              padding: 5px;
            }
          }
        }
      }


      .dateTicketBox {
        width: 25%;
        padding: 5px;
        background: #f9f9f9;

        p {
          font-family: Open Sans !important;
          font-weight: 500;
          font-size: 15px;
        }

        .combinacion {
          margin: 0;
          white-space: normal;
        }
      }

      .numberBox {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 25%;
        background: #fff;
        padding: 5px;

        text-align: center;

        p {
          font-family: Open Sans !important;
          font-weight: bold;
          font-size: 30px;
          margin: 0;
        }

        hr {
          visibility: hidden;
        }
      }

      .montoBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        padding: 5px;
        text-align: center;

        p {
          font-weight: bold;
          font-family: Open Sans !important;
          font-size: 30px;
          margin: 0;
          color: white;
        }

        hr {
          visibility: hidden;
        }
      }

      .infoTicketBox {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        /*         display: grid;
        grid-template-columns: repeat(3, 1fr);
 */

        font-size: 15px;
        border-right: 1px solid black;
        width: 70%;
      }

      .ganadorTitleBox {
        align-self: flex-start;
        width: 100%;

        &.loteriaColor {
          color: $color-loteria;
        }

        &.lottoColor {
          color: $color-lotto;
        }

        &.pozoColor {
          color: $color-pozo;
        }

        &.pozoRevanchaColor {
          color: $color-revancha;
        }

        &.millonariaColor {
          color: $color-millonaria;
        }

        &.bingazoColor {

          color: $color-bingazo;
        }

        p {
          font-size: 20px;

          margin: 15px 0 8px 0;
        }
      }

      .ganadorBoxMobile {
        display: none;
      }

      .ganadorBox {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        margin-bottom: 20px;
        -webkit-box-shadow: 5px 0px 18px 3px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 5px 0px 18px 3px rgba(0, 0, 0, 0.3);
        box-shadow: 5px 0px 18px 3px rgba(0, 0, 0, 0.3);

        .ganadorHeaderBox {
          display: flex;
          align-items: center;
          justify-content: space-around;
          border-radius: 12px 12px 0 0;
          width: 100%;
          min-height: 40px;

          &.loteriaBackground {
            background-color: $color-loteria;
          }

          &.lottoBackground {
            background-color: $color-lotto;
          }

          &.pozoBackground {
            background-color: $color-pozo;
          }

          &.millonariaBackground {
            background-color: $color-millonaria;
          }

          &.bingazoBackground {
            background-color: $color-bingazo;
          }

          p {
            width: 20%;
            font-size: 14px;
            font-family: Open Sans !important;

            text-align: center;
            margin: 5px 0;
            color: white;
          }

          .ganadorFraccion {
            width: 10%;
          }
        }

        .ganadorDetailsBox {
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 100%;
          min-height: 40px;

          p {
            width: 20%;
            font-size: 14px;
            font-family: Open Sans !important;

            text-align: center;
            margin: 5px 0;
            border-bottom: 1px solid black;
          }

          &:nth-last-child(1) p {
            border: none;
          }

          .ganadorFraccion {
            width: 10%;
            text-align: center;
          }
        }
      }
    }

  }

  .totalBox {
    width: 100%;
    margin: auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    p {
      font-size: 28px;
      font-family: Open Sans !important;
      font-weight: 800;
      line-height: 35px;
      color: #021151;
      margin: 0 30px;
      text-align: right;
      padding-top: 15px;
    }
  }
}

.mensajeButtonBox {
  margin: auto;
  margin-bottom: 20px;

  padding: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #c3c3c3;

  &:hover {
    background-color: green;
  }

  p {
    font-family: Open Sans !important;
    font-size: 23px;
    color: green;
  }

  &:hover p {
    color: white;
  }
}

@media screen and (max-width: 1000px) {
  .containerDetails {
    .containerInfoBox {
      .dateLoteryBox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        .infoSorteoBox {
          width: 100%;
          margin: 0;
          border: none;
          border-bottom: 1px solid black;
        }

        .ticketBox {}

        .numberBox {
          width: 50%;
          border: none;
          text-align: left;
          margin-bottom: 20px;

          hr {
            visibility: hidden;
          }
        }

        .montoBox {
          width: 50%;
          margin-bottom: 20px;

          hr {
            visibility: hidden;
          }
        }

        .ganadorTitleBox {
          width: 100%;
          border-bottom: 1px solid black;
          margin-bottom: 10px;
        }

        .ganadorBox {
          display: none;
        }

        .ganadorBoxMobile {
          display: flex;
          flex-direction: column;
          width: 100%;
          border-radius: 12px;
          margin-bottom: 10px;
          -webkit-box-shadow: 5px 0px 18px 3px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 5px 0px 18px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 0px 18px 3px rgba(0, 0, 0, 0.3);

          .ganadorHeaderBox {
            width: 100%;
            border-radius: 12px 12px 0 0;
            padding: 10px;

            &.loteriaBackground {
              background-color: $color-loteria;
            }

            &.lottoBackground {
              background-color: $color-lotto;
            }

            &.pozoBackground {
              background-color: $color-pozo;
            }

            &.pozoRevanchaBackground {
              background-color: $color-revancha;
            }

            &.millonariaBackground {
              background-color: $color-millonaria;
            }


            &.bingazoBackground {
              background-color: $color-bingazo;
            }

            p {
              color: white;
              font-weight: bold;
              font-size: 16px;
              margin: 0;
            }
          }

          .ganadorDetailsBox {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 20px;
            border-radius: 0 0 12px 12px;

            p {
              font-size: 12px;
              font-weight: bold;
              width: 50%;
              border-bottom: 1px solid black;

              &:nth-child(even) {
                text-align: right;
              }

              &:nth-child(odd) {
                text-align: left;
              }

              &:nth-last-child(1),
              &:nth-last-child(2) {
                border: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .containerDetails {
    .containerInfoBox {
      padding: 0;
      .titleLoteryBox{
        padding: 0;
      }
      .dateLoteryBox {
        flex-direction: column;
        justify-content: center;

        .infoSorteoBox {
          width: 100%;
          padding: 0;
          margin: 0;
          border: none;
          border-bottom: 1px solid black;
          text-align: center;
        }


        .numberBox {
          width: 100%;
        }

        .montoBox {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .containerDetails {
    .containerInfoBox {
      .dateLoteryBox {
        .ganadorBoxMobile {
          .ganadorDetailsBox {
            p {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}