$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-bingazo: #283479;
.boletin_oficial {
  h1 {
    color: $color-bingazo;
  }
}
