<div class="boletin_oficial">
  <h1>Boletín Oficial</h1>
</div>

<div class="container_boletin" *ngIf="showBox">
  <div class="input_content">
    <label for="">Selecciona el numero del sorteo:</label>
    <select
      name="sorteoGanador"
      id="sorteoGanador"
      placeholder=""
      (change)="changeBoletin()"
      [(ngModel)]="sorteoGanador"
    >
      <option value="default" selected disabled>Seleccione un sorteo</option>
      <option *ngFor="let option of sorteosJugados" [value]="option.sorteo">
        N° {{ option.sorteo }}
      </option>
    </select>
  </div>
  <img [src]="boletin" alt="Imagen del boletin de pega3" />
</div>
<app-loader
  loader="pega3"
  [message]="loadingMessage"
  *ngIf="isLoading"
></app-loader>
