<div class="contenedor_ticket">
    <div class="logo_ticket">
        <img src="../../../../assets/img/revancha-sombra.png" alt="">
    </div>
    <div>
        <hr size="2px" />
    </div>
    <div class="scroll">
        <revancha-ticket-consulta [ticket]="ticketGanador" [mascotaPath]="mascotaPath" [mascota]="mascota"></revancha-ticket-consulta>
    </div>




    <div class="boton_comprar">
        <button (click)="verUltimoBoletin()">VER BOLETIN</button>
        <button (click)="verResultados()">BUSCAR OTROS RESULTADOS</button>
    </div>
</div>