$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-loteria: #7c91a8;

.paymentBox {
  width: 98%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;

  .mensajeBox {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    height: 500px;

    .ticket {
      height: 70%;
      margin: 0 auto;
    }

    .textBox {
      position: absolute;
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column; 
      font-family: Open Sans;
      color: #1e1e1e;
      font-family: Open Sans !important;
      font-weight: bold;
      text-align: center;
      padding: 20px;
      right: 38%;
      transform: translateX(38%);

      img {
        width: 90px;
      }

      p:nth-of-type(3),
      p:nth-of-type(4) {
        margin: 0;
      }

    }
  }

  .buttonsBox {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: 0 auto;

    button {

      display: block;
      padding: 15px;
      border-radius: 30px;
      font-family: $fuente-botones;
      font-size: 16px;
      margin: 10px;
      width: 100%;
      max-width: 300px;
      cursor: pointer;
      color: #fff;
      background-color: green;
      border: 1px solid green;

      &:hover {
        background-color: white;
        color: green;
        transition: background-color 0.4s ease;
      }

      &:nth-of-type(1) {
        background-color: #021151;

        &:hover {
          color: #021151;
          background-color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .paymentBox {
    width: 95%;
  }
}