$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-botton: #2f72b9;

.contenedor_ticket {
  width: 90%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  border-radius: 30px;
  background-color: $color-botton;

  .logo_ticket {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;

    img {
      height: 120px;
      margin: auto;
      margin: 15px auto;
    }
  }

  hr {
    width: 90%;
    margin: auto;
    color: #fff;
  }

  .scroll {
    overflow: auto;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
      width: 10px;
    }

    /* &::-webkit-scrollbar-button:increment,
        &::-webkit-scrollbar-button {
          display: none;
        } */

    &::-webkit-scrollbar-thumb {
      background-color: #fff;
      border-radius: 20px;
      border: 2px solid #fff;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    .contenedor_informacion_ticket {
      width: 90%;
      display: flex;
      margin: 10px auto;
      background-color: #f2f2f2;
      border-radius: 5px;
      box-sizing: border-box;

      .contenedor_informacion_ticket_izquierdo {
        margin: 0px auto;
        padding: 10px 8px;

        .contenedor_informacion_ticket_izquierdo_logo {
        }

        .contenedor_informacion_ticket_izquierdo_barra {
          img {
            width: 40px;
            height: 120px;
            margin: auto;
          }
        }
      }
      .contenedor_informacion_ticket_derecho {
        width: 100%;
        margin: auto;

        .ticket_titulo {
          display: flex;
          margin: auto;
          justify-content: space-around;
          align-items: center;

          img {
            width: 40px;
          }
          h3 {
            font-family: $fuente-titulo;
            font-size: 16px;
            margin-left: 10px;
          }

          p {
            margin: 0px;
            font-family: $fuente-subtitulo;
            font-size: 10px;
            margin-right: 10px;
          }
        }

        .ticket_monto {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding-right: 14px;

          p:nth-child(1) {
            font-size: 32px;
            -webkit-text-stroke: 2px $color-botton;
            color: #fff;
            font-family: $fuente-titulo;
            margin: 10px 0px;
          }

          p:nth-child(2) {
            font-size: 14px;
            margin: 0px;
            margin-bottom: 5px;
            color: $color-botton;
            font-family: $fuente-subtitulo;
          }
        }

        .ticket_entero_fraccion {
          display: flex;
          justify-content: space-between;
          font-family: $fuente-subtitulo;

          .ticket_entero {
            padding-left: 13px;

            h5 {
              margin-top: 7px;
              margin-bottom: 8px;
              color: #000;
              font-size: 12px;
              text-align: left;
            }

            div {
              display: flex;
              justify-content: center;
              margin: 0 0 15px 0;

              p {
                width: 30px;
                height: 30px;
                background-color: #fff;
                font-family: $fuente-subtitulo;
                font-size: 14px;
                color: #000;
                margin: 0px 2px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }

          .ticket_fraccion {
            padding-right: 15px;

            h5 {
              margin-top: 7px;
              margin-bottom: 8px;
            }

            div {
              display: flex;
              justify-content: center;

              p {
                width: 30px;
                height: 30px;
                background-color: #fff;
                font-family: $fuente-subtitulo;
                font-size: 14px;
                color: #000;
                margin: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }

  .boton_comprar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      width: 90%;
      padding: 20px 30px;
      background-color: $color-botton;
      border: 1px solid #fff;
      border-radius: 40px;
      margin: 10px auto;
      font-family: $fuente-botones;
      color: #fff;
      font-size: 12px;
      cursor: pointer;
      transition: background-color 0.5s ease;

      &:hover {
        background-color: #fff;
        color: $color-botton;
      }
    }
  }
}

.texto {
  color: #fff;
  font-family: $fuente-titulo;
  font-size: 14px;
  text-align: center;
  margin: auto;
  margin-top: 5px;
}

.ticket_entero {
  padding-left: 13px;

  h5 {
    margin-top: 18px;
    margin-bottom: 18px;
    text-align: center;
    font-family: $fuente-titulo;
    font-size: 17px;
    color: #fff;
  }

  div {
    display: flex;
    justify-content: center;
    margin: 0 0 15px 0;

    p {
      width: 40px;
      height: 40px;
      background-color: #fff;
      font-family: $fuente-subtitulo;
      font-size: 14px;
      color: #000;
      margin: 0px 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
    }
  }
}
