<div class="contenedor_ticket">
    <div class="logo_ticket">
        <img src="../../../../assets/img/loteria-sombra.png" alt="">
    </div>
    <div>
        <hr size="2px" />
    </div>
    <div class="scroll">
        <app-loteria-nacional-ticket [ticket]="ticketGanador"></app-loteria-nacional-ticket>
    </div>
    <div>
        <hr size="2px" style="margin: 18px auto;" />
    </div>

    <div class="boton_comprar">
        <button (click)="verUltimoBoletin()">VER BOLETIN</button>
        <button (click)="verResultados()">BUSCAR OTROS RESULTADOS</button>
    </div>
</div>