.container {
    width: 100%;
    margin: 20px auto;
  
    /* display: grid;
        grid-template-columns: 71% 1fr;
        gap: 30px; */
  
    display: flex;
    justify-content: space-around;
  
    .consultaBox {
      width: 65%;
    }
  
    .selectorBox {
      width: 30%;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .masResultados {
      background-color: #b51f20;
      border: 1px solid #b51f20;
  
      &:hover {
        color: #b51f20;
      }
    }
    .container {
      width: 95%;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: auto;
      .consultaBox {
        width: 100%;
      }
      .selectorBox {
        display: none;
      }
    }
  }
  