<div class="contenedor_ticket">
  <div class="logo_ticket">
    <img src="assets/img/bingazo-sombra.png" alt="" />
  </div>
  <div>
    <hr size="2px" />
  </div>
  <ng-container *ngIf="!isError">
    <div class="scroll">
      <img [src]="ultimoResultado" alt="">
    </div>
  </ng-container>
  <ng-container *ngIf="isError">
    <div class="consultaError">
      Los resultados no están disponibles por el momento, por favor revisa más
      tarde
    </div>
  </ng-container>

  <div class="boton_comprar">
    <button (click)="verUltimoBoletin()">VER BOLETIN</button>
    <button (click)="verResultados()">OTROS RESULTADOS</button>
  </div>
</div>