$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-botton: #2f72b9;

.container_loteria_nacional {
  width: 100%;
  margin: 0 auto;
  display: grid;
  img {
    width: 100%;
  }
}
