$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-botton: #2f72b9;
.boletin_oficial {
  width: 100%;
  height: 65px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px 15px 0 0;

  h1 {
    font-size: 24px;
    color: black;
    font-family: $fuente-parrafo;
    margin-left: 20px;
  }
}
.container_loteria_nacional {
  width: 100%;
  margin: 0 auto;
  display: grid;
  img {
    width: 100%;
  }

  .boletinNotFound {
    width: 100%;
    display: flex;
    justify-content: center;
    p {
      font-family: $fuente-parrafo;
      font-size: 16px;
      text-align: center;
      a {
        text-decoration: none;
        color: black;
        font-family: $fuente-titulo;
        cursor: pointer;
      }
    }
  }
}
