<div class="bannerBox">
    <div class="welcomeBox">
        <h4 class="tagText">LOTERÍA NACIONAL</h4>
        <h1 class="welcomeText">BIENVENIDO</h1>
        <p class="loginText"></p>
    </div>
</div>
<div class="loginBox">
    <div class="logoBox">
        <img class="logoImg" src="assets/logo.png" alt="">
    </div>
    <div class="textBox">
        <p class="formHeadeText">CUENTA</p>
        <p class="formTagText"></p>
    </div>
    <div class="formBox">
        <form class="loginForm">
            <input type="text" placeholder="Correo">
            <input type="password" placeholder="Contraseña">
            <input class="loginCheckbox" type="checkbos">
            <p class="passwordForgottenText">¿Olvidaste tu contraseña?</p>
        </form>
    </div>
    <div class="buttonBox">
        <button class="loginButton">INICIAR SESIÓN</button>
    </div>
</div>