<div class="contenedor">
  <div class="bannerBox">
    <div class="welcomeBox">
      <h4 class="tagText">LOTERÍA NACIONAL</h4>
      <h1 class="welcomeText">BIENVENIDO</h1>
      <hr class="hr">
      <p class="loginText">Revisa gratis los pronosticos, en cualquier momento.</p>
      <p class="loginText">Ve las jugadas especiales en vivo durante los partidos.</p>
      <p class="loginText">Visitanos desde tu computadora, tableta o celular.</p>
      <p class="loginText">Compatible con Android y Iphone.</p>
    </div>
  </div>
  <div class="loginBox">
    <div class="logoBox">
      <img class="logoImg" src="../../../../assets/loteria nacional.png" alt="">
    </div>
    <div class="textBox">
      <p class="formHeadeText">CUENTA</p>
      <p class="formTagText">Es gratis abrir una cuenta</p>
    </div>
    <div class="formBox">
      <form class="loginForm">
        <input type="text" placeholder="Correo">
        <input type="password" placeholder="Contraseña">
        <div class="acceptedBox">
            <div class="checboxBox">
                <input class="loginCheckbox" type="checkbox" > <p>Mantener sesion</p> 
            </div>
            <a href="#" alt="" class="passwordForgottenText">¿Olvidaste tu contraseña?</a>
        </div>
      </form>
    </div>
    <div class="buttonBox">
      <button class="loginButton">INICIAR SESIÓN</button>
    </div>
  </div>
</div>
