<div class="container_consulta">
  <div class="boletin_oficial">
    <h1>CONSULTAS</h1>
  </div>
  <div class="cuerpo_boletin">
    <div class="explicacion">
      <div class="content_explicacion">
        <p class="icono">1</p>
        <p>Ingresa la combinación principal de tu boleto.</p>
      </div>
      <div class="content_explicacion">
        <p class="icono">2</p>
        <p>Luego elige la fecha del sorteo.</p>
      </div>
      <div class="content_explicacion">
        <p class="icono">!</p>
        <p>Los boletos a consultar deben corresponder a la misma fecha y puedes revisar de los ultimos 3 meses.</p>
      </div>
    </div>
    <div class="separador">
      <hr>
    </div>
    <div class="consulta_boleto">
      <h3 class="">Consulta por Boleto y Sorteo</h3>

      <form action="" class="formulario">
        <div class="input">
          <div class="input_content">
            <label for="">Ingresa numero(s) de boleto(s):</label>
            <input name="combinaciones" type="text" (input)="validateField()" [(ngModel)]="combinacionesAux">
          </div>
          <p>Ingresa los 5 digitos de la combinación principal de tu boleto. Puedes consultar varios boletos a la vez,
            ejemplo: 12345,67897 (5 digitos)
        </div>

        <div class="input">
          <div class="input_content">
            <label for="">Selecciona el numero del sorteo:</label>
            <select name="sorteoGanador" id="sorteoGanador" placeholder="" [(ngModel)]="sorteoGanador">
              <option [value]="null"></option>
              <option *ngFor="let option of sorteosJugados" [value]="option.sorteo">N° {{option.sorteo}} -
                {{option.fecha}}</option>
            </select>
          </div>
          <button (click)="buscarBoletoGanador()">VER RESULTADOS</button>
        </div>
      </form>
    </div>

    <div class="separador">
      <hr>
    </div>

    <div class="consulta_boleto espacio">
      <h3 class="">Consulta por Boletin de Resultados</h3>
      <form action="" class="formulario">
        <div class="input">
          <div class="input_content">
            <label for="">Selecciona el numero del sorteo:</label>
            <select name="sorteoBoletin" id="sorteoBoletin" placeholder="" [(ngModel)]="sorteoBoletin">
              <option [value]="null"></option>
              <option *ngFor="let option of sorteosJugados" [value]="option.sorteo">N°
                {{option.sorteo}} -
                {{option.fecha}}</option>
            </select>
          </div>
          <button (click)="buscarBoletin()">VER RESULTADOS</button>
        </div>
      </form>
    </div>
  </div>
  <div class="pie_boletin"></div>
</div>