<div class="container">
    <facilotto-consulta class="consultaBox" (resultados)="toggleResultados($event)">
    </facilotto-consulta>
    <facilotto-ultimo-resultado class="selectorBox"></facilotto-ultimo-resultado>
    <ventas-menu-box class="menuBox" [miniBox]="true"></ventas-menu-box>
    <div class="modalBox" *ngIf="showResultados">
        <consultas-resultados tipoLoteria="18" (close)="closeBox()" *ngIf="showResultados" [resultados]="resultados">
        </consultas-resultados>
    </div>

</div>