$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-pozo: #04b865;
.boletin_oficial {
  h1 {
    color: $color-pozo;
  }
}
