<div class="resultBox">
<!--   <a routerLink="/inicio">INICIO</a> -->
  <a routerLink="/consultas/loteria" routerLinkActive="active loteria"
    >LOTERIA NACIONAL</a
  >
  <a routerLink="/consultas/lotto" routerLinkActive="active lotto">LOTTO</a>
  <a routerLink="/consultas/facilotto" routerLinkActive="active facilotto">FACILOTTO</a>
  <a routerLink="/consultas/pozo" routerLinkActive="active pozo"
    >POZO MILLONARIO</a
  >
  <a routerLink="/consultas/revancha" routerLinkActive="active pozo"
    >POZO REVANCHA</a
  >
  <a routerLink="/consultas/millonaria" routerLinkActive="active millonaria"
    >LA MILLONARIA</a
  >
  <a routerLink="/consultas/pega3/boletin" routerLinkActive="active pega3"
    >PEGA3</a
  >
  <a routerLink="/consultas/bingazo" routerLinkActive="active bingazo"
    >BINGAZO</a
  >
  <a [routerLink]="comprasLink" routerLinkActive="active">COMPRA YA</a>
</div>
<hr />
