$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-botton: #28aae1;
$color-lotto: #b51f20;
$color-facilotto: #EA5B80;
$color-pozo: #04b865;
$color-millonaria: #b51f20;
//$color-pozo: #057333;

.resultBox {
  width: 95%;
  margin: auto;
  font-family: $fuente-parrafo;
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    box-sizing: border-box;

    width: 18%;
    height: 53px;
    text-align: center;
    border: 1px solid #011689;
    border-radius: 26px;

    color: #011689;
    text-decoration: none;
    font-size: 14px;
    font-style: italic;
    padding: 7.9px 12px;
    font-family: $fuente-subtitulo;
    margin-right: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:last-child {
      font-size: 20px;
      text-transform: uppercase;

      text-decoration: underline;
      font-weight: bold;
      font-style: italic;
    }
  }

  .active {
    background-color: $color-botton;
    font-style: normal;
    color: #fff;
    border: none;
  }

  .loteria {
    background-color: $color-botton;
  }

  .lotto {
    background-color: $color-lotto;
  }

  .facilotto {
    background-color: $color-facilotto;
  }

  .pozo {
    background-color: $color-pozo;
  }
  .millonaria {
    background-color: $color-millonaria;
  }
}

@media screen and (max-width: 1000px) {
  .resultBox {
    overflow-x: scroll;
    margin-top: 20px;
    a {
      font-size: 14px;
      width: 150px;

      padding: 10px;
      margin-bottom: 20px;
      &:last-child {
        right: unset;
        position: relative;
      }
    }
  }
}
