$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

$color-botton: #2f72b9;
$color-lotto: #b51f20;
$color-pozo: #04b865;
$color-millonaria: #04b865;
//$color-pozo: #057333;

.resultBox {
  width: 95%;
  margin: auto;
  font-family: $fuente-parrafo;
  margin-top: 40px;

  a {
    text-decoration: none;
    font-size: 14px;
    padding: 7.9px 12px;
    font-family: $fuente-subtitulo;
    color: #000;
    margin-right: 7px;
    cursor: pointer;
  }

  .active {
    background-color: $color-botton;
    color: #fff;
  }

  .loteria {
    background-color: $color-botton;
  }

  .lotto {
    background-color: $color-lotto;
  }

  .pozo {
    background-color: $color-pozo;
  }
  .millonaria {
    background-color: $color-millonaria;
  }
}

@media screen and (max-width: 1000px) {
  .resultBox {
    width: 95%;
    display: flex;
    flex-direction: column;

    a {
      font-size: 14px;
    }
  }
}
