<div class="container" [ngClass]="homeClass">
  <a
    style="display: none"
    [routerLink]="linkLoteriaNacional"
    routerLinkActive="title loteria"
  >
    LOTERIA NACIONAL
  </a>

  <a
    style="display: none"
    [routerLink]="linkLotto"
    routerLinkActive="title lotto"
  >
    LOTTO
  </a>

  <a
    style="display: none"
    [routerLink]="linkPozoMillonario"
    routerLinkActive="title pozo"
  >
    POZO MILLONARIO
  </a>

  <a
    style="display: none"
    [routerLink]="linkLaMillonaria"
    routerLinkActive="title millonaria"
  >
    LA MILLONARIA
  </a>

  <a
    class="contenedor_loteria loteria"
    [href]="getLink(linkLoteriaNacional)"
    (click)="checkToken($event)"
  >
    <img src="assets/img/loteria-sombra-2.png" />
    Jugar
  </a>

  <a
    class="contenedor_loteria lotto"
    [href]="getLink(linkLotto)"
    (click)="checkToken($event)"
  >
    <img src="assets/img/lotto-sombra.png" alt="" />
    Jugar
  </a>

  <a
    class="contenedor_loteria pozo"
    [href]="getLink(linkPozoMillonario)"
    (click)="checkToken($event)"
  >
    <img src="assets/img/pozo-sombra.png" alt="" />
    Jugar
  </a>

  <a
    class="contenedor_loteria millonaria"
    [href]="getLink(linkLaMillonaria)"
    (click)="checkToken($event)"
  >
    <img src="assets/img/millonaria-sombra.png" alt="" />
    Jugar
  </a>

  <a
    class="contenedor_loteria juegosOnline"
    [href]="linkJuegosOnline"
  >
    <img src="assets/img/juegos-online.png" alt="" />
    Jugar
  </a>
</div>

<app-error
  [msg]="errorMessage!"
  (closeError)="closeError()"
  [title]="errorTitle!"
  *ngIf="isError"
></app-error>
