$color-loteria: #021151;
$color-lotto: #b51f20;
$color-pozo: #fae80c;
$color-millonaria: #b51f20;
//$color-pozo: #057333;

$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

.container {
  width: 100%;
  margin: auto;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .contenedor_loteria {
    display: flex;
    padding: 20px 0 0 0;
    align-items: flex-start;
    justify-content: space-around;

    width: 25%;
    height: 70px;
    margin: 0;
    font-family: "Helvetica";
    font-style: italic;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;

    color: #ffffff;
    transition: height 0.5s ease-in-out;
    &:hover,
    &.selected {
      height: 80px;
      transition: height 0.5s ease-in-out;
    }
    .mobile{
      background-color: white;
      border-radius: 102px;
      display: flex;
      align-items: center;
      padding: 5px 10px;
    }
    
    &.millonaria {
      .mobile {
        color: $color-millonaria;
      }
      img {
        width: 110px;
      }
    }
    &.pozo {
      img {
        margin-top: -23px;
        width: 80px;
      }
      .mobile {
        color: $color-pozo;
      }
    }

    &.lotto {
      .mobile {
        color: $color-lotto;
      }
      img {
        width: 80px;
      }
    }

    &.loteria {
      .mobile {
        color: $color-loteria;
      }
      img {
        width: 90px;
      }
    }

    img {
      width: 70px;
      margin: 0;
      background-color: transparent;
    }

    .boton {
      padding: 5px 10px;
      border-radius: 30px;
      position: relative;
      bottom: 0px;
      text-decoration: none;
      text-align: center;
      color: #fff;
      font-family: $fuente-botones;
      font-size: 10px;
    }
  }

  .active {
    display: none;
    transition: all 0.3s ease;
  }
}

.loteria {
  color: $color-loteria;
  background-color: $color-loteria;
}

.lotto {
  color: $color-lotto;
  background-color: $color-lotto;
}

.pozo {
  color: $color-pozo;
  background-color: $color-pozo;
}

.millonaria {
  color: $color-millonaria;
  background-color: $color-millonaria;
}

@media screen and (max-width: 1000px) {
  .container {
    overflow-x: scroll;

    &.home {
      .contenedor_loteria {
        img {
          width: 70%;
        }

        &:hover img {
          width: 80%;
        }
      }
    }
    .title {
      display: none !important;
    }
    .contenedor_loteria {
      width: 50%;
      padding: 0 20px;

      img {
        width: 80%;
      }

      .mobile {
        display: none !important;
      }
    }
  }
}

@media screen and (min-width: 1500px) and (max-width: 2500px) {
  .container {
    .contenedor_loteria {
      height: 90px !important;
    }
  }
}

@media screen and (min-width: 2501px) {
  .container {
    .contenedor_loteria {
      height: 150px !important;
    }
  }
}
