$color-loteria: #28aae1;
$color-lotto: #b51f20;
$color-pozo: #fae80c;
$color-millonaria: #b51f20;
//$color-pozo: #057333;

$fuente-titulo: "Monstserrat Bold";
$fuente-subtitulo: "Monstserrat SemiBold";
$fuente-parrafo: "Monstserrat Regular";
$fuente-botones: "Monstserrat SemiBold";

.container {
  width: 85%;
  margin: auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  .contenedor_loteria {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 20%;
    height: 50px;
    margin: 20px 20px 20px 0;
    box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.25);
    border-radius: 45.5px;
    font-family: "Helvetica";
    font-style: italic;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;

    color: #ffffff;

    &.millonaria img {
      width: 110px;
    }
    &.millonaria:hover img {
      width: 120px;
    }

    &.juegosOnline {
      display: none;
    }

    img {
      width: 70px;
      margin: 0;
      transition: width 0.3s ease;
      background-color: transparent;
    }

    &:hover img {
      width: 80px;

      transition: width 0.3s ease;
    }
    .boton {
      padding: 5px 10px;
      border-radius: 30px;
      position: relative;
      bottom: 0px;
      text-decoration: none;
      text-align: center;
      color: #fff;
      font-family: $fuente-botones;
      font-size: 10px;
    }
  }

  &.home {
    padding: 20px 0;
    .contenedor_loteria {
      width: 19%;
      height: 170px !important;
      font-size: 17px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border-radius: 5px !important;

      &:hover {
        .mobile {
          color: white !important;
        }
        &.loteria {
          .mobile {
            background-color: $color-loteria;
          }
        }
        &.lotto {
          .mobile {
            background-color: $color-lotto;
          }
        }
        &.pozo {
          .mobile {
            background-color: $color-pozo;
          }
        }
        &.millonaria {
          .mobile {
            background-color: $color-millonaria;
          }
        }
        &.juegosOnline {
          .mobile {
            background-color: #15295b;
          }
        }
      }
      .mobile {
        text-decoration: none;
        padding: 5px 20px;
        background-color: white;
        border-radius: 150px;
        border: 1px solid white;
      }
      &.loteria {
        img {
          width: 50% !important;
        }
        img:hover {
          width: 50% !important;
        }
        .mobile {
          color: $color-loteria;
        }
      }
      &.lotto {
        img {
          width: 50% !important;
        }
        img:hover {
          width: 50% !important;
        }
        .mobile {
          color: $color-lotto;
        }
      }
      &.pozo {
        img {
          width: 50% !important;
          margin-top: -30px;
        }
        img:hover {
          width: 50% !important;
        }
        .mobile {
          color: $color-pozo;
          margin-top: -35px;
        }
      }
      &.millonaria {
        img {
          width: 70% !important;
        }
        img:hover {
          width: 70% !important;
        }
        .mobile {
          color: $color-millonaria;
        }
      }
      &.juegosOnline {
        img {
          width: 50% !important;
        }
        img:hover {
          width: 50% !important;
        }
        .mobile {
          color: #15295b;
        }
      }
    }
  }
  .active {
    display: none;
    transition: all 0.3s ease;
  }
  .title {
    display: block !important;
    font-family: "Helvetica";
    font-style: italic;
    width: 25%;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    background: none !important;
    margin-right: 20px;
    &.loteria {
      border-bottom: 2px solid $color-loteria;
    }

    &.lotto {
      border-bottom: 2px solid $color-lotto;
    }

    &.pozo {
      border-bottom: 2px solid $color-pozo;
    }

    &.millonaria {
      border-bottom: 2px solid $color-millonaria;
    }
  }
}

.loteria {
  color: $color-loteria;
  background-color: $color-loteria;
}

.lotto {
  color: $color-lotto;
  background-color: $color-lotto;
}

.pozo {
  color: $color-pozo;
  background-color: $color-pozo;
}

.millonaria {
  color: $color-millonaria;
  background-color: $color-millonaria;
}

.juegosOnline {
  color: #15295b;
  background-color: #15295b;
}
@media screen and (max-width: 1000px) {
  .container {
    overflow-x: scroll;

    &.home {
      .contenedor_loteria {
        img {
          width: 70%;
        }

        &:hover img {
          width: 80%;
        }
      }
    }
    .title {
      display: none !important;
    }
    .contenedor_loteria {
      width: 50%;
      padding: 0 20px;

      img {
        width: 80%;
      }

      .mobile {
        display: none !important;
      }
    }
  }
}

@media screen and (min-width: 1500px) and (max-width: 2500px) {
  .container {
    .contenedor_loteria {
      height: 90px !important;
    }
  }
}

@media screen and (min-width: 2501px) {
  .container {
    .contenedor_loteria {
      height: 150px !important;
    }
  }
}
