<div class="container">
  <a class="contenedor_loteria loteria"  [routerLink]="linkLoteriaNacional" routerLinkActive="active">
    <img src="assets/img/loteria-sombra-2.png">
  </a>

  <a class="contenedor_loteria lotto"  [routerLink]="linkLotto" routerLinkActive="active">
    <img src="assets/img/lotto-sombra.png" alt="">
  </a>

  <a class="contenedor_loteria pozo" [routerLink]="linkPozoMillonario"  routerLinkActive="active">
    <img src="assets/img/pozo-sombra.png" alt="">

  </a>

  <a class="contenedor_loteria millonaria" [routerLink]="linkMillonaria"  routerLinkActive="active">
    <img src="assets/img/millonaria-sombra.png" alt="">

  </a>

</div>