<div class="container">
  <a [routerLink]="linkLoteriaNacional" routerLinkActive="active">
    <div class="contenedor_loteria">
      <img src="assets/img/loteria nacional.png" alt="">
      <span class="boton loteria">JUGAR</span>
    </div>
  </a>

  <a [routerLink]="linkLotto" routerLinkActive="active">
    <div class="contenedor_loteria">
      <img src="assets/img/lotto.png" alt="">
      <span class="boton lotto">JUGAR</span>
    </div>
  </a>

  <a [routerLink]="linkPozoMillonario" routerLinkActive="active">
    <div class="contenedor_loteria">
      <img src="assets/img/pozzo millonario.png" alt="">
      <span class="boton pozo">JUGAR</span>
    </div>
  </a>

</div>