<div class="container">
  <a routerLink="/lottery/loteria" routerLinkActive="active">
    <div class="contenedor_loteria">
      <img src="../../../../assets/img/loteria nacional.png" alt="">
      <span class="boton loteria">JUGAR</span>
    </div>
  </a>

  <a routerLink="/lottery/lotto" routerLinkActive="active">
    <div class="contenedor_loteria">
      <img src="../../../../assets/lotto.png" alt="">
      <span class="boton lotto">JUGAR</span>
    </div>
  </a>

  <a routerLink="/lottery/pozo-millonario" routerLinkActive="active">
    <div class="contenedor_loteria">
      <img src="../../../../assets/pozzo millonario.png" alt="">
      <span class="boton pozo">JUGAR</span>
    </div>
  </a>

</div>
